@import 'styles/settings';

@mixin fade-slider($color) {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    margin-left: calc(1px - ((100vw - 72em) / 2) - 200px);
    width: calc((100vw - 72em) / 2);
    height: 101%; // to get rid of the shadow too
    top: 0;
    background-color: $color;
    z-index: $z-base;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    margin-right: calc(1px - ((100vw - 72em) / 2) - 200px);
    width: calc((100vw - 72em) / 2);
    height: 101%; // to get rid of the shadow too
    top: 0;
    background-color: $color;
  }

  > div {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      margin-left: -200px;
      width: 100px;
      height: 100%;
      top: 0;
      background: -webkit-gradient(linear,left top,right top,from($color),to(transparent));
      background: linear-gradient(90deg, $color, transparent);
      z-index: $z-base;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      margin-right: -200px;
      width: 100px;
      height: 100%;
      top: 0;
      background: -webkit-gradient(linear,left top,right top,from(transparent),to($color));
      background: linear-gradient(90deg, transparent,$color);
    }
  }
}

.c-slider-section {
  padding: 100px 0 0;

  &:first-child {
    padding-top: 0;
  }

  @media screen and (max-width: $breakpoint-foundation-small) {
    padding: 40px 0 0;
  }
}

.slider-wrapper {
  position: relative;

  &.-white-fade {
    @include fade-slider($white);
  }

  &.-yellow-fade {
    @include fade-slider($egg-shell);
  }

  > div {
    display: block;
    width: 100%;
    height: 100%;
    margin: 20px 0 0 0;
    overflow: visible !important;

    > div {
      height: 100%;
      cursor: auto !important;
    }
  }

  &.-auto-width {
    > div {
      > div {
        width: auto !important;
      }
    }
  }
}

.slide-next,
.slide-prev {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #f65e6e;
  cursor: pointer;

  &:hover {
    background-color: darken($strong-pink, 4%);
  }

  &:active {
    background-color: $strong-pink;
  }

  &::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: transparent;
    border-top: 1.5px solid white;
    border-right: 1.5px solid white;
    box-shadow: 0 0 0 lightgray;
  }
}



.slide-next {
  left: 100%;
  transform: translate(-50%, 50%);

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
    margin-left: -1px;
  }

  &.-no-image {
    transform: translate(-50%, calc(-50% + 20px));
  }

  @media screen and (max-width: 1200px) {
    transform: translate(-100%, 50%);

    &.-no-image {
      transform: translate(-100%, calc(-50% + 20px));
    }
  }
}

.slide-prev {
  right: 100%;
  transform: translate(50%, 50%);

  &::after {
    transform: translate(-50%, -50%) rotate(-135deg);
    margin-left: 1px;
  }

  &.-no-image {
    transform: translate(50%, calc(-50% + 20px));
  }

  @media screen and (max-width: 1200px) {
    transform: translate(100%, 50%);

    &.-no-image {
      transform: translate(100%, calc(-50% + 20px));
    }
  }
}
