@import 'styles/settings';

$transition: all 0.2s;

.profile-sticky-group {
  .sticky-inner-wrapper {
    width: 100vw;
    left: 0;
    padding: 0 20px;
  }
}

.profiles-title-container {
  .profiles-title {
    font-family: $font-family-2;
    font-size: $font-size-huge;
    display: inline;
    color: $charcoal-grey;
    font-weight: bold;
    margin-right: 30px;
    transition: $transition;

    .profiles-activity {
      font-size: $font-size-x-big;
    }
  }

  &.-sticky {
    display: flex;
    align-items: center;
    padding: 10px 0;

    .profiles-title {
      transition: $transition;
      font-size: $font-size-big;
    }

    .profiles-activity {
      transition: $transition;
      font-size: $font-size-medium;
    }

    .profiles-selector-button {
      margin-top: initial;
    }
  }

  .profiles-selector-button {
    vertical-align: text-bottom;
    margin-top: 20px;

    @media print {
      display: none;
    }
  }
}

.profile-map-mobile {
  margin-bottom: 20px;
}
