@import 'styles/settings';

.c-tabs {
  .tabs-container {
    display: flex;
    justify-content: space-between;
  }

  .tabs-options {
    display: flex;
  }

  .tab {
    position: relative;
    cursor: pointer;
    line-height: $line-height-regular;
    border: 1px solid $main-dark-blue;
    text-transform: uppercase;
    padding: 7px 16px;
    opacity: 0.6;
    color:  $white;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &:first-child:last-child {
      border-radius: 5px;
    }

    &.-selected {
      opacity: 1;
      cursor: default;
      background-color: $main-dark-blue;
    }

    &[disabled=""] {
      cursor: default;
    }
  }

  &.margin-sm {
    .tabs-container {
      margin: 0 0 25px 0;
    }
  }

  &.margin-xs {
    .tabs-container {
      margin: 0 0 20px 0;
    }
  }

  &.v-toolbar {
    .tab {
      border: 0;
      background-color: $white;
      opacity: 1;
      color: $gray-500;

      &.-selected {
        background-color: $strong-pink;
        border: 0;
      }
    }
  }

  &.v-plain-text {
    .tab {
      border: 0;
      background-color: transparent;
      padding: 6px 0;

      &:first-child {
        padding-right: 20px;
      }

      &.-selected {
        border: 0;
        text-decoration: underline;
      }
    }
  }

}
