@import 'styles/settings';

.c-tabs {
  .tabs-container {
    display: flex;
    justify-content: space-between;
  }

  .tabs-options {
    display: flex;
  }

  .tab {
    position: relative;
    cursor: pointer;
    line-height: $line-height-regular;
    border: 1px solid $charcoal-grey;
    border-right: 0;
    text-transform: uppercase;
    padding: 6px 25px;
    opacity: 0.3;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &:first-child:last-child {
      border-radius: 5px;
    }

    &.-selected {
      opacity: 1;
      cursor: default;
      background-color: $charcoal-grey;
    }
  }

  &.margin-sm {
    .tabs-container {
      margin: 0 0 25px 0;
    }
  }

  &.v-toolbar {
    .tab {
      border: 0;
      background-color: $white;
      opacity: 1;

      &.-selected {
        background-color: $strong-pink;
        border: 0;
        box-shadow: inset 0 0 6px 0 #C60006;
        color: white;
      }
    }
  }

}
