@import 'styles/settings';

.c-homepage {
  overflow: hidden;

  .homepage-entrypoints {
    position: relative;
    background: linear-gradient(to bottom, $light-gray 0%, $light-gray 33.33%, $egg-shell 33.33%, $egg-shell 66.66%, $light-gray 66.66%, $light-gray 100%);

    @media only screen and (min-width: $home-entrypoint-breakpoint) {
      background: $light-gray
    }

    &.-hide-profiles {
      background: $light-gray;
    }
  }

  .homepage-map {
    margin: 60px 0 0;

    .homepage-map-sentence-selector {
      margin: 0 0 25px;
    }

    .homepage-map-container {
      margin: 0 -1.25rem;
      width: 100vw;

      @media only screen and (min-width: $breakpoint-foundation-small) {
        margin: 0 auto;
        width: 100%;
        max-width: 700px;
      }
    }

    .homepage-map-link-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 60px;
    }
  }

  .sliders {
    background-color: $white;
    padding: 60px 0;

    @media only screen and (max-width: $breakpoint-foundation-small) {
      padding: 40px 0;
    }

    .c-newsletter {
      margin-bottom: 40px;

      @media only screen and (min-width: $breakpoint-foundation-small) {
        transform: translateY(calc(50% - 8px));
        margin-bottom: 0px;
      }

      .newsletter-label {
        position: absolute;
        top: 0;
        font-family: $font-family-2;
        font-size: $font-size-xx-regular;
        color: $charcoal-grey;
        transform: translateY(calc(-100% - 8px));
      }

      .-pink {
        color: $medium-pink;
      }

      .newsletter-input-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;

        > .newsletter-email {
          flex: auto;
          height: 100%;
          font-family: $font-family-1;
          font-size: 13px;
          letter-spacing: -0.8px;
          text-align: left;
          border: 0;
          border-radius: 4px;
          background-color: $light-gray;
          color: $charcoal-grey-faded;
          text-transform: uppercase;
          padding: 1px 10px 0;
          &::placeholder {
            text-transform: uppercase;
          }
        }

        > .c-button {
          height: 100%;
          margin-left: auto;
          padding: 0 16px;
          flex: none;
          letter-spacing: -0.8px;
          font-weight: $font-weight-regular;
        }
      }
    }

    .c-slider-section:first-of-type {
      padding: 0;
    }
  }
}
