<div class="loading-wrapper">
  <%= nav %>
  <div class="l-about">
    <div class="wrap">
      <div class="cut -top"></div>
      <div class="c-anchor-list js-anchor-nav">
        <ul class="anchor-list">
          <li class="anchor-item -selected">
            <a href="#about-trase">About Trase</a>
          </li>
          <li class="anchor-item">
            <a href="#vision">What is the vision for Trase?</a>
          </li>
          <li class="anchor-item">
            <a href="#who-it-for">Who is Trase for?</a>
          </li>
          <li class="anchor-item">
            <a href="#how-does-it-work">How does it work?</a>
          </li>
          <li class="anchor-item">
            <a href="#contact-us">Contact us</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <h2 id="about-trase" class="title -anchor -medium -pink">About Trase</h2>
        <p class="paragraph">
          Trase is a supply chain transparency initiative that seeks to transform our understanding of how companies,
          governments and other actors involved in the trade of agricultural commodities are linked to impacts and
          opportunities for more sustainable production – and to place this understanding in the hands of those who can
          make a difference.
        </p>
        <p class="paragraph">
          The work of Trase is motivated in particular by the ambition set out in the sustainability pledges of an
          increasing number of governments, companies and investors to achieve deforestation free supply chains – in
          many cases by 2020. Building from the zero deforestation agenda the transparency delivered by Trase can help
          drive a step change in a wide range of environmental and social impacts associated with unsustainable
          commodity production and trade.
        </p>
        <p class="paragraph">
          At the core of the Trase initiative is <a href="/" class="content-link" target="_blank" }>trase.earth</a>, a
          new
          open-access
          information system and online platform for supply chain transparency. The platform, based on a new approach
          to mapping agricultural supply chains at scale, offers a powerful and innovative response to the
          growing and urgent need for credible information on the traceability and sustainability performance of
          commodity supply chains, covering entire countries and production systems.
        </p>
        <p class="paragraph">
          Its pioneering approach draws on vast sets of production, trade and customs data, for the first time laying
          bare the flows of globally traded commodities from production landscapes to consumer countries for entire
          countries and commodity sectors. Along the way it identifies the ports of export and import, and the
          producers, traders and transporters involved. These supply chain actors can then be linked back to
          environmental and social risk factors on the ground, as well as information on the social and governance
          factors necessary to improve conditions.
        </p>


        <h2 id="vision" class="title -anchor -medium -pink">What is the vision for Trase?</h2>
        <p class="paragraph">
          The vision of Trase is to provide, by 2021, the go-to public supply chain information system for companies,
          governments, investors and other actors seeking to transition towards more sustainable production, trade and
          consumption for the world´s major forest-risk agricultural commodities.
        </p>
        <p class="paragraph">
          Over the next five years Trase aims to cover over 70% of the total traded volume of major forest risk
          commodities, including soy, beef, palm oil, timber, pulp and paper, coffee, cocoa and aquaculture. From 2017,
          Trase will focus on expanding to include all Latin American soy, and initiating new programs of work on beef
          in Argentina, Brazil and Paraguay, palm oil in Indonesia and Colombia and coffee in Colombia. Additional
          countries and commodities will be added in subsequent years. Read the Trase vision <a
                  href="http://resources.trase.earth/documents/Trase-vision-for-2020.pdf" class="content-link"
                  target="_blank">here</a> (PDF).
        </p>

        <h2 id="who-it-for" class="title -anchor -medium -pink">Who is Trase for?</h2>
        <p class="paragraph">
          Trase seeks to transform our understanding of the sustainability of commodity supply chains, and by so
          doing to help enable a step change in the awareness, accountability and sustainability performance of the
          places and actors that drive the production, trade and consumption of major forest-risk commodities. The Trase
          initiative will support actors at every stage of the supply chain to make smarter decisions, both through
          direct use of <a href="/" target="_blank" class="content-link">trase.earth</a>, and via the
          assessments and insights that are made possible using the information Trase provides. This includes:
        </p>
        <ul>
          <li class="paragraph">
            Commodity traders striving to meet sustainability commitments and to de-risk their supply chains. The
            platform provides the data and tools to monitor company progress, demonstrate their sustainability
            credentials to consumers and business partners, identify other actors along their supply chains to cooperate
            with, and plan more sustainable sourcing strategies.
          </li>
          <li class="paragraph">
            Producer country governments who want to promote sustainable production, reduce poverty, build effective
            partnerships with companies down the supply chain, and monitor the activities of producers and exporters
            across different jurisdictions.
          </li>
          <li class="paragraph">
            Consumer country governments who want to understand and manage their countries’ socio-environmental impacts
            abroad, make sustainable procurement decisions and meet trade and sourcing sustainability commitments.
          </li>
          <li class="paragraph">
            Civil society organizations and multi-stakeholder processes committed to providing independent monitoring
            and assessment of private- and public-sector actors involved in the trade of globally significant
            commodities, including those that have made individual or collective commitments such as under the New York
            Declaration on Forests.
          </li>
        </ul>
        <p class="paragraph">
          As the platform develops Trase aims to provide specific decision support to stakeholders. For example:
          investors who want to de-risk their portfolios, manufacturers and retailers as well as consumer groups
          committed to more sustainable consumption, and journalists and campaigning groups who play a vital watchdog
          role in strengthening the accountability of global supply chains.
        </p>

        <h2 id="how-does-it-work" class="title -anchor -medium -pink">How does it work?</h2>

        <h3 id="partners" class="title -anchor -medium-small -grey">Partners</h3>
        <p class="paragraph">
          Trase is a partnership between the Stockholm Environment Institute and Global Canopy Programme.
          We work closely with the European Forest Institute, Vizzuality, and many
          other partners.
        </p>
        <ul class="logo-list">
          <li class="logo-item -sei">
            <a href="https://sei-international.org/" target="_blank" rel="noopener noreferrer">
              <img src="/images/partners/SEI@2x.png" alt="Stockholm Environment Institute">
            </a>
          </li>
          <li class="logo-item -gcp">
            <a href="http://globalcanopy.org/" target="_blank" rel="noopener noreferrer">
              <img src="/images/partners/GCP@2x.png" alt="Global Canopy Programme">
            </a>
          </li>
          <li class="logo-item -efi">
            <a href="http://www.efi.int/portal/" target="_blank" rel="noopener noreferrer">
              <img src="/images/funders/EFI@2x.png" alt="EFI">
            </a>
          </li>
          <li class="logo-item -vizzuality">
            <a href="http://www.vizzuality.com/" target="_blank" rel="noopener noreferrer">
              <img src="/images/partners/vizzuality@2x.png" alt="Vizzuality">
            </a>
          </li>
        </ul>
        <p class="paragraph">
          These include Agrosatelite,
          BV Rio,
          Chalmers University,
          Conservation International,
          Gibbs Land Use and Environment Laboratory at Wisconsin University,
          International Institute for Sustainability,
          Imaflora,
          InfoAmazonia,
          León University,
          Louvain University,
          Luc Hoffman Institute,
          The Nature Conservancy,
          Transitions,
          University of Bonn,
          University of Hawai’i,
          University of Santa Barbara,
          University of Sao Paulo,
          World Conservation Monitoring Centre,
          World Resources Institute and WWF.
        </p>

        <h3 id="funders" class="title -anchor -medium-small -grey">Funders</h3>
        <p class="paragraph">Trase is made possible through the generous funding of
          WWF,
          The Global Environment Facility,
          the European Union,
          The Nature Conservancy,
          The Gordon and Betty Moore Foundation,
          The Gordon and Betty Moore Foundation,
          The Gordon and Betty Moore Foundation,
          the Swedish Research Institute Formas and
          Swedish Development Agency Sida.
        </p>

        <ul class="logo-list">
          <li class="logo-item -wwf">
            <a href="https://www.worldwildlife.org/" target="_blank" rel="noopener noreferrer">
              <img src="/images/funders/wwf@2x.png" alt="WWF">
            </a>
          </li>
          <li class="logo-item -gef">
            <a href="https://www.thegef.org/" target="_blank" rel="noopener noreferrer">
              <img src="/images/funders/gef@2x.png" alt="The Global Environment Facility">
            </a>
          </li>
          <li class="logo-item -european-union">
            <a href="https://ec.europa.eu/" target="_blank" rel="noopener noreferrer">
              <img src="/images/funders/eu-stars-33@2x.png" alt="The European Union">
            </a>
          </li>
          <li class="logo-item -nature-conservancy">
            <a href="https://www.nature.org/" target="_blank" rel="noopener noreferrer">
              <img src="/images/funders/Nature-conservancy@2x.png" alt="The Nature Conservancy">
            </a>
          </li>
        </ul>
        <ul class="logo-list">
          <li class="logo-item -moore">
            <a href="https://www.moore.org/" target="_blank" rel="noopener noreferrer">
              <img src="/images/funders/moore@2x.png" alt="Moore Foundation">
            </a>
          </li>
          <li class="logo-item -formas">
            <a href="http://www.formas.se/en/" target="_blank" rel="noopener noreferrer">
              <img src="/images/funders/formas@2x.png" alt="formas">
            </a>
          </li>
          <li class="logo-item -sida">
            <a href="http://www.sida.se/English/" target="_blank" rel="noopener noreferrer">
              <img src="/images/funders/s-i-d-a-logo@2x.png"
                   alt="The Swedish International Development Cooperation Agency Sida">
            </a>
          </li>
          <li class="logo-item -uk">
            <a href="https://www.gov.uk/government/organisations/department-for-international-development"
               target="_blank" rel="noopener noreferrer">
              <img src="/images/funders/u-kaidsvg@2x.png" alt="The UK Department for International Development ">
            </a>
          </li>
        </ul>

        <h2 id="contact-us" class="title -anchor -medium -pink">Contact us</h2>

        <p class="paragraph">
          <a href="mailto:info@trase.earth" class="content-link">info@trase.earth</a>.
        </p>
      </div>
    </div>
    <div class="cut -bottom"></div>
  </div>
  <%= footer %>
  <%= feedback %>
</div>

