<div class="loading-wrapper">
  <%= nav %>
  <div class="l-faq">
    <div class="wrap">
      <div class="cut -top"></div>
      <div class="c-anchor-list js-anchor-nav">
        <ul class="anchor-list">
          <li class="anchor-item -selected">
            <a href="#what-is-trase">What is Trase?</a>
          </li>
          <li class="anchor-item">
            <a href="#trase-platform-do">What does the Trase platform do?</a>
          </li>
          <li class="anchor-item">
            <a href="#commodity-supply-chains">What commodity supply chains does Trase cover?</a>
          </li>
          <li class="anchor-item">
            <a href="#beyond-commod">What data does Trase include beyond commodity exports?</a>
          </li>
          <li class="anchor-item">
            <a href="#trase-work">How does the supply chain mapping in the Trase platform work?</a>
          </li>
          <li class="anchor-item">
            <a href="#diagram-tangled">What is that diagram that looks like strands of spaghetti?</a>
          </li>
          <li class="anchor-item">
            <a href="#deforestation">Can Trase tell me which companies and countries are directly responsible for deforestation?</a>
          </li>
          <li class="anchor-item">
            <a href="#deforestation-free">Can Trase tell me what consumer goods are deforestation-free?</a>
          </li>
          <li class="anchor-item">
            <a href="#trase-reliability">How reliable is the Trase data?</a>
          </li>
          <li class="anchor-item">
            <a href="#download-data">Can I download the Trase data?</a>
          </li>
          <li class="anchor-item">
            <a href="#trase-evolving-capabilities">How do I find out more about Trase and its evolving capabilities?</a>
          </li>
          <li class="anchor-item">
            <a href="#get-involved">How can I get involved?</a>
          </li>
          <li class="anchor-item">
            <a href="#who-is-behind-trase">Who is behind Trase?</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <h2 id="what-is-trase" class="title -anchor -medium -pink">What is Trase?</h2>
        <p class="paragraph">
          Trase is a supply chain transparency initiative that transforms our understanding of globally traded
          agricultural commodities. It empowers companies, governments and others to address sustainability risks and
          opportunities by linking supply chain actors to production landscapes across the world.
        </p>
        <p class="paragraph">
          At the core of the Trase initiative is <a href="/" class="content-link" target="_blank">trase.earth</a>, a new
          open-access online platform providing greater supply chain transparency. The platform, based on an innovative
          approach to mapping agricultural supply chains at scale, offers a powerful response to the urgent need for
          credible information on the traceability and sustainability performance of commodity supply chains, covering
          entire countries and production systems.
        </p>

        <h2 id="trase-platform-do" class="title -anchor -medium -pink">What does the Trase platform do?</h2>
        <p class="paragraph">
          Trase allows users to map supply chains of internationally traded agricultural commodities, such as palm oil
          and soy, at scale, from the countries where they are produced to the countries that import them, identifying
          the key supply chain companies along the way. This information can then be mapped against environmental and
          social indicators to support improved decision making around responsible production, sourcing and investments,
          as well as monitoring and enforcement. One of the main innovations of Trase is the fact that we map this
          central portion of global commodity supply chains - from jurisdictions of production to countries of import -
          for the entire exports of a given commodity.
        </p>

        <h2 id="commodity-supply-chains" class="title -anchor -medium -pink">What commodity supply chains does Trase
          cover?</h2>
        <p class="paragraph">
          Currently, Trase maps soy exports from Brazil and Paraguay, traceable to the level of producer municipalities
          in Brazil and departments in Paraguay, as well as national level soy and cattle exports from Brazil, Paraguay
          and Argentina, and Indonesian palm oil. Work is ongoing to map the supply chains of these commodities back to
          sub-national regions of production. Over the next five years, Trase aims to cover over 70% of the total traded
          volume in major forest risk commodities, including soy, beef, palm oil, timber, pulp and paper, coffee, cocoa
          and aquaculture.
        </p>

        <h2 id="beyond-commod" class="title -anchor -medium -pink">What data does Trase include beyond commodity
          exports?</h2>
        <p class="paragraph">
          Trase currently includes a range of sustainability indicators associated with the production of agricultural
          commodities including deforestation and related impacts, including water, biodiversity, greenhouse gas
          emissions, rural development and livelihoods. Trase also includes data on the economic value of exports, and
          we will soon be adding indicators of good agricultural management practices and good territorial governance to
          support decisions around investment priorities.
        </p>
        <p class="paragraph">
          We are only at the beginning of exploring the range of environmental, social and economic indicators that
          can be linked to Trase. See <a href="/data-methods" class="content-link" target="_blank">Data and
            Methods</a>
          for more information on the indicators that are currently available.
        </p>

        <h2 id="trase-work" class="title -anchor -medium -pink">How does the supply chain mapping in the Trase platform
          work?</h2>
        <p class="paragraph">
          The supply chain mapping at the core of Trase balances scale and resolution of data, so that it is possible to
          map entire commodity supply chains, covering countries and sectors (e.g. Brazilian soy) through to local level
          (e.g. municipalities in Brazil). This approach maps the entire middle section of a supply chain, linking
          regions of production to countries of import, via the individual companies that export and import a particular
          traded commodity.
        </p>
        <p class="paragraph">
          This pioneering approach to supply chain mapping is an enhanced form of material flow analysis, first
          published by Godar et al. (2015) who termed the approach Spatially-Explicit Information on Production to
          Consumption Systems (SEI-PCS). Different versions of SEI-PCS have been developed used in subsequent Trase
          releases.
        </p>
        <p class="paragraph">
          The latest version of SEI-PCS supply chain mapping is v.2.2 for Brazilian soy that uses direct matching of
          per-shipment customs information with asset-level company tax registration data. For more information see <a
                  href="/data-methods" class="content-link" target="_blank">Data and
            Methods</a>.
        </p>

        <h2 id="diagram-tangled" class="title -anchor -medium -pink">What is that diagram that looks like strands of
          spaghetti?</h2>
        <p class="paragraph">
          The Trase platform represents flows of commodities using Sankey diagrams (invented by an Irish ship’s captain,
          Matthew Sankey). These can show not only the direction but also the scale of flows between points in the
          supply chain. The interactive Sankeys on the Trase platform were developed by researchers at the Stockholm
          Environment Institute in partnership with Vizzuality. They allow users to customize the Sankey diagram to show
          material flows according to a particular node (e.g. place, company, country) or set of nodes in the chain, or
          particular characteristics related to the commodity flow (e.g. mass, dollar value, or embedded indicators such
          as land-use and deforestation).
        </p>

        <h2 id="deforestation" class="title -anchor -medium -pink">Can Trase tell me which companies and countries are
          directly responsible for deforestation?</h2>
        <p class="paragraph">
          No. Trase assesses a supply chain actor’s exposure to the reputational, legal, operational and other risks
          associated with deforestation. These risks are linked to the amount of deforestation that took place in the
          jurisdictions (e.g. municipalities) where a forest-risk commodity handled by the company was produced, during
          a given period. Read the blog on <a
                  href="/" class="content-link" target="_blank">trase.earth</a> “How Trase links
          companies and commodities to deforestation risk”
          for more information on how Trase measures and assesses risk.
        </p>
        <p class="paragraph">
          Trase cannot provide a definitive assessment of the deforestation or other impacts that are associated with a
          given company because it does not have the details of the location of individual producing properties.
          However, Trase provides a powerful first step in helping to filter and identify the extent to which
          deforestation in a sourcing region is likely to be linked to a given commodity and locality, helping to inform
          critical sourcing decisions, as well as guide the investments and monitoring protocols that are needed to make
          production practices more sustainable.
        </p>

        <h2 id="deforestation-free" class="title -anchor -medium -pink">Can Trase tell me what consumer goods are
          deforestation-free?</h2>
        <p class="paragraph">
          No. Currently Trase only maps export commodity supply chains to the first country of import. From there, the
          commodity may undergo several further steps of processing, sales and exports before it reaches the consumer
          market in its final form. Trase is currently conducting further research and data scoping to investigate the
          potential to link commodity flows in Trase to specific consumer goods.
        </p>

        <h2 id="trase-reliability" class="title -anchor -medium -pink">How reliable is the Trase data?</h2>
        <p class="paragraph">
          The Trase approach to supply chain mapping uses data from dozens of different sources including official
          government data on production, tax, and shipping, as well as data on supply chain logistics freely disclosed
          by industry associations and on the websites of commodity trading companies. Our aim is to produce the most
          accurate supply chain maps possible using publicly available or purchasable data. Trase is dedicated to
          clearly communicating the limitations of the data within our methodologies and in the tool itself. We
          encourage users to visit our <a href="/terms-of-use" class="content-link" target="_blank">terms of use</a>
          and <a href="/data-methods" class="content-link" target="_blank">methodology documents</a> to fully
          understand the strength of Trase data and limitations to its use.
        </p>

        <h2 id="download-data" class="title -anchor -medium -pink">Can I download the Trase data?</h2>
        <p class="paragraph">
          Yes! Please visit the <a href="/data" class="content-link" target="_blank"}>data portal</a> to download
          Trase
          data either as bulk downloads or
          filtered according to your interest. Please let us know how you use our data and share any insights you gain
          that can help us improve the platform.
        </p>

        <h2 id="trase-evolving-capabilities" class="title -anchor -medium -pink">How do I find out more about Trase and
          its evolving capabilities?</h2>
        <p class="paragraph">
          Please <a href="/#newsletter" class="content-link" target="_blank">sign up</a> for our quarterly newsletter. We promise not to
          send lots of emails, just significant announcements.
        </p>

        <h2 id="get-involved" class="title -anchor -medium -pink">How can I get involved?</h2>
        <p class="paragraph">
          We are actively seeking to build relationships with new partner institutions and funders to further the
          development and applications of the platform to include new countries, commodities, capabilities and data -
          and to identify concrete opportunities for mainstreaming the uptake of Trase.
        </p>
        <p class="paragraph">
          Work on Trase has also helped establish the Supply Chain Transparency Network, a learning and knowledge
          exchange community of practitioner organizations working on transparency for supply chain sustainability.
        </p>
        <p class="paragraph">
          Contact us at <a href="mailto:info@trase.earth" class="content-link">info@trase.earth</a>.
        </p>

        <h2 id="who-is-behind-trase" class="title -anchor -medium -pink">Who is behind Trase?</h2>
        <p class="paragraph">
          Trase was founded through a partnership between the Stockholm Environment Institute and Global Canopy Programme.
        </p>

        <p class="paragraph">
          We work closely with the European Forest Institute, Vizzuality, and many other partners. To date these include
          Agrosatelite, BV Rio, Chalmers University, Conservation International, Gibbs Land Use and Environment
          Laboratory at Wisconsin University, International Institute for Sustainability, Imaflora, InfoAmazonia, León
          University, Louvain University, Luc Hoffman Institute, The Nature Conservancy, Transitions, University of
          Bonn, University of Hawai’i, University of Santa Barbara, University of Sao Paulo, World Conservation
          Monitoring Centre, World Resources Institute, and WWF.

        </p>

        <p class="paragraph">
          Trase is made possible by the generous funding of the European Union, Global Environment Facility, the Gordon
          and Betty Moore Foundation, The Nature Conservancy, the Swedish Research Institute Formas, the Swedish
          Development Agency Sida, and WWF.
        </p>
      </div>
    </div>
    <div class="cut -bottom"></div>
  </div>
  <%= footer %>
</div>
