<div class="loading-wrapper">
  <nav id="nav"></nav>
  <div class="l-profile-place js-profiles">
    <div class="js-loading">
      <div class="c-spinner"></div>
    </div>
    <div class="js-wrap is-hidden">
      <div class="c-overall-map hide-for-small">
        <div class="row">
          <div class="small-4 columns map-item">
            <div class="row">
              <div class="small-6 columns">
                <div class="c-locator-map js-map-country"></div>
              </div>
              <div class="small-6 columns">
                <div class="c-info">
                  <div class="legend">country</div>
                  <div class="name -medium js-country-name"> -</div>
                </div>
              </div>
            </div>
          </div>
          <div class="small-4 columns map-item">
            <div class="row">
              <div class="small-3 columns">
                <div class="c-locator-map js-map-biome"></div>
              </div>
              <div class="small-9 columns">
                <div class="c-info">
                  <div class="legend">biome</div>
                  <div class="name -medium js-biome-name"> -</div>
                </div>
              </div>
            </div>
          </div>
          <div class="small-4 columns map-item">
            <div class="row">
              <div class="small-3 columns">
                <div class="c-locator-map js-map-state"></div>
              </div>
              <div class="small-9 columns">
                <div class="c-info">
                  <div class="legend">state</div>
                  <div class="name -medium js-state-name"> -</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="c-overall-info page-break-inside-avoid">
        <div class="row">
          <div class="small-12 medium-4 large-3 columns">
            <div class="c-locator-map js-map-municipality"></div>
          </div>
          <div class="small-12 medium-8 large-9 columns">
            <div class="row">
              <div class="small-12 columns">
                <div class="dropdown-element">
                  <div class="c-dropdown -big">
                    <span class="dropdown-label js-legend">-</span>
                    <span class="dropdown-title js-municipality">-</span>
                    <ul class="dropdown-list is-hidden">
                    </ul>
                  </div>
                </div>
                <div class="dropdown-element">
                  <div class="c-dropdown -big">
                    <span class="dropdown-label">Commodity</span>
                    <span class="dropdown-title">Soy</span>
                    <ul class="dropdown-list">
                    </ul>
                  </div>
                </div>
                <div id="year-dropdown" class="dropdown-element">
                </div>
              </div>
              <div class="small-12 columns">
                <div class="stat-item">
                  <div class="legend">area</div>
                  <div class="value js-area">-</div>
                  <div class="unit">km<sup>2</sup></div>
                </div>
                <div class="stat-item">
                  <div class="legend">soy land<span id="soy-land-tooltip"></span></div>
                  <div class="value js-soy-land">-</div>
                  <div class="unit">ha</div>
                </div>
                <div class="stat-item">
                  <div class="legend">soy production<span id="soy-production-tooltip"></span></div>
                  <div class="value js-soy-production">-</div>
                  <div class="unit">t</div>
                </div>
              </div>
              <div class="small-12 columns">
                <p class="summary js-summary-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="c-anchor-buttons hide-for-small">
        <div class="row">
          <div class="small-4 columns">
            <a href="#profile-content-anchor" class="c-link-buttons -with-arrow js-link-profile">
              <img src="/images/profiles/profile-main-option-1.svg" />
              <span class="js-link-button-municipality">-</span>
            </a>
          </div>
          <div class="small-4 columns">
            <a class="c-link-buttons js-link-map">
              <img src="/images/profiles/profile-main-option-2.svg" />
              <span>PRODUCTION REGIONS</span>
              <svg class="icon icon-external-link">
                <use xlink:href="#icon-external-link"></use>
              </svg>
            </a>
          </div>
          <div class="small-4 columns">
            <a class="c-link-buttons js-link-supply-chain">
              <img src="/images/profiles/profile-main-option-3.svg" />
              <span>SUPPLY CHAIN ACTORS</span>
              <svg class="icon icon-external-link">
                <use xlink:href="#icon-external-link"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div id="profile-content-anchor" class="profile-content-anchor"></div>

      <section class="c-area-table score-table">
        <div class="row">
          <div class="small-12 columns">
            <div class="js-score-table">
              <!-- table content here  -->
            </div>
          </div>
        </div>
      </section>

      <section class="deforestation page-break-inside-avoid">
        <div class="row">
          <div class="small-12 columns">
            <h3 class="title -small js-line-title">-</h3>
            <div class="c-line-container">
              <div class="js-line c-line"></div>
              <div class="c-line-legend js-line-legend"></div>
            </div>
          </div>
        </div>
      </section>

      <section id="js-traders-sankey-container" class="mini-sankey-container page-break-inside-avoid">
        <div class="row">
          <div class="small-12 columns">
            <h3 class="title -small js-traders-title">-</h3>
            <div id="js-traders-sankey"></div>
          </div>
        </div>
      </section>

      <section id="js-consumers-sankey-container" class="mini-sankey-container page-break-inside-avoid">
        <div class="row">
          <div class="small-12 columns">
            <h3 class="title -small js-consumers-title">-</h3>
            <div id="js-consumers-sankey"></div>
          </div>
        </div>
      </section>

    </div>
    <div class="c-error-message js-error-message is-hidden">
      <p class="message js-message">Data not found</p>
    </div>
  </div>
  <div class="js-infowindow c-info-tooltip is-hidden"></div>
  <footer id="footer" class="c-footer"></footer>
  <%= feedback %>
</div>
