<div class="loading-wrapper">
  <div class="loading-wrapper"></div>
  <%= nav %>
  <div class="l-profiles js-profiles">
    <div class="js-loading">
      <div class="profiles-veil"></div>
      <div class="c-spinner"></div>
    </div>

    <div class="wrap">
        <div class="container">
          <div class="search-container">
            <div class="c-search js-search">
              <label for="search-input">Search for</label>
              <input class="search-input js-search-input" id="search-input" placeholder="trader or production place" />
              <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
            </div>
          </div>
          <div class="explanatory-text">
            <p class="paragraph -center"><strong>Enter the name of a company</strong> for statistics on its links with source municipalities
              (including top-line sustainability indicators) and consumer markets.
            </p>
            <p class="paragraph -center"><strong>Enter the name of a production municipality, state or biome</strong> for key sustainability
              indicators and statistics on linked traders and consumer markets.
            </p>
          </div>
          <div class="c-error-message js-error-message is-hidden">
            <p class="message js-message">Data not found</p>
          </div>
        </div>
        </div>
    </div>
  </div>
  <%= footer %>
  <%= feedback %>
</div>
