<div class="loading-wrapper">
  <%= nav %>
  <div class="l-terms-of-use">
    <div class="wrap">
      <div class="content">
        <p class="paragraph">
          Trase is committed to providing the best available data on global trade flows and associated information on
          the sustainability of commodity production and trade. The data used by Trase comprises a collection of
          publicly available logistics, trade, export, and customs data, combined with social and environmental
          indicators from numerous sources. All of the data provided on Trase has been vetted for quality and accuracy.
          However, we are aware that some data may have limitations, even when coming from officially collected
          government sources. Trase will continue to improve the quality and accuracy of its data, and is committed to
          communicating these limitations transparently.
        </p>
        <p class="paragraph">
          Portions of the data used in the SEI-PCS approach that underpins Trase have been purchased from other data
          providers, and carry restrictions on sharing in certain formats. In all cases, Trase respects relevant terms
          of use in its analysis and repackaging of data.
        </p>

        <h2 class="title -medium -pink">Terms of use</h2>
        <p class="paragraph">
          By accessing the Trase platform you have acknowledged and agreed to our Terms of Use.
        </p>
        <p class="paragraph">
          You may use charts, graphics, maps, and other representations of data on the Trase website, under the Creative
          Commons CC BY 4.0 license.
        </p>
        <p class="paragraph">
          Licensing is determined for each individual data set. Please refer to the licensing text of each data set for
          detailed information.
        </p>
        <p class="paragraph">
          You may not imply that Trase authorises or endorses your use of the data, or use the Trase logo in conjunction
          with such use. If you would like to use the Trase logo, please contact us at <a
                  href="mailto:info@trase.earth" class="content-link">info@trase.earth</a> to request permission.
        </p>

        <h2 class="title -medium -pink">Permissions & licensing</h2>
        <p class="paragraph">
          If using charts, data, information, graphs or maps from Trase, attribution is required. You must clearly
          attribute the work to the Trase platform and provide a link to www.trase.earth. This contributes to ensuring
          access to the latest available information, if the data is revised or additional relevant research is
          published.
        </p>
      </div>
    </div>
  </div>
  <%= footer %>
  <%= feedback %>
</div>
