@import 'styles/settings';

.c-tool-selector {
  margin-top: $nav-height;

  .grid-list {
    margin: 30px auto 0;
    max-width: 780px;
    flex-wrap: wrap;
    display: flex;

    .c-grid-list-item {
      width: 130px;
    }
  }

  .tool-selector-title {
    padding-top: 20px;
  }
}
