@import 'styles/settings';

.c-node-menu {
  display: none;
  position: absolute;
  width: 36px;
  height: 36px;
  transition: top 450ms $ease-in-out-sine, left 450ms $ease-in-out-sine;
  border-radius: 50%;
  background-color: $gray-500;
  color: $white;
  box-shadow: $box-shadow-big;
  cursor: pointer;
  z-index: $z-base;
  transform: translate(-50%, -50%);
  will-change: top, left;

  &.-visible {
    display: block;
  }

  &.-open {
    background-color: transparent;
    box-shadow: unset;

    .options {
      display: flex;
      flex-direction: column;
    }
  }

  > .icon {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
  }

  .options {
    display: none;
    position: absolute;
    min-width: 230px;
    padding: 12px;
    background-color: $white;
    box-shadow: $box-shadow-big;
    font-family: $font-family-1;
    top: 2px;
    right: 0;

    .title {
      padding: 10px;
      background-color: $green-200;
      letter-spacing: -1px;
      font-family: $font-family-1;
    }

    .body {
      padding: 10px;
      background-color: $white;
    }

    .menu-item {
      position: relative;
      height: 32px;
      background-color: $white;
      border-radius: 4px;

      .option-text {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
      }

      &:hover {
        .option-text {
          color: $white;
        }
      }

      .menu-item-button {
        width: 100%;
        cursor: pointer;
        padding: 8px 16px;
        display: flex;
        flex-direction: row;
        white-space: nowrap;

        .option-icon {
          width: 20px;
          height: 20px;
          margin-left: 0;
        }

        &:hover {
          .option-icon {
            color: $white;
          }
        }
      }

      > .icon {
        position: absolute;
        top: 8px;
        right: 10px;
        width: 16px;
        height: 16px;
      }

      &:hover {
        background-color: $gray-500;
        color: $white;
      }
    }

    &.mirrorX {
      .menu-item-button {
        justify-content: start;

        .option-icon {
          order: 1;
          margin-right: 5px;
          margin-left: -3px;
        }

        .option-text {
          order: 2;
        }
      }
    }

    &.mirrorY {
      flex-direction: column-reverse;
    }
  }
}
