@import 'styles/settings';

$columns-selector-group-height: 50px;

.c-sankey {
  position: relative;
  height: calc(100% - #{$columns-selector-group-height});
  margin-left: $sankey-x-margin;

  .sankey-scroll-container {
    width: 100%;
    height: 100%;

    &.-detailed {
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .sankey {
      width: 100%;
      height: 100%;
    }
  }

  .sankey-node {
    cursor: pointer;

    .sankey-node-rect {
      fill: $white-two;
      stroke: $gray-100;
      stroke-width: 1px;
    }

    .sankey-node-label {
      font-family: $font-family-1;
      font-size: $font-size-regular;
      text-transform: capitalize;
      text-anchor: middle;
      fill: $charcoal-grey;
      pointer-events: none;
    }

    &.-is-aggregated > .sankey-node-rect {
      // the horizontal lines pattern is defined in the <defs> section of the SVG in flows.ejs
      cursor: default;
      fill: url('#isAggregatedPattern');
    }

    &.-is-domestic > .sankey-node-rect {
      fill: $gray;
    }

    &.-is-alone-in-column {
      cursor: default;
    }

    &.-selected {
      .sankey-node-rect {
        fill: $white;
        stroke: $gray-500;
      }
    }

    &.-highlighted {
      .sankey-node-rect {
        fill: $green-200;
      }
    }
  }

  .sankey-links .sankey-link {
    opacity: 0.1;
    fill: none;
    stroke: $gray-500;

    &.-hover {
      opacity: 0.7;
    }

    @each $name, $color in $recolorby-colors {
      &.-#{$name} {
        opacity: 0.5;
        stroke: #{$color};

        &.-hover {
          opacity: 1;
        }
      }
    }

    @each $name, $color in $recolorgroup-colors {
      &.-#{$name} {
        opacity: 0.5;
        stroke: #{$color};

        &.-hover {
          opacity: 1;
        }
      }
    }
  }

  .sankey-column-placeholder {
    stroke: $pinkish-grey-two;
    stroke-width: 1px;
    fill: transparent;
  }

  .sankey-loading {
    position: absolute;
    top: calc(50% - 32px);
    padding: 10px 8px;
    transform: translate(-50%, -50%);
  }

  .tooltip-max-width {
    max-width: 300px;
  }
}
