@import 'styles/settings';
@import 'styles/mixins';

$column-width: 100px;

.c-columns-selector-group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 32px;
  height: 32px;

  .columns-spinner {
    margin: 0;
  }
}
