@import 'styles/settings';
@import 'styles/mixins';

$column-width: 100px;

.c-columns-selector-group {
  position: relative;
  height: 40px;
  margin-top: 10px;
  transition: left .45s $ease-in-out-sine;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .columns-spinner {
    margin: 0;
  }
}
