@import 'styles/settings';
@import 'styles/mixins';

.c-columns-selector-group {
  display: flex;
  justify-content: space-between;
  margin-left: 26px;

  .c-dropdown {
    width: 100px;
    height: 32px;
    padding: 0 7px;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 1px 3px 0 rgba($black, 0.1), 0 1px 2px 0 rgba($black, 0.2);
    cursor: pointer;

    &:first-child {
      width: 111px;
      left: 4px;
    }

    &.-column-selector > .dropdown-title {
      padding: 0;
      font-family: $font-family-1;
      font-size: $font-size-regular;
      text-transform: uppercase;
      letter-spacing: -0.5px;

      &::after {
        @include arrow(7px, 2px, rgba($charcoal-grey, .4), 'down');
        top: 0;
        right: 1px;
      }

      &.-is-open {
        &::after {
          transform: rotate(225deg);
        }
      }
    }

    &.-hide-only-child {
      cursor: auto;
      box-shadow: none;
      background: none;

      .dropdown-title {
        text-align: center;
      }

      .dropdown-title::after {
        display: none;
      }
    }

    .dropdown-list {
      top: 40px;
      width: 100%;
      padding: 0;
    }

    .dropdown-list > .dropdown-item {
      padding: 10px 7px;
      font-family: $font-family-1;
      font-size: $font-size-regular;
      text-transform: uppercase;
    }
  }
}
