@import 'styles/settings';
@import 'styles/mixins';

.c-columns-selector-group {
  display: flex;
  justify-content: space-between;
  margin-left: 26px;

  .c-dropdown {
    width: 100px;
    height: 32px;

    &:first-child {
      width: 111px;
      left: 4px;
    }
  }
}
