@import 'styles/settings';

.c-sidebar-nav {
  z-index: $z-above-hero;
  transition: transform 400ms ease;

  @media only screen and (min-width: $breakpoint-foundation-small)  {
    position: relative;
    width: 100%;
    margin: 0;
  }

  .nav-sidebar-link-list {
    @media only screen and (max-width: $breakpoint-foundation-small)  {
      display: flex;
      padding: 0;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      align-items: center;
    }
    margin-top: 12px;
  }

  .nav-sidebar-link-list-item {
    @media only screen and (max-width: $breakpoint-foundation-small)  {
      display: inline-flex;
      padding: 20px 15px;
      white-space: nowrap;

      &:first-child {
        margin-left: -15px;
      }

      &:last-child {
        margin-right: 5px;
      }
    }

    @media only screen and (min-width: $breakpoint-foundation-small) {
      margin: 25px 0 0;
      min-width: 260px;

      &:only-child {
        margin: 0;
      }
    }
  }

  .nav-sidebar-link-list-item-link {
    font-family: $font-family-1;
    font-size: $font-size-x-big;
    color: $charcoal-grey-faded;

    &.active-link {
      font-weight: $font-weight-bold;
      color: $charcoal-dark;
    }
  }
}
