@import 'styles/settings';

.c-sidebar-nav {
  margin: 0 -1.25rem;
  background-color: $white;
  z-index: $z-above-hero;
  transition: transform 400ms ease;
  box-shadow: 0 1px 3px 0 rgba($black, 0.1), 0 1px 2px 0 rgba($black, 0.2);

  @media only screen and (min-width: $breakpoint-foundation-small)  {
    position: relative;
    width: 100%;
    margin: 0;
    min-height: 321px;
    transform: translateY(-50%);
    flex: none;
  }

  .nav-sidebar-link-list {
    padding: 20px;

    @media only screen and (max-width: $breakpoint-foundation-small)  {
      display: flex;
      padding: 0;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      align-items: center;
    }

    @media only screen and (min-width: $breakpoint-foundation-medium) {
      padding: 40px;
    }
  }

  .nav-sidebar-link-list-item {
    @media only screen and (max-width: $breakpoint-foundation-small)  {
      display: inline-flex;
      padding: 20px 15px;
      white-space: nowrap;

      &:first-child {
        margin-left: 5px;
      }

      &:last-child {
        margin-right: 5px;
      }
    }

    @media only screen and (min-width: $breakpoint-foundation-small) {
      &:not(:first-child) {
        margin: 25px 0 0;
      }

      &:only-child {
        margin: 0;
      }
    }
  }

  .nav-sidebar-link-list-item-link {
    font-family: $font-family-1;
    font-size: 13px;
    font-weight: $font-weight-light;
    letter-spacing: $letter-spacing-x-narrow;
    text-transform: uppercase;
    color: $charcoal-grey-faded;

    &.-pink {
      color: $strong-pink;
    }
  }
}
