@import 'styles/settings';

.c-profile-root {
  overflow: hidden;

  .profile-root-description {
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    color:$charcoal-grey;
    font-family: $font-family-2;
    font-weight: $font-weight-light;
  }

  .profile-root-search-container {
    padding: 90px 0;

    @media only screen and (max-width: $breakpoint-foundation-small) {
      padding: 60px 0;
    }
  }

  .profile-root-actions {
    margin-top: 70px;

    @media only screen and (max-width: $breakpoint-foundation-small) {
      margin-top: 50px;
    }

    text-align: center;
  }

  .profile-search {
    margin-left: 30px;
    margin-top: 0;

    @media only screen and (max-width: $breakpoint-foundation-small - 1) {
      margin-left: 0;
      margin-top: 30px;
    }
  }

  .profile-root-slider {
    margin-top: 50px;
  }
}
