@import 'styles/settings';

.c-profile-root {
  overflow: hidden;

  .profile-root-description {
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    color:$charcoal-grey;
    font-family: $font-family-2;
    font-weight: $font-weight-light;
  }

  .profile-root-search-container {
    padding: 90px 0;

    @media only screen and (max-width: $breakpoint-foundation-small) {
      padding: 60px 0;
    }
  }

  .profile-root-actions {
    margin-top: 70px;

    @media only screen and (max-width: $breakpoint-foundation-small) {
      margin-top: 50px;
    }

    text-align: center;
  }

  .profile-search {
    margin-left: 30px;
    margin-top: 0;

    @media only screen and (max-width: $breakpoint-foundation-small - 1) {
      margin-left: 0;
      margin-top: 30px;
    }
  }

  .profile-root-slider {
    margin-top: 50px;
  }
}
<<<<<<< HEAD

.c-profile-root-legacy {

  .profile-root-context-selector {
    position: relative;
    z-index: $z-above;
    margin: 0 0 10px 0;

    .dropdown-label {
      font-size: 13px;
      margin: 0 0 10px 0;
    }

    .dropdown-title {
      font-size: 24px;

      @media screen and (min-width: $breakpoint-foundation-small) {
        font-size: 48px;
      }
    }

    .context-selector-content {
      top: calc(100% + 10px);
    }

    &.-readonly {
      pointer-events: none;

      .tooltip-react {
        pointer-events: all;
      }

      .dropdown-title::after {
        content: none;
      }
    }
  }

  .profile-root-search-container {
    padding: 90px 0;

    @media only screen and (max-width: $breakpoint-foundation-small) {
      padding: 60px 0;
    }
  }

  .profile-root-heading-container {
    display: flex;
    justify-content: center;
    align-items: baseline;

    .profile-root-heading-wrapper {
      flex-shrink: 0;
      max-width: 100%;

      .title {
        font-size: 24px;

        @media only screen and (min-width: $breakpoint-foundation-small) {
          font-size: 48px;
        }
      }
    }

    @media only screen and (max-width: $breakpoint-foundation-small) {
      justify-content: flex-start;
    }
  }

  .profile-root-explanatory-text {
    color: $charcoal-grey-faded;
    font-family: $font-family-2;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-align: center;
    margin: 10px 0 0;
  }

  .profile-root-mock {
    width: 100%;
    vertical-align: bottom
  }

  .profile-search {
    height: 55px;

    .search-input-results {
      z-index: 0;
    }

    .profile-search-result {
      padding: 14px 15px;

      .search-input-item-name {
        font-size: 17px;
      }
    }
  }
}
=======
>>>>>>> moves everything under one react root
