{
  "presets": [
    ["@babel/env", {
      "useBuiltIns": "entry"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-transform-exponentiation-operator",
    ["@babel/plugin-proposal-class-properties", { "spec": true }]
  ],
  "env": {
    "production": {
      "presets": [
        ["@babel/env", {
          "useBuiltIns": "entry"
        }],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-object-rest-spread",
        "@babel/plugin-transform-exponentiation-operator",
        ["@babel/plugin-proposal-class-properties", { "spec": true }],
        "transform-react-remove-prop-types",
        "lodash"
      ]
    },
    "test": {
      "presets": [
        ["@babel/env", {
          "useBuiltIns": "entry"
        }],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-object-rest-spread",
        "@babel/plugin-transform-exponentiation-operator",
        ["@babel/plugin-proposal-class-properties", { "spec": true }],
        "@babel/plugin-transform-modules-commonjs",
        ["module-resolver", {
          "alias": {
            "scripts": "./scripts",
            "actions": "./scripts/actions",
            "utils": "./scripts/utils",
            "reducers": "./scripts/reducers",
            "store": "./scripts/store",
            "components": "./scripts/components",
            "containers": "./scripts/containers",
            "constants": "./scripts/constants",
            "router": "./scripts/router",
            "react-components": "./scripts/react-components",
            "named-maps": "./scripts/named-maps"
          }
        }]
      ]
    }
  }
}
