{
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": "entry", "corejs": 3 }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-optional-chaining",
    ["@babel/plugin-proposal-class-properties", { "spec": true }]
  ],
  "env": {
    "production": {
      "presets": [
        ["@babel/preset-env", { "useBuiltIns": "entry", "corejs": 3 }],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-optional-chaining",
        ["@babel/plugin-proposal-class-properties", { "spec": true }],
        "transform-react-remove-prop-types",
        "lodash"
      ]
    },
    "test": {
      "presets": [
        ["@babel/preset-env", { "useBuiltIns": "entry", "corejs": 3 }],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-optional-chaining",
        ["@babel/plugin-proposal-class-properties", { "spec": true }],
        "@babel/plugin-transform-modules-commonjs",
        ["@babel/plugin-transform-runtime", { "corejs": 3 }],
        [
          "module-resolver",
          {
            "alias": {
              "scripts": "./scripts",
              "actions": "./scripts/actions",
              "utils": "./scripts/utils",
              "app": "./scripts/app",
              "store": "./scripts/store",
              "constants": "./scripts/constants",
              "router": "./scripts/router",
              "react-components": "./scripts/react-components",
              "named-maps": "./scripts/named-maps",
              "selectors": "./scripts/selectors",
              "legacy": "./scripts/legacy"
            }
          }
        ]
      ]
    }
  }
}
