{
  "presets": [
    ["env", {
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "Firefox ESR", "Safari >= 8"],
          "uglify": true
        },
      "useBuiltIns": true,
      "modules": false
    }],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-exponentiation-operator"
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", {
          "mode": "wrap",
          "ignoreFilenames": ["node_modules"]
        }]
      ]
    },
    "test": {
      "presets": [
        "env",
        "react"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-exponentiation-operator",
        "transform-es2015-modules-commonjs",
        ["module-resolver", {
          "alias": {
            "actions": "./scripts/actions",
            "utils": "./scripts/utils",
            "reducers": "./scripts/reducers",
            "store": "./scripts/store",
            "components": "./scripts/components",
            "containers": "./scripts/containers",
            "constants": "./scripts/constants",
            "router": "./scripts/router"
          }
        }]
      ]
    }
  }
}
