@import 'styles/settings';

.c-dashboard-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $light-gray;
  overflow: hidden;
  min-width: 1000px;

  .dashboard-panel-content,
  .dashboard-indicators-content {
    flex: 1;
    overflow: auto;
    padding: 20px 25px 0;
  }

  .dashboard-indicators-content {
    overflow: hidden;
  }

  .dashboard-panel-title {
    margin-bottom: $sankey-x-margin;
    margin-top: 10px;

    &.-small {
      font-size: $font-size-medium;
    }

    .dashboard-panel-sentence {
      font-weight: $font-weight-bold;
    }
  }

  .dashboard-panel-block-switch {
    margin: 0 0 30px 0;
  }

  .dashboard-panel-search {
    margin: 0 0 25px 0;
  }

  .dashboard-panel-text {
    color: $charcoal-grey-faded;
    font-family: $font-family-2;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    margin: 0 0 25px 0;
  }

  .dashboard-panel-pill-list {
    margin-bottom: 39px;
    overflow-x: hidden !important;
  }

  .dashboard-panel-sources-subtitle {
    margin-bottom: 20px;
  }

  .grid-container {
    width: 560px;
    margin: 0 auto;

    @media screen and (min-width: 1000px) {
      width: initial;
      margin: initial;
    }
  }
}
