@import 'styles/settings';

.c-sources-panel {
  width: 560px;
  margin: 0 auto;

  @media screen and (min-width: 1000px){
    width: initial;
    margin: initial;
  }

  .sources-panel-search {
    margin: 0 0 25px 0;
  }

  .sources-panel-pill-list {
    margin-bottom: 39px;
    overflow-x: hidden !important;
  }

  .sources-panel-sources-subtitle {
    margin-bottom: 20px;
  }
}