@import 'styles/settings';

.c-grid-list {
  position: relative;

  .grid-list-loading-container {
    padding: 30px 0 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba($light-gray, 0.2), rgba($light-gray, 1));
    pointer-events: none;

    .grid-list-spinner {
      pointer-events: none;
    }
  }
}
