@import 'styles/settings';

.c-text {
  color: $charcoal-grey;
  text-align: left;

  &.mono {
    font-family: $font-family-1;
    letter-spacing: -0.8px;
  }

  &.serif {
    font-family: $font-family-2;
  }

  &.size-sm {
    font-size: $font-size-regular;
  }

  &.size-rg {
    font-size: $font-size-x-regular;
  }

  &.size-md {
    font-size: $font-size-xx-regular;
  }

  &.size-lg {
    font-size: $font-size-xxx-regular;
  }

  &.line-height-lg {
    line-height: $line-height-lg;
  }

  &.color-white {
    color: $white;
  }

  &.color-egg {
    color: $egg-shell;
  }

  &.color-grey-faded {
    color: $charcoal-grey-faded;
  }

  &.color-grey {
    color: $charcoal-grey;
  }

  &.color-pink {
    color: $strong-pink;
  }

  &.text-align-center {
    text-align: center;
  }

  &.weight-light {
    font-weight: $font-weight-light;
  }

  &.weight-regular {
    font-weight: $font-weight-regular;
  }

  &.weight-bold {
    font-weight: $font-weight-bold;
  }

  &.transform-uppercase {
    text-transform: uppercase;
  }

  &.transform-none {
    text-transform: none;
  }
}
