language: ruby
rvm:
  - 2.4.0
services:
  - postgresql
addons:
  postgresql: "9.4"
before_install:
  - gem install bundler
  - bundle install
  - bundle exec rake db:drop db:create db:structure:load RAILS_ENV=test

