@import 'styles/settings';

.c-dashboard-element {
  padding: 60px 0 0;

  .dashboard-element-title {
    font-family: $font-family-2;
    color: $white;
    font-size: $font-size-big;
    font-weight: $font-weight-light;
    line-height: 2.33;
    letter-spacing: -0.6px;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: 41px;

    .dashboard-element-title-item {
      display: inline-flex;
      position: relative;
      align-items: center;
      height: 30px;
      padding: 0 6px 0 0;
      font-size: $font-size-big;
      font-weight: $font-weight-bold;
      text-transform: capitalize;
    }
  }

  .dashboard-element-placeholder {

    &-item {
      display: block;
      height: 400px;
      width: 100%;
      margin: 0 0 40px;
      background-color: $elephant;
    }
  }

  .dashboard-element-widgets {
    padding: 0 0 40px;
    background-color: $charcoal-dark;

    .dashboard-element-fallback {
      padding: 40px 0 0;
      text-align: center;

      &-text {
        font-size: $font-size-medium;
        margin: 0;
      }

      &-button {
        height: 30px;
        width: 125px;
        padding: 8px 15px;
      }
    }
  }

  .dashboard-element-header {
      padding: 0 0 38px;
  }

  .dashboard-header-actions {

    .dashboard-header-action {

      &.-panel {
        height: 30px;
        padding: 8px 15px;
      }

      &.-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: $font-family-1;
        font-size: 13px;
        line-height: 0.77;
        letter-spacing: -0.8px;
        color: $white;
        cursor: pointer;

        svg {
          fill: $white;
          stroke: $white;
          margin: 0 10px 0 0;
          height: 12px;
          width: 12px;
        }
      }

      &:last-child {
        margin: 0 0 0 15px;
      }

    }

    &.-end {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
    }
  }
}

.dashboard-modal-content {
  position: relative;
  background-color: $light-gray;

  .dashboard-modal-close {
    position: absolute;
    top: 26px;
    right: 30px;
    z-index: $z-above;

    button {
      cursor: pointer;
      display: flex;
      align-items: center;

      span {
        font-family: $font-family-1;
        font-size: $font-size-x-regular;
        padding-right: 13px;
        letter-spacing: -0.8px;
        text-align: center;
        color: $charcoal-grey;
        vertical-align: bottom;
        text-transform: uppercase;
      }
      svg {
        display: block;
      }
    }
  }
}
