.c-dashboard-widget {
  padding: 40px 0 0;

  .widget-title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .widget-title {
    color: $white;
    font-family: $font-family-2;
    font-size: 20px;
    font-weight: $font-weight-light;
    line-height: 1.6;
    letter-spacing: -0.4px;
  }

  .widget-actions {
    button {
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      border: solid 1px rgba($white, 0.13);
      margin: 0 15px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  .widget-box {
    height: 480px;
    border-radius: 6px;
    border: solid 1px rgba($white, 0.13);
    margin: 18px 0 0;

    .widget-spinner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
  }
}
