.c-dashboard-modal-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 10px 0 20px;

  .dashboard-modal-footer-text {
    color: $charcoal-grey;
    font-family: $font-family-2;
    font-weight: $font-weight-light;
    line-height: 1.9;
    letter-spacing: -0.4px;
  }

  .modal-footer-item {
    display: inline-flex;
    position: relative;
    align-items: center;
    height: 30px;
    padding: 0 13px 0 0;
    font-size: 20px;
    font-weight: $font-weight-bold;
    text-transform: capitalize;

    .modal-footer-item-remove-arrow {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      svg {
        fill: $strong-pink;
      }
    }
  }
}
