@import 'styles/settings';
@import 'styles/mixins';

.c-newsletter {
  width: 100%;
  padding: 40px 0;
  background: $metal-grey;

  @media only screen and (min-width: $breakpoint-foundation-small) {
    &.sent {
      margin-bottom: 0px;
    }
  }

  .error-message {
    font-family: $font-family-2;
    color: $strong-pink;
    font-size: $font-size-regular;
    margin: 0 0 10px 10px;
    font-weight: 500;
  }

  .conditions {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    background-color: rgba($egg-shell, 0.15);
    transition: max-height 0.2s ease-out;

    &.visible {
      max-height: 200px;
      padding: 10px;
    }
  }

  .footer-conditions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .footer-submit-button {
    color: $gray-500;
  }

  .link-text {
    text-decoration: underline;
  }

  .conditions-link {
    text-decoration: underline;
  }

  .newsletter-label {
    position: absolute;
    font-family: $font-family-2;
    font-size: $font-size-xx-regular;
    color: $charcoal-grey;
    transform: translateY(calc(-100% - 8px));
  }

  .-pink {
    color: $medium-pink;
  }

  .subscription-success {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-2;
    font-size: $font-size-xx-regular;
    color: $charcoal-grey;
  }

  .newsletter-text {
    margin: 20px 0 0 0;
    font-family: $font-family-2;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.75;
    color: $charcoal-grey;

    @media only screen and (min-width: 800px) {
      font-size: 24px;
    }
  }

  .newsletter-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    margin-bottom: 10px;

    .newsletter-input {
      flex: auto;
      height: 100%;
      font-family: $font-family-1;
      font-weight: $font-weight-bold;
      font-size: 13px;
      letter-spacing: $letter-spacing-x-narrow;
      text-align: left;
      border: 0;
      border-radius: 4px;
      background-color: $light-gray;
      color: $charcoal-grey-faded;
      padding: 1px 10px 0;

      &.error {
        border: 1px solid $strong-pink;
      }

      &::placeholder {
        text-transform: uppercase;
      }
    }

    > .c-button {
      height: 100%;
      margin-left: auto;
      padding: 0 16px;
      flex: none;
      letter-spacing: $letter-spacing-x-narrow;
      font-weight: $font-weight-regular;
    }
  }

  &.v-footer  {
    padding: 0;
    background: transparent;

    .newsletter-input-container {
      border-radius: 0;
    }

    .newsletter-input {
      flex: auto;
      height: 100%;
      font-family: $font-family-4;
      font-size: $font-size-x-regular;
      font-weight: $font-weight-regular;
      letter-spacing: $letter-spacing-sm;
      text-align: left;
      border: 0;
      border-radius: 0;
      border-left: 2px solid $green-200;
      background-color: rgba($green-200, 0.1);
      color: $white;
      padding: 1px 18px 0;

      &.error {
        border: 1px solid $strong-pink;
      }

      &::placeholder {
        color: $green-200;
        text-transform: none;
      }
    }
  }

  .form-hidden-fields {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    transition: opacity 1.5s;


    &.-open {
      visibility: visible;
      max-height: 260px;
      opacity: 1;
      transition: opacity 1.5s;

    }
  }

  .dropdown-container {
    position: relative;
  }

  .dropdown-button {
    position: absolute;
    top: 12px;
    right: 9%;
    width: 20px;
    height: 20px;
    opacity: 0.2;

    &:after {
      content: "";
      position: absolute;
      top: 6px;
      right: 7px;
      width: 5px;
      height: 5px;
      border: 1px solid $gray-500;
      border-top: 0;
      border-left: 0;
      transform: rotate(-45deg);
      transition: transform 0.5s;
    }

    &.-open {
      opacity: 1;

      &:after {
        right: 7px;
        transform: rotate(45deg);
        transition: transform 0.5s;
      }
    }
  }
}