@import 'styles/settings';

.c-tool-links-modal {
  width: 820px;
  padding: 30px 0;

  .modal-title {
    margin-bottom: 15px;
  }

  .links-container {
    margin-bottom: 20px;
  }

  .tool-link {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    height: 120px;
    border: 1px solid $charcoal-dark;
  }

  .description-list {
    .bullet-point {
      position: relative;
      margin: 0 0 0 20px;
      list-style-image: url('/images/bullet-point.svg');
    }
  }
}
