@import 'styles/settings';

.c-tool-links-modal {
  width: 820px;
  padding: 30px 0;

  .modal-title {
    margin-bottom: 15px;
  }

  .links-container {
    margin-bottom: 20px;
  }

  .tool-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid $charcoal-grey-faded;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: $charcoal-grey-faded-a-lot;
      opacity: 0;
      transition: opacity 300ms ease-in;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  .description-list {
    .bullet-point {
      position: relative;
      margin: 0 0 0 20px;
      list-style-image: url('/images/bullet-point.svg');
    }
  }
}
