@import 'styles/settings';

.c-grid-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10px 10px 0;

  &.color-transparent {
    .grid-list-item-button {
      background-color: transparent;
      border: 1px solid $charcoal-grey;

      .grid-list-item-text {
        color: $charcoal-grey;
      }

      &:hover {
        background-color: $charcoal-grey;

        .grid-list-item-text {
          color: $white;
        }
      }
    }
  }

  &.color-white {
    .grid-list-item-button {
      background-color: $white;

      .grid-list-item-text {
        color: $charcoal-grey;
      }

      &:hover {
        background-color: $charcoal-grey;

        .grid-list-item-text {
          color: $white;
        }
      }
    }
  }

  .grid-list-item-heading {
    padding-top: 6px;
  }

  .grid-list-item-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    width: 100%;
  }

  .grid-list-item-button {
    background-color: $medium-gray;
    border-radius: 4px;
    height: 100%;
    flex: 1;
    padding: 0 20px;
    cursor: pointer;
    overflow: hidden;

    &.-active {
      background-color: $charcoal-grey;

      .grid-list-item-text {
        color: $white;
      }
    }

    &.-has-info {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &[disabled=''] {
      cursor: default;
      opacity: 0.4;
    }
  }

  .grid-list-item-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .grid-list-item-info {
    background-color: $medium-gray;
    height: 100%;
    width: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    &[disabled=''] {
      opacity: 0.4;
    }

    .tooltip-react {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    button {
      font-weight: $font-weight-bold;
      color: $charcoal-grey-faded;
      background: $white;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      cursor: default;

      &:hover {
        background-color: $charcoal-grey;
        color: $white;
      }
    }

    &.-active button {
      background-color: $charcoal-grey;
      color: $white;
    }

    &.-item-active {
      background-color: $charcoal-grey;

      button {
        &:hover {
          border: 1px solid $white;
        }
      }
    }
  }
}

.-all-selected {
  .grid-list-item-button {
    background-color: $charcoal-grey;

    .grid-list-item-text {
      color: $white;
    }

    &.-active {
      background-color: $medium-gray;
      .grid-list-item-text {
        color: $charcoal-grey;
      }
    }
  }
}
