@import 'styles/settings';

.c-grid-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10px 10px 0;

  &.heading-container {
    justify-content: center;
  }

  &.color-transparent {
    .grid-list-item-button {
      background-color: transparent;
      border: 1px solid $main-dark-blue;

      .grid-list-item-text {
        color: $main-dark-blue;
      }

      &:hover {
        background-color: $main-dark-blue;

        .grid-list-item-text {
          color: $white;
        }
      }
    }
  }

  &.color-strong-pink {
    .grid-list-item-button {
      background-color: transparent;
      border: 1px solid $strong-pink;

      .grid-list-item-text {
        color: $main-dark-blue;
      }

      &:hover {
        background-color: $strong-pink;

        .grid-list-item-text {
          color: $white;
        }
      }
    }
  }

  &.color-white {
    .grid-list-item-button {
      background-color: $white;

      .grid-list-item-text {
        color: $main-dark-blue;
      }

      &:hover {
        background-color: $main-dark-blue;

        .grid-list-item-text {
          color: $white;
        }
      }
    }
  }

  .grid-list-item-heading {
    padding-top: 6px;
  }

  .grid-list-item-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    width: 100%;

    span {
      display: block;
      width: inherit;
      height: inherit;

      &.disclaimer-mark {
        display: inline;
      }
    }
  }

  .grid-list-item-button {
    background-color: $gray-50;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    flex: 1;
    cursor: pointer;

    &.-active {
      background-color: $main-dark-blue;

      .grid-list-item-text {
        color: $white;
      }
    }

    &.-has-info {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &[disabled=''] {
      cursor: default;
      opacity: 0.4;
    }
  }

  .grid-list-item-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .grid-list-item-info {
    background-color: $gray-50;
    height: 100%;
    width: 40px;
    padding: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    &[disabled=''] {
      opacity: 0.4;
    }

    .tooltip-react {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    button {
      font-weight: $font-weight-bold;
      font-family: $font-family-1;
      color: $white;
      background: $gray-200;
      height: 24px;
      width: 24px;
      margin-top: -2px;
      border-radius: 50%;
      cursor: default;

      &:hover {
        background-color: $main-dark-blue;
        color: $white;
      }
    }

    &.-active button {
      background-color: $main-dark-blue;
      color: $white;
    }

    &.-item-active {
      background-color: $main-dark-blue;

      button {
        color: $gray-500;
        background: $white;
        &:hover {
          border: 1px solid $white;
        }
      }
    }
  }
}

.-all-selected {
  .grid-list-item-button {
    background-color: $main-dark-blue;

    .grid-list-item-text {
      color: $white;
    }

    &.-active {
      background-color: $medium-gray;
      .grid-list-item-text {
        color: $main-dark-blue;
      }
    }
  }
}

.v-profiles,
.v-layers {
  .grid-list-item-text {
    padding-left: 20px;
  }
}