@import 'styles/settings';

.c-grid-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10px 10px 0;

  &.v-explore {
    padding: 0 20px 10px 0;

    .grid-list-item-button {
      background-color: $white;
      border: 1px solid $charcoal-grey-faded-a-lot;

      &:hover {
        background-color: $charcoal-grey;

        > span {
          color: $white;
        }
      }
    }
  }

  &.color-white {
    .grid-list-item-button {
      background-color: $white;
      span {
        color: $charcoal-grey;
      }
    }
  }

  .grid-list-item-heading {
    padding-top: 6px;
  }

  .grid-list-item-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    width: 100%;
  }

  .grid-list-item-button {
    background-color: $medium-gray;
    border-radius: 4px;
    height: 100%;
    flex: 1;
    padding: 0 20px;
    cursor: pointer;
    overflow: hidden;

    span {
      color: $charcoal-grey;
      font-family: $font-family-1;
      font-size: 13px;
      font-weight: $font-weight-bold;
      line-height: 0.77;
      letter-spacing: -0.8px;
      text-transform: capitalize;
    }

    &.-active {
      background-color: $charcoal-grey;

      span {
        color: $white;
      }
    }

    &.-has-info {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &[disabled=''] {
      cursor: default;
    }

    &[disabled=''] {
      opacity: 0.4;
    }
  }

  .grid-list-item-info {
    background-color: $mid-light-gray;
    height: 100%;
    width: 40px;
    border-left: 1px solid $white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    .tooltip-react {
      display: block;
      height: 100%;
      width: 100%;
      margin: 0;
    }

    button {
      height: 100%;
      width: 100%;
      font-weight: $font-weight-bold;
      color: rgba($charcoal-grey, 0.8);
      cursor: pointer;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

      &[disabled=''] {
        cursor: default;
        opacity: 0.4;
      }
    }

    &.-active button {
      background-color: $charcoal-grey;
      color: $white;
    }
  }
}

.-all-selected {
  .grid-list-item-button {
    background-color: $charcoal-grey;

    span {
      color: $white;
    }

    &.-active {
      background-color: $medium-gray;
      span {
        color: $charcoal-grey;
      }
    }
  }
}
