@import 'styles/settings';

.tick-text {
  font-size: $font-size-x-regular;
  text-transform: uppercase;
  font-weight: $font-weight-light;
  font-family: $font-family-1;
  text-anchor: end;
  letter-spacing: -0.7px;
}

.tick-text-link {
  &:hover {
    text-decoration: underline;
  }
}
