@import 'styles/settings';

.c-profile-destinations-panel {
  width: 560px;
  margin: 0 auto;

  .profile-destinations-panel-pill-list {
    margin-bottom: 39px;
    overflow-x: hidden !important;
  }

  .profile-destinations-panel-search {
    margin: 0 0 25px 0;
  }

  @media screen and (min-width: $breakpoint-laptop) {
    width: initial;
    margin: initial;
  }
}
