@import 'styles/settings';

.c-full-screen-button {
  .button {
    position: absolute;
    left: 10px;
    right: 0;
    bottom: 10px;
    height: 100px;

    padding: 20px;
    background-color: $charcoal-grey;

    z-index: $z-above-veil;
  }
}
