@import 'styles/settings';
@import 'styles/mixins';

.c-button-links {
  .link-container {
    &:first-child {
      padding-bottom: 20px;
    }

    @media screen and (min-width: $breakpoint-foundation-small) {
      &:first-child {
        padding-bottom: 0;
      }
    }
  }

  .link-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    min-height: 70px;
    padding: 5px 20px;

    border: solid 1px rgba($charcoal-grey, 0.3);
    border-radius: 5px;
    font-family: $font-family-1;
    font-size: $font-size-x-regular;
    font-weight: bold;
    line-height: 1.23;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    color: $charcoal-grey;

    cursor: pointer;

    .icon-external-link {
      fill: $charcoal-grey-faded-a-lot;
    }

    &:hover {
      .icon-external-link {
        fill: $charcoal-grey;
      }
    }
  }
}

.link-text {
  margin-top: 10px;
}

.data-view-image {
  width: 45px
}

.profile-content-anchor {
  position: absolute;
  left: 0;
  margin-top: -64px;
}
