@import 'styles/settings';
@import 'styles/mixins';

.c-button-links {
  .link-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 70px;
    border: solid 1px rgba($charcoal-grey, 0.3);
    font-family: $font-family-1;
    font-size: $font-size-x-regular;
    font-weight: bold;
    line-height: 1.23;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    color: $charcoal-grey;
    cursor: pointer;

    &:hover {
      .icon-external-link {
        fill: $charcoal-grey;
      }

      &.-with-arrow:after {
        @include arrow(11px, 1px, $charcoal-grey, 'down');
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 88px;
      width: 1px;
      height: 100%;
      background-color: rgba($charcoal-grey, 0.3);
    }

    > span {
      padding: 5px 10px;
    }

    &.-with-arrow:after {
      @include arrow(11px, 1px, rgba($charcoal-grey, .3), 'down');
      content: '';
      position: absolute;
      bottom: -13px;
      left: 0;
      right: 0;
      margin: auto;
    }

    .icon-external-link {
      position: absolute;
      top: 6px;
      right: 6px;
      width: 16px;
      height: 16px;
      fill: $charcoal-grey-faded-a-lot;
    }
  }
}

.profile-content-anchor {
  position: absolute;
  left: 0;
  margin-top: -64px;
}
