@import 'styles/settings';

.c-table-modal {
  width: 900px;
  padding: 20px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  .table {
    margin-top: 40px;
    text-align: center;
  }

  .table-modal-footer {
    padding: 25px 0 0;
    text-align: center;
  }
}
