@import 'styles/settings';

.c-world-map {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56%;
  padding-top: 20px;

  @media screen and (min-width: $breakpoint-foundation-small) {
    padding-top: 0;
  }

  .ratio-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .world-map {
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;

    .world-map-geography {
      fill: $yellow-gray;
      stroke: $white;
      stroke-width: 0.2px;
      outline: 0;
      pointer-events: visibleFill;

      &.-dark {
        fill: $yet-another-gray;
      }

      &.-flow-widget {
        fill: rgba($black, 0.2)
      }

      &.-darker {
        fill: rgba($charcoal-grey, 0.7);
      }

      &.-pink {
        fill: $strong-pink;
      }
    }

    .world-map-arc {
      fill: transparent;
      stroke: rgba($charcoal-grey, 0.7);
      stroke-linecap: round;
      outline: 0;
      pointer-events: visibleStroke;

      &:hover {
        stroke: $charcoal-grey;
      }
    }

    .world-map-annotation-text {
      fill: $charcoal-grey;
      font-family: $font-family-1;
      font-size: 13px;
      text-transform: uppercase;
      text-align: right;
      line-height: 0.64;
      letter-spacing: -0.7px;
      pointer-events: none;

      + path {
        stroke: $charcoal-grey;
      }

      &.-label {
        transform: translateY(3px);
      }
    }
  }
}
