@import '../../settings';

.c-homepage {
  overflow: hidden;

  .home-subtitle {
    font-family: $font-family-1;
    font-size: 13px;
    letter-spacing: -.8px;
    color: $medium-pink;
    text-transform: uppercase;
  }

  .splitted {
    position: relative;
    height: 550px;
    background: linear-gradient(to bottom, $egg-shell 0%, $egg-shell 50%, $light-gray 50%, $light-gray 100%);
    cursor: pointer;

    @media only screen and (min-width: $breakpoint-foundation-small) {
      background: linear-gradient(to right, $egg-shell 0%, $egg-shell 50%, $light-gray 50%, $light-gray 100%);
    }

    .screenshot {
      position: absolute;
      height: 60%;
      width: 50%;
      bottom: 0;
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: contain;
      pointer-events: none;

      @media only screen and (min-width: $breakpoint-foundation-small) {
        width: calc(50% - 60px);
      }

      &.-half {
        right: 0;
        bottom: 50%;
        background-image: url('./../public/images/backgrounds/screenshot-half.jpg');

        @media only screen and (min-width: $breakpoint-foundation-small) {
          right: 50%;
          bottom: 0;
        }
      }

      &.-end {
        right: 0;

        background-image: url('./../public/images/backgrounds/screenshot-end.png');
      }
    }

    .row {
      height: 100%;
    }

    .column {
      height: 50%;

      @media only screen and (min-width: $breakpoint-foundation-small) {
        height: 100%;
      }

      @media only screen and (min-width: 1140px) {
        &:first-child .splitted-column-wrapper {
          padding-left: 0;
        }

        &:last-child .splitted-column-wrapper {
          padding-right: 0;
        }
      }
    }

    .splitted-column-wrapper {
      display: block;
      height: 100%;
      width: 100%;
      padding: 42px 0 0;

      @media only screen and (min-width: $breakpoint-foundation-small) {
        padding: 42px 16px;
      }
    }

    .splitted-text {
      font-family: $font-family-2;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.75;
      color: $charcoal-grey;

      @media only screen and (min-width: $breakpoint-foundation-small) {
        font-size: 24px;
      }
    }

    .second-column {
      margin-left: 60px;
    }
  }

  .sliders {
    background-color: $white;
    padding: 60px 0;
  }
}
