@import '../node_modules/plyr/src/scss/plyr';

.plyr {
  visibility: hidden;
  height: 0;
  width: 0;
  min-width: 0;

  &.plyr--playing.plyr--fullscreen-active {
    visibility: visible;
    height: 100%;
    width: 100%;
  }
}
