.c-newsletter {
  position: relative;
  z-index: $z-above;
  height: 160px;
  width: 100%;
  background-color: $white;
  box-shadow: inset 0 -1px 0 0 #ebebeb;

  > .newsletter-content {
    height: 100%;

    form {
      .newsletter-label {
        display: inline-block;
        margin-bottom: 10px;

        font-family: $font-family-2;
        font-size: $font-size-xx-regular;
        color: $charcoal-grey;
      }

      .-pink {
        color: $medium-pink;
      }

      .newsletter-input-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;

        > .newsletter-email {
          flex-shrink: 0;
          font-family: $font-family-1;
          border: solid 2px $charcoal-grey;
          border-radius: 4px;
          padding: 15px;
          width: 100%;
          max-width: 336px;
          max-height: 100%;

          &::placeholder {
            text-transform: none;
          }
        }

        > .c-button {
          height: 100%;
          margin-left: 10px;
          padding: 0 16px;
          flex: 1;
        }
      }
    }
  }
}
