.c-tweets {
  margin-bottom: 65px;

  .tweet {

    .tweet-user {
      font-family: $font-family-1;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      color: $medium-pink;
      font-size: $font-size-x-regular;
      margin-bottom: 18px;

      a {
        color: $medium-pink;
      }
    }

    .tweet-content {
      color: $charcoal-grey;
      font-family: $font-family-2;
      font-size: $font-size-xx-regular;
      font-weight: $font-weight-light;
      line-height: 1.8em;
      padding-right: 30px;

      > a {
        text-decoration: underline;
        cursor: pointer;
      }

      > strong {
        font-weight: $font-weight-bold;
      }
    }
  }
}
