.c-updates {
  .update {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .update-title-wrapper {
      margin-bottom: 15px;

      .update-type {
        text-transform: uppercase;
        font-family: $font-family-1;
        font-size: $font-size-x-regular;
        margin-bottom: 25px;
        color: $medium-pink;
      }

      .update-title {
        font-family: $font-family-2;
        color: $charcoal-grey;
        font-weight: $font-weight-light;
        font-size: $font-size-medium;
        line-height: 32px;
      }
    }

    .update-image-wrapper {
      min-height: 300px;

      .update-image {
        border-radius: 4px;
        width: 100%;
        height: 160px;
        background-position: center;
        background-size: cover;

        &.-one {
          background-image: url('./../public/images/mocks/one.jpg');
        }

        &.-two {
          background-image: url('./../public/images/mocks/two.jpg');
        }

        &.-three {
          background-image: url('./../public/images/mocks/three.jpg');
        }

        &.-four {
          background-image: url('./../public/images/mocks/four.jpg');
        }
      }

      .update-description {
        min-height: 160px;
        color: $charcoal-grey;
        font-family: $font-family-2;
        font-weight: $font-weight-light;
        font-size: $font-size-xx-regular;
        line-height: 2.0;
      }
    }
  }
}
