@import 'styles/settings';
@import 'styles/mixins';

.c-profiles-table {
  padding: 56px 0 42px 0;

  > .title {
    margin: 0 0 24px;
  }

  table {
    width: 100%;

    > thead {
      > .table-row {
        border-bottom: 2px solid $charcoal-grey;
      }

      > .table-row > .header-cell {
        padding: 0 0 8px;

        color: $charcoal-grey;
        font-family: $font-family-1;
        font-size: $font-size-x-regular;
        font-weight: $font-weight-bold;
        letter-spacing: -.6px;
        line-height: 1.23;
        text-align: left;
        text-transform: uppercase;
        vertical-align: middle;
        min-width: 150px;

        .align-content-right {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          text-align: right;
        }

        &:not(:first-child) {
          padding-left: 10px;
        }
      }
    }

    > tbody {
      > .table-row {

        &:not(:last-child) {
          border-bottom: 1px solid rgba($charcoal-grey, .2);
        }

        > .cell-name,
        > .cell-score {
          color: $charcoal-grey;
          font-family: $font-family-1;
          font-size: $font-size-xx-regular;
          letter-spacing: -.8px;
          line-height: 2.5;

          @media screen and (max-width: $breakpoint-foundation-small) {
            font-size: $font-size-x-regular;
          }
        }

        > .cell-name {
          position: relative;
          line-height: $font-size-xx-regular;

          > .node-name {
            display: inline-block;
            max-width: calc(100% - 20px);

            text-overflow: ellipsis;
            white-space: nowrap;

            opacity: 1;
            overflow: hidden;
            vertical-align: bottom;
          }

          .node-link {
            display: inline-flex;

            @media print {
              display: none;
            }
          }

          .node-link {
            .icon-outside-link {
              margin: 0 10px 0 0;
              vertical-align: text-bottom;
              cursor: pointer;
              fill: rgba($charcoal-grey, .2);
            }

            &:hover {
              text-decoration: underline;

              .icon-outside-link {
                fill: $charcoal-grey;
              }
            }
          }

          @media screen and (max-width: $breakpoint-foundation-small) {
            line-height: $font-size-x-regular;
          }
        }

        > .cell-score  {
          position: relative;
          min-width: 70px;

          > .unit {
            color: $charcoal-grey;

            &::after {
              margin: 0 0 0 8px;
              color: rgba($charcoal-grey, .6);
              content: attr(data-unit);
            }
          }
        }
      }
    }
  }

  .table-container {
    @media print {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (max-width: $breakpoint-foundation-small) {
      overflow-x: auto;
    }
  }
}
