  @import 'styles/settings';

  .c-titlebar {
    display: flex;
    align-items: center;
    position: absolute;
    top: calc(100% - #{$titlebar-height});
    width: calc(100% - #{$feedback-button-closed-width + 8});
    height: $titlebar-height;
    padding-left: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    transition: left .45s $ease-in-out-sine;
    z-index: 2;

    .search {
      padding-top: 16px;
    }
  }