@import 'styles/settings';

.c-versioning-modal {
  .versioning-modal-content {
    min-width: 40vw;
    padding: 40px 24px;

    .modal-title,
    .summary-title {
      margin-bottom: 26px;
    }

    .summary {
      margin-bottom: 20px;

      a {
        font-weight: $font-weight-bold;
        text-decoration: underline;
      }
    }
  }
  .divider {
    width: 100%;
    border-top: 1px solid $medium-gray;
    margin: 30px 0 15px;
  }
}
