@import 'styles/settings';

.c-versioning-modal {
  .versioning-modal-content {
    min-width: 60vw;
    padding: 25px 10px 30px;

    .modal-title,
    .summary-title {
      margin-bottom: 10px;
    }

    .summary {
      margin-bottom: 20px;

      a {
        font-weight: $font-weight-bold;
        text-decoration: underline;
      }
    }
  }
}
