@import 'styles/settings';

$footer-height: 86px;

.c-versioning-modal {
  .versioning-modal-content {
    width: 750px;
    height: 90vh;
    padding: 15px 5px $footer-height + 20px;

    .modal-title,
    .summary-title,
    .summary {
      margin-bottom: 15px;
    }

    .summary-text {
      margin-bottom: 20px;
    }
  }

  .modal-footer {
    background-color: $background-white;
    padding: 20px 0 20px;
    border-top: 1px solid $medium-gray;
    position: absolute;
    bottom: 0;
    height: $footer-height;
    width: 100%;

    .link-button {
      margin: 0 auto;
      display: block;
    }
  }
}
