@import '../../settings';

.c-button {
  border: 1px solid rgba($charcoal-grey, .3);
  border-radius: 4px;
  color: $charcoal-grey;
  font-family: $font-family-1;
  font-size: $font-size-x-regular;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;

  &.-bold {
    font-weight: $font-weight-bold;
  }

  &.-pink {
    border-color: transparent;
    background-color: $strong-pink;
    color: $white;
  }

  &.-white {
    border-color: transparent;
    background-color: $white;
    color: $medium-pink;
  }

  &.-transparent {
    border-color: $medium-pink;
    background-color: transparent;
    color: $medium-pink;
  }

  &.-gray {
    border-color: transparent;
    background-color: $gray;
    color: $charcoal-grey;
  }

  &.-charcoal {
    border-color: transparent;
    background-color: $charcoal-grey;
    color: $white;
  }

  &.-medium {
    padding: 15px;
  }

  &.-medium-large {
    padding: 15px 24px;
  }

  &.-large {
    padding: 15px 70px;
  }

  &.-big {
    padding: 16px 24px 13px;
  }

  &.-disabled {
    border-color: rgba($charcoal-grey, .3);
    color: rgba($charcoal-grey, .3);
    pointer-events: none;
  }

  &.-with-icon {
    .icon {
      margin-left: 5px;
    }
  }
}
