@import '../../settings';
@import '../nav/basic-dropdown';

.c-dimensional-selector {
  @extend %dropdown;
  height: 275px;

  .dimension-container {
    display: flex;
    height: 250px;

    .dimension-list {
      padding: 5px 0;
      width: 210px;
      overflow: auto;
      border-right: 1px solid $pale-grey;
      cursor: default;

      &:last-child {
        border-left: 0;
      }
    }

    .dimension-list-item {
      padding: 10px 25px;
      cursor: pointer;

      &:hover {
        background-color: $manilla;
      }

      &.-selected {
        background-color: $manilla;
      }

      &.-disabled {
        color: rgba($charcoal-grey, .3);
        background-color: transparent;
        cursor: default;
      }

      &.-capitalize {
        text-transform: capitalize;
      }
    }
  }

  .dimensional-selector-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 100%;
    background-color: $background-white;
    cursor: default;

    .dimensional-selector-footer-text {
      font-size: $font-size-x-regular;
      font-weight: 500;
      color: $charcoal-grey-faded;
      letter-spacing: -.5px;
      text-align: center;
      text-transform: uppercase;

      @media screen and (min-width: $breakpoint-foundation-small) {
        font-size: $font-size-small;
      }
    }
  }
}
