@import 'styles/settings';

.dropdown-item-legend-summary {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  > .color {
    flex-grow: 1;
    height: 5px;

    @for $i from 1 through length($recolorby-colors) {
      &.#{nth($recolorby-colors-names, $i)} {
        background-color: #{nth($recolorby-colors, $i)};
      }
    }

    @for $i from 1 through length($recolorgroup-colors) {
      &.#{nth($recolorgroup-colors-names, $i)} {
        background-color: #{nth($recolorgroup-colors, $i)};
      }
    }
  }
}
