@import '../../settings';

.c-filters-nav {
  display: flex;
  top: 0;
  position: fixed;
  width: 100%;
  height: $nav-height;
  font-family: $font-family-1;
  z-index: $z-nav;
  background-color: $white;
  box-shadow: 0 10px 20px 0 rgba($charcoal-grey, 0.2);
}
