@import '../../settings';

.tooltip-react {
  display: inline;
  position: relative;

  &.-floating {
    position: absolute;
    top: 34px;
    right: 16px;
  }

  &:hover {
    .tooltip-react-icon {
      opacity: 1;
    }
  }

  .tooltip-react-icon {
    opacity: .3;
    font-size: 12px;
    margin-left: 4px;
  }

  .tooltip-react-content {
    position: absolute;
    width: 300px;
    z-index: $z-tooltip;
    background: $charcoal-grey;
    font-family: $font-family-2;
    font-size: $font-size-regular;
    font-weight: 300;
    line-height: 1.67;
    color: $white;
    padding: 16px;
    box-shadow: 0 10px 20px 0 rgba($charcoal-grey, .2);
    text-transform: none;
    text-align: left;
    top: 20px;
    left: -145px;

    &::before {
      top: -10px;
      left: 50%;
      border: solid transparent;
      content: ' ';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: $charcoal-grey;
      border-width: 5px;
    }

  }

  &.right {
    .tooltip-react-content {
      left: -280px;

      &::before {
        left: auto;
        right: 5px;
      }
    }
  }
}
