@import '../../settings';

.c-nav-tool {
  display: flex;
  top: 0;
  position: fixed;
  width: 100%;
  height: $nav-height;
  font-family: $font-family-1;
  z-index: $z-nav;

  > .columns {
    display: flex;
  }

  nav {
    display: flex;
    justify-content: space-between;
    height: $nav-height;


    .left-side,
    .right-side {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
    }
  }

  .nav-item {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: $nav-height;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .5px;
    color: $charcoal-grey;
    cursor: pointer;

    &.-has-menu {
      &:hover .nav-submenu {
        display: block;
      }
    }

    &.-selected, &:hover {
      > .nav-link::before {
        content: '';
        position: absolute;
        left: 16px;
        bottom: 0;
        width: calc(100% - 32px);
        height: 6px;
        background-color: $medium-pink;
        z-index: $z-base;
      }
    }

    &.-logo {

      > a {
        display: inline-block;
        padding-right: 32px;

        .logo-img {

          &.-sei {
            width: 135px;
            height: 25px;
          }

          &.-gcp {
            width: 160px;
          }
        }
      }
    }

    &:not(:first-child) .nav-submenu {
      margin-left: 16px;
    }
  }

  .nav-submenu {
    display: none;
    position: absolute;
    left: 0;
    top: $nav-height - 11;
    white-space: nowrap;
    background-color: $white;
    box-shadow: 0 10px 20px 0 rgba($charcoal-grey, .2), 0 0 20px 0 rgba($charcoal-grey, .18);
    border: solid 1px rgba($charcoal-grey, .2);
    z-index: $z-above;

    > .nav-submenu-item {
      display: flex;
      align-items: center;
      font-weight: normal;
      height: 48px;

      &:not(:first-child) {
        border-top: solid 1px rgba($charcoal-grey, .2);
      }

      &:hover {
        background-color: $egg-shell;
      }
    }

    &:after,
    &:before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 11px;
      border: solid transparent;
      height: 0;
      width: 0;
    }

    &:after {
      border-bottom-color: $white;
      border-width: 5px;
      margin-left: -5px;
    }

    &:before {
      border-bottom-color: rgba($charcoal-grey, .2);
      border-width: 6px;
      margin-left: -6px;
    }
  }

  .nav-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;
  }

  .burger {
    position: relative;
    width: 18px;
    height: $nav-height;

    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    &:hover > .ingredient {
      background: $medium-pink;
    }

    > .ingredient {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      border-radius: 3px;
      background: $black;
      opacity: 1;

      &:first-child {
        top: 26px;

        transform-origin: left center;
      }

      &:nth-child(2) {
        top: 31px;

        transform-origin: left center;
      }

      &:last-child {
        top: 36px;

        transform-origin: left center;
      }
    }

    &.open {

      &:hover {
        > .ingredient {
          background: $medium-pink;
        }
      }

      > .ingredient {
        border-radius: 0;
        background: $black;

        &:first-child {
          top: 25px;
          left: 3px;

          transform: rotate(45deg);
        }

        &:nth-child(2) {
          width: 0%;
          opacity: 0;
        }

        &:last-child {
          top: 38px;
          left: 3px;

          transform: rotate(-45deg);
        }
      }
    }
  }

  .icon-search {
    width: 21px;
    height: 22px;
    fill: $charcoal-grey;
    visibility: hidden;
  }

  .-dark { display: none; }
  .-light { display: block; }

  &.-home {
    .nav-link {
      color: $white;
    }

    .nav-submenu {
      .nav-submenu-item > .nav-link {
        color: $charcoal-grey;
      }
    }
  }

  &.-have-background {
    background-color: $white;
    box-shadow: 0 10px 20px 0 rgba($charcoal-grey, 0.2);

    .nav-link {
      color: $charcoal-grey;
    }

    .-dark { display: block; }
    .-light { display: none; }
  }

  .l-tool & {
    box-shadow: 0 1px 6px 0 rgba($black, .15), 0 1px 6px 0 rgba($black, .2);

    .row {
      min-width: 100%;
    }

    .columns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 0;
      padding-left: 0;
    }

    .dropdown-list {
      top: $nav-height;
    }

    .left-side {
      border-right: 1px solid $pale-grey;
    }

    .nav-item {
      padding: 0 18px !important;
      border-left: 1px solid $pale-grey;

      &:first-child {
        .nav-link {
          padding-left: 16px;
        }
      }
    }

    .app-nav-container {
      display: flex;
    }

    .app-nav {
      min-width: calc(100% - 58px);
      .nav-item {
        padding: 0 !important;
      }

      .nav-link:before {
        width: 100%;
        left: 0;
      }
    }

    .icon-search {
      visibility: visible;
    }
  }
}

.c-nav-spacer {
  width: 100%;
  height: $nav-height;
  background-color: $egg-shell;

  .l-tool & {
    background-color: $white;
  }

  &.-home {
    display: none;
  }
}

.dropdown-item-legend-summary {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  > .color {
    flex-grow: 1;
    height: 5px;

    @for $i from 1 through length($recolorby-colors) {
      &.#{nth($recolorby-colors-names, $i)} {
        background-color: #{nth($recolorby-colors, $i)};
      }
    }

    @for $i from 1 through length($recolorgroup-colors) {
      &.#{nth($recolorgroup-colors-names, $i)} {
        background-color: #{nth($recolorgroup-colors, $i)};
      }
    }
  }
}
