@import '../../settings';

.c-nav {
  top: 0;
  position: fixed;
  width: 100%;
  height: $nav-height;
  font-family: $font-family-1;
  background-color: transparent;
  z-index: $z-nav;
  transition: all 150ms ease-in;

  .row {
    height: 100%;
  }

  &.-has-background {
    background-color: $white;
    box-shadow: 0 10px 20px 0 rgba($charcoal-grey, 0.2);

    .nav-item .nav-link {
      color: $charcoal-grey;
    }
  }

  &.-light {
    .nav-item .nav-link {
      color: $charcoal-grey;
    }
  }
}

.nav-item-list {
  display: inline-flex;
  height: 100%;
}

.nav-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin: 0 6px;
  font-size: 16px;
  font-weight: $font-weight-bold;
  letter-spacing: .5px;
  cursor: pointer;

  &:hover {
    .nav-link::after {
      width: 100%;
    }
  }

  .icon-download-pdf {
    transform: translateY(1px)
  }
}

.nav-link {
  padding: 16px 10px;
  color: $white;
  text-transform: uppercase;

  &::after {
    display: block;
    position: absolute;
    content: '';
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: $strong-pink;
    transition: width 150ms ease-in;
  }

  &.-active {
    &::after {
      width: 100%;
    }
  }
}

