.c-newsletter {
  width: 100%;
  form {
    .newsletter-label {
      position: absolute;
      top: 0;
      font-family: $font-family-2;
      font-size: $font-size-xx-regular;
      color: $charcoal-grey;
      transform: translateY(calc(-100% - 8px));
    }

    .-pink {
      color: $medium-pink;
    }

    .newsletter-input-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;

      > .newsletter-email {
        flex: auto;
        height: 100%;
        font-family: $font-family-1;
        border: solid 2px $charcoal-grey;
        border-radius: 4px;

        &::placeholder {
          text-transform: none;
        }
      }

      > .c-button {
        height: 100%;
        margin-left: auto;
        padding: 0 16px;
        flex: none;
      }
    }
  }
}
