.c-search-input {
  .search-input-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #34444C;
    width: 300px;
    border-radius: 4px;
    padding: 0 0 0 15px;
    position: relative;
    height: 40px;

    input {
      height: 40px;
      width: 100%;
      background: transparent;
      padding: 0 0 0 5px;
      outline: 0;
    }
  }
}
