@import '../../settings';
@import '../../mixins';

.c-search-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 15px;
  cursor: pointer;
  border-bottom: solid 1px $pale-grey;
  overflow: hidden;

  .search-node-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    height: 56px;
  }

  .search-node-name {
    left: -1px;
    font-family: $font-family-1;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: -0.5px;
    color: $charcoal-grey;
    text-transform: uppercase;
  }

  .search-node-type {
    @include smallcaps;
    display: block;
  }

  .search-node-actions-container {
    display: flex;
    visibility: hidden;

    .c-button {
      height: 42px;
      letter-spacing: -0.7px;
      line-height: 0.77;
      font-weight: normal;
      border-color: rgba($charcoal-grey, .3);
      padding-left: 15px;
      padding-right: 15px;

      &:hover {
        border-color: transparent;
        background-color: $charcoal-grey;
        color: $white;

        &.-with-icon {
          .icon {
            opacity: unset;
          }
        }
      }

      &.-with-icon {
        .icon {
          width: 12px;
          height: 10px;
          opacity: .3;
        }
      }
    }

    * {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  mark {
    background: $egg-shell;
  }

  &:hover:not(.-no-highlight),
  &[aria-selected='true'],
  &.-highlighted {
    background: $egg-shell;
    color: $charcoal-grey;

    .search-node-actions-container {
      visibility: visible;
    }
  }
}
