@import '../../settings';
@import '../../mixins';

.c-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-height;
  background-color: $white;
  z-index: $z-search;

  > .icon-search {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 18px;
    margin: auto;
    width: 21px;
    height: 22px;
  }

  .awesomplete {
    width: 100%;
    height: 100%;
    position: relative;

    > input {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 2px 15px 0 15px;
      background: none;
      font-family: $font-family-1;
      font-size: $font-size-medium;
      letter-spacing: -1px;
      color: $charcoal-grey;
      outline: none;
      box-shadow: 0 10px 20px 0 rgba($charcoal-grey, 0.2);
      border-radius: 0;
      z-index: $z-above;
    }

    > ul {
      position: absolute;
      min-height: 80%;
      border-radius: 0;
      margin: 0;
      background: #f8f8f8;
      border: 0;
      box-shadow: none;
      text-shadow: none;
      transition: none;
      overflow-y: auto;
      max-height: 345px;

      &:before {
        display: none;
      }
    }
  }

  .awesomplete > ul > li {
    position: relative;
    padding: 14px 15px;
    cursor: pointer;
    border-bottom: solid 1px #dbe0e5;

    > .node-name {
      position: relative;
      left: -1px;
      font-family: $font-family-1;
      font-size: 17px;
      letter-spacing: -0.5px;
      color: $charcoal-grey;
      text-transform: uppercase;
    }

    > .node-type {
      @include smallcaps;
      display: block;
    }
  }

  .awesomplete > ul > li:hover, .awesomplete > ul > li[aria-selected='true'] {
    background: $egg-shell;
    color: $charcoal-grey;
  }

  .awesomplete > ul > li[aria-selected='true'] {
    border: 1px solid $charcoal-grey-faded;
  }

  .awesomplete mark {
    background: $egg-shell;
  }

  .awesomplete li:hover mark, .awesomplete > ul > li[aria-selected='true'] mark {
    background: $egg-shell;
  }

  .c-search__veil {
    position: fixed;
    top: $nav-height;
    left: 0;
    width: 100%;
    height: calc(100% - 56px);
    background-color: rgba($charcoal-grey, .4);
  }
}
