.c-selector {
  position: relative;

  &::after {
    @include arrow(16px, 2px, $medium-pink, 'down');

    display: inline-block;
    // position: absolute;
    top: 50%;
    // transform: translate(0, -50%);
    content: '';
  }

  > .native-select {
    border: 0;

    background: transparent;
    appearance: none;
  }
}
