.c-sidebar-nav {
  opacity: 0;
  position: fixed;
  top: $nav-height;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  z-index: $z-above-hero;
  transform: translate(0, 40px);
  transition: transform 400ms ease, opacity 500ms ease;

  &.-entered {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
  }

  &.-exiting {
    opacity: 0;
  }

  &.-exited {
    opacity: 0;
    pointer-events: none;
  }


  @media only screen and (min-width: $breakpoint-foundation-small)  {
    position: relative;
    width: 100%;
    min-height: 321px;
    opacity: 1;
    box-shadow: 0 1px 3px 0 rgba($black, 0.1), 0 1px 2px 0 rgba($black, 0.2);
    transform: translateY(-50%);
    flex: none;

    &.-exited {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .nav-sidebar-link-list {
    height: 100%;
    padding: 20px;

    @media only screen and (min-width: $breakpoint-foundation-medium) {
      padding: 40px;
    }
  }

  .nav-sidebar-link-list-item {
    &:not(:first-child) {
      margin: 25px 0 0;
    }

    &:only-child {
      margin: 0;
    }
  }

  .nav-sidebar-link {
    font-family: $font-family-1;
    font-size: 13px;
    letter-spacing: -0.8px;
  }
}

.sidebar-nav-toggle {
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 8px;
  background: $white;
  border-radius: 100%;
  box-shadow: rgba($black, 0.3) 0 0 20px;
  cursor: pointer;
  z-index: $z-above-sidebar-mobile;
  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    background-color: lighten($charcoal-grey, 7%);
  }

  @media only screen and (min-width: $breakpoint-foundation-small) {
    &.-entered {
      opacity: 0;
    }

    &.-exited {
      opacity: 0;
    }
  }


  .icon {
    fill: $charcoal-grey;
    stroke: $charcoal-grey;
    width: 17px;
    height: 17px;

    &.icon-menu {
      height: 22px;
      width: 22px;
    }
  }
}
