.c-static-content {

  .container {
    padding: 56px 0 132px;
  }

  .markdown-content {
    p {
      color: $charcoal-grey;
      font-family: $font-family-2;
      font-size: 17px;
      font-weight: 300;
      line-height: 2.24;

    &:not(:first-child){
        margin: 32px 0 0;
      }
    }
  }
}
