.c-world-map {
  background-color: $light-gray;

  .world-map-geography {
    fill: rgba($charcoal-grey, 0.3);
    stroke: $white;
    outline: 0;

    &.-origin {
      fill: $strong-pink;
    }

    &.-destination {
      fill: rgba($charcoal-grey, 0.5);
    }
  }

  .world-map-arc {
    fill: transparent;
    stroke: rgba($gray-text, 0.7);
    stroke-linecap: round;
    outline: 0;
    pointer-events: none;
  }

  .world-map-annotation-text {
    font-family: $font-family-1;
    fill: $charcoal-grey;
    line-height: 0.64;
    letter-spacing: -0.7px;
    text-align: right;
    font-size: 13px;
    pointer-events: none;
  }
}
