.c-world-map {
  background-color: $light-gray;

  .world-map-geography {
    fill: rgba($charcoal-grey, 0.3);
    stroke: $white;
    outline: 0;
    pointer-events: visibleFill;

    &.-dark {
      fill: rgba($charcoal-grey, 0.5);
    }

    &.-pink {
      fill: $strong-pink;
    }
  }

  .world-map-arc {
    fill: transparent;
    stroke: $charcoal-grey;
    stroke-linecap: round;
    outline: 0;
    pointer-events: visibleStroke;
  }

  .world-map-annotation-text {
    fill: $charcoal-grey;
    font-family: $font-family-1;
    font-size: 13px;
    text-transform: uppercase;
    text-align: right;
    line-height: 0.64;
    letter-spacing: -0.7px;
    pointer-events: none;

    + path {
      stroke: $charcoal-grey;
    }

    &.-label {
      transform: translateY(3px);
    }
  }
}
