@import '../../settings';

.c-country-commodities {

  .country-commodities-children-container {
    position: absolute;
    top: $nav-height;
  }

  .country-commodities-featured-header {
    height: 125px;
    width: 100%;
    background-color: $white;
    display: flex;
    align-items: center;
    padding: 22px;
  }

  .country-commodities-selector-element {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: $font-family-2;
    font-size: $font-size-xx-regular;
    font-weight: normal;

    .data-coverage-info {
      margin-left: 5px;
      max-width: 60px;
      letter-spacing: -0.5px;
      font-size: 10px;
      font-family: $font-family-1;
      color: rgba($charcoal-grey, 0.4);
      text-transform: uppercase;
    }
  }
}