@import '../../settings';
@import '../../mixins';

.c-map {
  border-right: solid 1px rgba($charcoal-grey, .7);
  transform: translate(0, 0);
  transition: transform 1s ease;
  z-index: $z-base;

  > .c-map-leaflet {
    flex: 1 1 100%;

    .leaflet-tile-container {
      width: 256px;
      height: 256px;
    }
  }

  > .c-map-legend {
    position: absolute;
    bottom: 20px;
    width: 319px;
    z-index: 1001;

    &.-hidden {
      height: 0;
      padding: 0;
    }
  }

  .leaflet-control-zoom {
    left: 7px;
    top: 0;
    border: 0;
    box-shadow: $box-shadow;
    margin-bottom: 0;
    margin-left: 0;

    > a {
      width: 32px;
      height: 32px;
      font-size: 18px;
    }
  }

  .leaflet-bottom.leaflet-left {
    width: 100%;
    z-index: $z-leaflet-above-panes - 1;

    .leaflet-control-scale {
      display: flex;
      left: 0;
      bottom: -80px;
      justify-content: flex-end;
      width: 320px;
      margin: 0;
      padding: 5px 10px 4px;
      background: $charcoal-grey-faded;
      transform: translateY(-103px);
      transition: transform 300ms;

      .leaflet-control-scale-line {
        margin-right: 42px;
        border-width: 1px;
        border-color: $white;
        background: transparent;
        color: $white;
        font-family: $font-family-1;
        font-size: $font-size-small;
      }

      &.-simple-legend {
        transform: translateY(-168px);
      }

      &.-bivariate-legend {
        transform: translateY(-191px);
      }
    }
  }

  .leaflet-control-attribution {
    display: none;
  }

  .c-map-attribution {
    position: absolute;
    bottom: 0;
    width: 319px;
    padding: 6px 8px;
    background: $white;
    color: $charcoal-grey;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 11px;
    z-index: 1001;

    a,
    span {
      color: rgba($charcoal-grey, .5);
    }
  }

  .btn-map {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    border-radius: 4px;
    background-color: $white;
    box-shadow: $box-shadow;

    cursor: pointer;
    z-index: $z-leaflet-above-panes;

    &.-map-layers {
      position: absolute;
      top: 0;
      left: 7px;
      transform: translateY(calc(-100% - 7px));

      > .icon-layers {
        width: 16px;
        height: 16px;
      }
    }

    &.-toggle-map {
      position: absolute;
      top: 0;
      bottom: 0;
      right: -16px;
      margin: auto;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      background-color: $charcoal-grey;
      box-shadow: 0 1px 3px 0 rgba($black, .1), 0 1px 2px 0 rgba($black, .2);
      color: rgba($gray, .5);

      &:before {
        content: '';
        position: relative;
        left: -1px;
        width: 8px;
        height: 8px;
        border: 2px solid $white;
        border-top: 0;
        border-left: 0;
        transform: rotateZ(-45deg);
      }
    }

    .icon-dragger_dots {
      height: 34px;
    }
  }

  // map modifiers
  &.-moved {
    transform: translate(100%, 0);
  }

  &.-fullscreen {

    .-toggle-map {
      &::before {
        transform: rotateZ(135deg);
        left: 1px;
      }
    }

    .c-map-legend,
    .c-map-attribution {
      width: 320px;
      border-right: 1px solid rgba($charcoal-grey, .2);
    }
  }
}

.c-map-footer {
  position: absolute;
  bottom: 23px;
  z-index: $z-leaflet-above-panes;
  width: 100%;
}

.map-warnings {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 84px;
  padding: 10px;
  background: $charcoal-grey-faded;
  color: $white;
  font-family: $font-family-2;
  font-size: $font-size-regular;
  transform: translateY(-100%);
  transition: transform 300ms;
  z-index: $z-leaflet-above-panes;

  svg {
    font-size: $font-size-xx-regular;
  }

  &.-visible {
    transform: translateY(0);
  }

  .warning-wrapper {
    margin-left: auto;
    width: calc(100% - #{32px + 7px});
  }
}
