@import '../../settings';

.c-nodes-clear {
  position: relative;

  .button {
    position: absolute;
    height: 36px;
    top: -18px;
    border-radius: 18px;
    background-color: $charcoal-grey;
    color: $white;
    cursor: pointer;
  }

  .icon-button {
    width: 36px;
    z-index: $z-above;

    .icon {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      width: .8em;
      height: .8em;
    }
  }

  .text-button {
    position: absolute;
    overflow: hidden;
    width: 36px;
    right: -36px;
    pointer-events: none;
    padding-top: 13px;
    font-family: $font-family-1;
    font-size: $font-size-small;
    text-transform: uppercase;
    transition: all .3s $ease-in-out-sine;
  }

  &:hover {
    .text-button {
      padding: 13px 36px 0 16px;
      width: 150px;
    }
  }
}
