@import '../../settings';

.c-node-menu {
  position: absolute;
  width: 200px;
  box-shadow: $box-shadow-big;
  font-family: $font-family-1;

  > .title {
    padding: 10px;
    background-color: $manilla;
    letter-spacing: -1px;
    font-family: $font-family-1;
  }

  > .body {
    padding: 10px;
    background-color: $white;
  }

  .actions {

    li {
      position: relative;
      height: 32px;
      padding: 11px 8px;
      font-size: 12px;
      letter-spacing: -0.6px;
      color: $charcoal-grey;
      background-color: $white;
      cursor: pointer;

      > .icon {
        position: absolute;
        top: 8px;
        right: 10px;
        width: 16px;
        height: 16px;
      }

      &:hover {
        background-color: $manilla;
      }
    }
  }
}
