@import 'styles/settings';

.c-sankey {
  .sankey-node {
    cursor: pointer;

    .sankey-node-rect {
      fill: $white-two;
      stroke: $pinkish-grey-two;
      stroke-width: 1px;
    }

    .sankey-node-label {
      font-family: $font-family-1;
      font-size: $font-size-regular;
      text-transform: capitalize;
      text-anchor: middle;
      fill: $charcoal-grey;
      pointer-events: none;
    }

    &.-is-aggregated > .sankey-node-rect {
      // the horizontal lines pattern is defined in the <defs> section of the SVG in flows.ejs
      cursor: zoom-in;
      fill: url('#isAggregatedPattern');
    }

    &.-is-domestic > .sankey-node-rect {
      fill: $gray;
    }

    &.-is-alone-in-column {
      pointer-events: none;

      & > .sankey-node-rect {
        fill: $background-white;
      }
    }

    &.-selected {
      // disabled for now because of a Firefox rendering bug
      //filter: url(#drop-shadow); //ignore sasslint warning here

      .sankey-node-rect {
        fill: $white;
        stroke: $charcoal-grey;
      }
    }

    &.-highlighted {

      .sankey-node-rect {
        fill: $manilla;
      }
    }
  }


  .sankey-links .sankey-link {
    opacity: .1;
    fill: none;
    stroke: $charcoal-grey;

    &.-hover {
      opacity: .7;
    }

    @for $i from 1 through length($recolorby-colors) {
      &.#{nth($recolorby-colors-names, $i)} {
        opacity: .5;
        stroke: #{nth($recolorby-colors, $i)};
      }

      &.#{nth($recolorby-colors-names, $i)}.-hover {
        opacity: 1;
      }
    }

    @for $i from 1 through length($recolorgroup-colors) {
      &.#{nth($recolorgroup-colors-names, $i)} {
        opacity: .5;
        stroke: #{nth($recolorgroup-colors, $i)};
      }

      &.#{nth($recolorgroup-colors-names, $i)}.-hover {
        opacity: 1;
      }
    }
  }

  .expand-button {
    display: none;
    position: absolute;
    width: 36px;
    height: 36px;
    transition: top .45s $ease-in-out-sine;
    border-radius: 50%;
    background-color: $charcoal-grey;
    color: $white;
    box-shadow: $box-shadow-big;
    cursor: pointer;
    z-index: $z-base;

    &.-visible {
      display: block;
    }

    &:hover {
      background-color: transparent;
      box-shadow: unset;
      .c-node-menu {
        display: block;
      }
    }

    > .icon {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
    }

    .actions {
      /* only first visible button will have more-options icon */
      li:not(.is-hidden) ~ li:not(.is-hidden) {
        > .icon {
          display: none;
        }
      }
    }

    .expand-action {
      &:before {
        content: attr(data-expand-text);
      }

      &.-re-expand {
        &:before {
          content: attr(data-re-expand-text);
        }
      }
    }

    .c-node-menu {
      display: none;
      top: 2px;
      right: 0;
    }
  }
}
