@import '../../settings';

$button-size: 20px;
$fill-size: 8px;
$button-mobile-size: 24px;
$fill-mobile-size: 10px;
$not-active-color: $charcoal-grey-faded;
$active-color: $charcoal-grey;

.c-years-selector {
  min-width: 180px;

  .years-selector-content {
    display: flex;
    padding: 15px;
    min-width: auto;
  }

  .years-selector-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: $background-white;
    cursor: default;
    font-family: $font-family-1;
    font-size: $font-size-x-regular;
    font-weight: 500;
    color: $charcoal-grey-faded;
    letter-spacing: -.5px;
    text-transform: uppercase;

    @media screen and (min-width: $breakpoint-foundation-small) {
      font-size: $font-size-small;
    }
  }

  .unrotate {
    transform: rotate(-45deg);
  }

  .button {
    height: $button-mobile-size;
    width: $button-mobile-size;
    cursor: pointer;
    border: solid 2px $not-active-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 10px;

    transform: rotate(45deg);

    &:not(:last-child) {
      .fill {
        &::after {
          content: '';
          position: absolute;
          height: 2px;
          background: $not-active-color;
          top: 4px;
          left: 17px;
          width: 20px;

          @media screen and (min-width: $breakpoint-foundation-small) {
            top: 3px;
            left: 14px;
          }
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }

    @media screen and (min-width: $breakpoint-foundation-small) {
      height: $button-size;
      width: $button-size;
    }
  }

  .fill {
    position: relative;
    height: $fill-mobile-size;
    width: $fill-mobile-size;
    border: none;
    border-radius: 50%;

    span {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      font-size: $font-size-x-regular;
      color: $charcoal-grey-faded;
      letter-spacing: -0.5px;

      @media screen and (min-width: $breakpoint-foundation-small) {
        font-size: $font-size-small;
      }
    }

    @media screen and (min-width: $breakpoint-foundation-small) {
      height: $fill-size;
      width: $fill-size;
    }
  }

  &.selecting {
    .button {
      &.start {
        border-left-color: $active-color;
        border-bottom-color: $active-color;

        .fill {
          background: linear-gradient(to right, $active-color 0%, $active-color 50%, rgba($active-color,.5) 50%, rgba($active-color,.5) 100%);
        }
      }

      &.end {
        border-right-color: $active-color;
        border-top-color: $active-color;

        .fill {
          background: linear-gradient(to left, $active-color 0%, $active-color 50%, rgba($active-color,.5) 50%, rgba($active-color,.5) 100%);
        }
      }

      &.start.end {
        .fill {
          background-color: $active-color;
        }
      }

      &.active {
        .fill {
          background-color: $not-active-color;
        }
      }
    }
  }

  &.selected {
    .button {
      &.active {
        border-color: $active-color;;
        &:not(.end) {
          .fill {
            &::after {
              background: $active-color;
            }
          }
        }

        .fill {
          background-color: $active-color;
        }
      }
    }
  }
}
