@import '../../settings';

.c-years-slider {
  margin: 20px;
  position: relative;

  .selector, .years {
    position: absolute;
    top: 0;
  }

  .background, .years {
    display: flex;
    align-items: center;
    pointer-events: none;
    height: 30px;

    li {
      flex: 1;
    }
  }

  .background {
    background: $pale-grey;

    li {
      height: 30px;
      border-top: .5px solid $charcoal-grey;
      border-right: .5px solid $charcoal-grey;
      border-bottom: .5px solid $charcoal-grey;
    }

    li:first-child {
      border-left: .5px solid $charcoal-grey;
    }
  }

  .selector {
    transform: scaleY(1.2);
    transform-origin: center;
    position: absolute;
    background: $white;
    width: 40px;
    height: 30px;
    box-shadow: 0 0 6px 0 $charcoal-grey;
    cursor: move;

    .thumb {
      position: absolute;
      top: -5px;
      width: 8px;
      height: 40px;
      margin-left: -5px;
      cursor: col-resize;
      display: none;

      g {
        pointer-events: none;
      }
    }
  }

  .years {
    li {
      font-family: $font-family-1;
      font-size: $font-size-small;
      text-align: center;
    }
  }
}
