@import 'styles/settings';

.c-logistics-map-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: $logistics-map-bar-height;
  padding: 0 0 0 15px;

  .logistics-map-bar-browse {
    margin: 0 10px 0 0;
  }

  .logistics-map-bar-wrapper {
    display: flex;
    flex: 1;
    height: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .logistics-map-bar-item-container {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: calc(100% - 110px);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .logistics-map-bar-item {
    margin: 0 0 0 10px;
    padding-bottom: 0;
    overflow: hidden;
    flex-shrink: 0;
    white-space: nowrap;

    &:first-child {
      margin: 0;
    }
  }

  .logistics-map-bar-clear-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 110px;
    margin: 0 0 0 15px;
    flex-shrink: 0;
  }
}
