@import 'styles/settings';

.c-scatterplot-container {
  padding: 53px 0 63px 0;

  .c-scatterplot {
    position: relative;

    @media print {
      margin-top: 20px;
      page-break-inside: avoid;

      .c-dropdown-tab-switcher {
        .tab-switcher {
          margin-bottom: 10px;
        }

        .tabs-container {
          display: none !important;
        }
      }

      .axis-legend-x {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .dot {
        stroke: $white;
        stroke-width: 1;
      }
    }

    @media screen and (min-width: $breakpoint-foundation-small) {
      padding-bottom: 30px;
    }
  }

  .title {
    margin-bottom: 23px;
  }

  path {
    stroke: none;
    fill: none;
  }

  .axis {
    line {
      fill: none;
      stroke: $gray-350;
      stroke-opacity: .1;
    }

    text {
      font-family: $font-family-1;
      font-size: $font-size-x-regular;
      line-height: 0.92;
      letter-spacing: -1px;
      fill: $gray-350;
    }

    .axis--label-text {
      fill: $gray-350;
      text-anchor: end;
    }

    path {
      stroke: $gray-350;
      stroke-opacity: .1;
      stroke-width: 1px;
    }

    &.axis-line path {
      stroke: $gray-350;
      stroke-width: 2px;
      stroke-opacity: 1;
    }
  }

  .dot {
    fill: $charcoal-grey;
    stroke: $green-100;
    stroke-width: 2;
    transition: opacity 150ms linear;

    &:hover {
      fill: $gray-350;
    }

    &.current {
      fill: $gray-350;
      stroke: rgba($gray-350, .4);
      stroke-width: 16px;
    }

    &.-hidden {
      opacity: 0;
    }
  }

  .c-dropdown-tab-switcher {
    .tab-switcher {
      flex-direction: column;

      .tab-switcher-title {
        margin-bottom: 30px;
      }
    }
  }
}

.axis-legend-x {
  display: block;
}
