@import 'styles/settings';

.c-dashboard-modal-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-top: 1px solid $medium-gray;

  .dashboard-modal-back-button {
    border: 0;
    padding: 15px 20px;
    color: $charcoal-grey;
    font-family: $font-family-1;
    text-transform: uppercase;
    cursor: pointer;
  }

  .dashboard-modal-continue-button {
    margin: 0 15px 0 0;
  }
}
