@import 'styles/settings';

.c-dashboard-modal-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-top: 1px solid $medium-gray;

  .dashboard-modal-back-button {
    margin-right:  15px;
  }

  .dashboard-modal-continue-button {
    margin: 0 15px 0 0;
  }
}
