@import 'styles/settings';
@import 'styles/mixins';

.c-search-input {
  position: relative;

  &.bordered {
    .search-input-bar {
      flex-direction: row-reverse;
      padding: 2px 0 0 16px;
      box-shadow: none;
      border: solid 2px $charcoal-grey-faded-a-lot;
      background-color: $light-gray;

      input {
        padding: 9px;
        color: $charcoal-grey;
        font-size: $font-size-x-regular;
        letter-spacing: $letter-spacing-x-narrow;
        background-color: $light-gray;
        text-transform: uppercase;
      }
    }
  }

  &.size {
    &-sm {
      height: 40px;
      width: 370px;
    }
  }

  .search-input-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: $white;
    box-shadow: $box-shadow;
    border-radius: 4px;
    z-index: $z-base;
    cursor: text;

    .icon-search {
      height: 20px;
      width: 20px;
      margin: 0 12px 0 0;
      fill: $charcoal-grey;
      flex: none;
    }

    &.-loading {
      background-color: $white;
      .profile-search-input {
        background-color: $white;
        &::placeholder {
          color: $charcoal-grey-faded-a-lot;
        }
      }
    }

    &.-disabled {
      opacity: 0.3;
      cursor: default;
    }
  }

  .search-input-field {
    flex: 1;
    padding-right: 5px;
    font-size: 18px;
    text-align: left;
    color: $main-dark-blue;
    outline: none;
    min-width: 0;
    background-color: transparent;

    &::placeholder {
      color: $main-dark-blue;
    }
  }

  &.bordered {
    .search-input-bar {
      flex-direction: row-reverse;
      padding: 2px 0 0 16px;
      box-shadow: none;
      border: solid 2px $charcoal-grey-faded-a-lot;
      background-color: $light-gray;

      input {
        padding: 9px;
        color: $charcoal-grey;
        font-size: $font-size-x-regular;
        letter-spacing: $letter-spacing-x-narrow;
        background-color: $light-gray;
        text-transform: uppercase;
      }
    }
  }
  &.slim {
    display: inline-block;
    vertical-align: bottom;
    height: 45px;
    width: 270px;

    .search-input-field {
      font-size: $font-size-x-regular;
      text-transform: uppercase;
      font-weight: bold;
    }

    .search-input-bar {
      padding: 0 5px 0 10px;
    }

    .search-input-results {
      text-align: left;
    }

    .profile-search-result {
      padding: 14px 15px;

      .search-input-item-name {
        font-size: 17px;
      }
    }
  }
  .search-input-results {
    background: $white;
    box-shadow: $box-shadow;
    z-index: $z-base;
  }

}

.c-search-input-result {
  height: 42px;
  padding: 8px 15px;
  cursor: pointer;
  border-bottom: solid 1px $pale-grey;
  overflow: hidden;

  &:hover,
  &[aria-selected='true'],
  &.-highlighted {
    background: $egg-shell;
    color: $charcoal-grey;
  }

  .search-input-item-name {
    display: block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: $font-family-1;
  }

  .search-input-item-type {
    @include smallcaps;
    display: block;

    font-family: $font-family-1;
  }

  mark {
    background: $egg-shell;
  }
}
