<% if (data.title) { %>
<div class="header" >
    <h2 class="title -medium" ><%= data.title %></h2 >
</div >
<% } %>
<div class="content" >
    <div>
        <%= data.description %>
    </div>
    <button class="c-button size-sm js-close" >explore the supply chain</button >
</div >
