
@import 'styles/settings';

.profiles-title-container {
  .profiles-title {
    font-family: $font-family-2;
    font-size: $font-size-huge;
    display: inline;
    color: $charcoal-grey;
    font-weight: bold;
    margin-right: 30px;
  }

  .profiles-selector-button {
    vertical-align: text-bottom;
    margin-top: 20px;
  }
}