@import 'styles/settings';

.c-recolor-by-legend {
  display: flex;
  margin-top: 10px;
  align-items: center;

  .recolor-by-legend-unit {
    &.-left {
      margin-right: 4px;
    }

    &.-right {
      margin-left: 4px;
    }
  }

  .recolor-by-legend-container {
    display: inline-block;

    &.-qual {
      .recolor-by-legend-item {
        display: none;
        margin-right: 10px;

        &::before {
          display: inline-block;
          width: 11px;
          height: 11px;
          margin-right: 4px;
          border: 2px solid $white;
          border-radius: 99px;
          content: ' ';
        }

        @for $i from 1 through length($recolorby-colors) {
          &.#{nth($recolorby-colors-names, $i)} {
            &::before {
              background-color: #{nth($recolorby-colors, $i)};
            }
          }
        }

        @for $i from 1 through length($recolorgroup-colors) {
          &.#{nth($recolorgroup-colors-names, $i)} {
            &::before {
              background-color: #{nth($recolorgroup-colors, $i)};
            }
          }
        }

        &.-active {
          display: block;
        }
      }
    }

    &.-linear,
    &.-percentual,
    &.-stars {
      .recolor-by-legend-item {
        width: 12px;
        height: 12px;

        @for $i from 1 through length($recolorby-colors) {
          &.#{nth($recolorby-colors-names, $i)} {
            background-color: #{nth($recolorby-colors, $i)};
          }
        }
      }

      .recolor-by-legend-item-value {
        display: none;
      }

      &.-active {
        .recolor-by-legend-item-value {
          display: block;
        }
      }
    }
  }

  .recolor-by-legend-item {
    display: inline-block;
  }
}
