@import 'styles/settings';

.c-custom-dataset {
  font-family: $font-family-1;
  font-size: $font-size-x-regular;
  line-height: 1.23;
  letter-spacing: -0.6px;
  color: $charcoal-grey;
  padding: 51px 0 46px 0;

  .c-custom-dataset__format-sidebar {
    position: relative;
    height: calc(100% - 14px);
  }

  .c-custom-dataset__title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .c-custom-dataset-selector {
    position: relative;
    width: 100%;
    border: solid 1px rgba($charcoal-grey, .3);
    margin-bottom: 14px;

    .c-custom-dataset-selector__header {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      border-bottom: 1px solid rgba($charcoal-grey, .3);

      .c-custom-dataset-selector__header-options {
        height: 100%;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 100%;
          border-left: 1px solid rgba($charcoal-grey, .3);
        }
      }
    }

    .c-custom-dataset-selector__values {

      li {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 41px;

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:not(.-selected) {
          color: rgba($charcoal-grey, .6);
        }

        &:not(:last-child):before {
          content: "";
          position: absolute;
          bottom: 0;
          height: 1px;
        }
      }
    }

    .c-custom-dataset-selector__disabled-text {
      display: none;
      position: absolute;
      z-index: $z-above;
      padding: 0 40px;
      text-align: center;
      top: calc(50% + 20px);
      transform: translateY(-50%);
    }

    &.-disabled {
      opacity: .5;

      &:before {
        content: '';
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: calc(100% - 40px);
        background-color: $white;
      }

      .c-custom-dataset-selector__values {
        display: none;
      }

      .c-custom-dataset-selector__disabled-text {
        display: block;
      }
    }

    &[data-type='value'] {
      height: 266px;

      .c-custom-dataset-selector__header {
        padding-left: 8px;
      }

      .c-custom-dataset-selector__values {
        height: calc(100% - 40px);
        overflow: auto;
        background-color: $white;

        li {
          padding: 0 12px 0 9px;
          text-transform: capitalize;

          span {
            width: calc(100% - 28px);
          }

          &:not(:last-child):before {
            left: 8px;
            width: calc(100% - 8px);
            background-color: $gray;
          }

          &.-selected {
            font-weight: bold;
          }
        }
      }
    }

    &[data-type='format'] {

      .c-custom-dataset-selector__header {
        padding-left: 16px;
      }

      .c-custom-dataset-selector__values li {
        padding: 0 15px 0 17px;

        &:not(:last-child):before {
          left: 16px;
          width: calc(100% - 16px);
          background-color: rgba($charcoal-grey, .3);
        }
      }
    }
  }

  .download-button {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .columns:not(:last-child) {
    padding-right: 0;
  }
}

.download-button {
  font-family: $font-family-1;
  font-size: $font-size-x-regular;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: $medium-pink;
  font-weight: bold;
  line-height: .77;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  cursor: pointer;

  &.-disabled {
    pointer-events: none;
    background-color: $charcoal-grey-faded;
    cursor: not-allowed;
  }

  svg {
    position: relative;
    margin-right: 9px;
    top: 1px;
  }
}
