@import 'styles/settings';

.c-tags-group {
  margin: 0 0 15px;
  max-width: 920px;
  text-align: center;

  .tags-group-item {
    display: inline-flex;
    position: relative;
    min-height: 30px;
    padding: 0 6px 0 0;

    &.-with-cross {
      padding: 0 13px 0 0;
    }

    &.-spaced {
      margin: 0 0 0 16px;

      &:first-child {
        margin: 0;
      }
    }

    .tags-group-item-remove-cross {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      svg {
        fill: $strong-pink;
      }
    }
  }
}
