@import 'styles/settings';
@import 'styles/mixins';

.c-timeline {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 40px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: $z-above;

  .timeline-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 0 12px;
    overflow: hidden;
    flex: 1;
    position: relative;

    &::before,
    &::after {
      display: block;
      position: absolute;
      height: 30px;
      width: 60px;
      top: 0;
      z-index: $z-base;
      transform: translate(-50%, 0);
      pointer-events: none;
    }

    &::before {
      left: 30px;
      background-image: linear-gradient(
        to right,
        $background-white 70%,
        rgba($background-white, 0.2) 100%
      );
    }

    &::after {
      left: calc(100% - 30px);
      background-image: linear-gradient(
        to left,
        $background-white 70%,
        rgba($background-white, 0.2) 100%
      );
    }

    &.-button-left::before {
      content: '';
    }

    &.-button-right::after {
      content: '';
    }
  }

  .timeline-page-button {
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: $z-above;
    background-color: $charcoal-grey;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 350ms $ease-in-out-sine;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      top: 50%;
      left: 50%;
      border: 2px solid $white;
      border-bottom: 0;
      border-left: 0;
    }

    &.-prev {
      top: 0;
      left: 0;
      &::after {
        transform: translate(calc(-50% + 1px), -50%) rotate(225deg);
      }
    }

    &.-next {
      top: 0;
      right: 0;
      &::after {
        transform: translate(calc(-50% - 1px), -50%) rotate(45deg);
      }
    }

    &.-visible {
      opacity: 1;
      pointer-events: all;
    }
  }

  .timeline-years-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: transform 350ms $ease-in-out-sine;
  }

  .timeline-year-item {
    border: 1px solid $charcoal-grey-faded;
    margin: 0 6px; // matches marginBetweenItems inside useSlider
    height: 30px;
    border-radius: 4px;
    background-color: white;

    &:last-child {
      margin: 0 0 0 6px;
    }

    &.-active {
      background-color: $charcoal-grey-faded;
    }

    &.-start,
    &.-end {
      background-color: $charcoal-grey;
    }

    .timeline-year-button {
      padding: 6px 12px;
      height: 100%;
      width: 100%;
      cursor: pointer;

      &[disabled=''] {
        cursor: default;
      }
    }
  }
}
