@import 'styles/settings';

$label-height: 25px;
$circle-size: 32px;
$segment-size: 60px;
$item-size: $label-height + $circle-size;
$circle-dot-size: $circle-size / 2;
$circle-left: $circle-size + 2px;

.c-steps-tracker {
  display: flex;
  align-items: center;
  justify-content: center;

  .steps-tracker-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100px;
    padding: $label-height 0 0;
    height: $item-size;

    &.-done {
      .steps-tracker-circle {
        height: $circle-dot-size;
        width: $circle-dot-size;
      }

      .steps-tracker-segment-in,
      .steps-tracker-segment-out {
        height: 4px;
        top: calc((100% + #{$label-height}) / 2);
        right: -43%;
        width: 92px;
      }
    }

    &.-active {
      .steps-tracker-circle {
        border: 2px solid $charcoal-grey;
        left: $circle-left;
      }

      .steps-tracker-segment-in,
      .steps-tracker-segment-out {
        opacity: 0.4;
      }
    }

    &.-pending {
      opacity: 0.4;

      .steps-tracker-circle {
        left: $circle-left;
      }
    }
  }

  .steps-tracker-label  {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: $label-height;
  }

  .steps-tracker-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $circle-size;
    width: $circle-size;
    background-color: transparent;
    border-radius: 100%;


    left: $circle-left + 8px;
    position: absolute;

    &::after {
      content: '';
      height: $circle-dot-size;
      width: $circle-dot-size;
      background-color: $charcoal-grey;
      border-radius: 100%;
    }
  }

  .steps-tracker-segment-in {
    position: absolute;
    display: block;
    top: calc((100% + #{$label-height}) / 2);
    height: 2px;
    background-color: $charcoal-grey;
    transform: translateY(-50%);
    width: 42px;

    left: 0;
  }

  .steps-tracker-segment-out {
    @extend .steps-tracker-segment-in;
    left: initial;
    right: 0;
  }
}
