@import 'styles/settings';

$footer-height: 86px;

.c-context-modal {
  .context-modal-content {
    width: 750px;
    height: 90vh;
    padding: 15px 5px $footer-height + 20px;

    .modal-title {
      margin-bottom: 15px;
    }
  }
}
