@import 'styles/settings';

.c-paginate {
  display: flex;
  justify-content: center;
  width: calc(100% - 48px);
  margin: 15px auto auto auto;
  padding-top: 10px;

  .previous-button {
    margin-right: 5px;
  }
}