@import 'styles/settings';

.c-dropdown-component.v-sentence {
  display: inline-flex;
  margin-right: 10px;
  text-align: left;
  width: fit-content;
  margin-bottom: 0;

  .dropdown-menu-item {

    .dropdown-menu-item-icon {
      margin-left: 10px;
      fill: $strong-pink;
    }
  }

  .dropdown-selected-item {
    padding: 0 15px 0 0;
    .dropdown-label {
      display: none;
    }

    .dropdown-value {
      line-height: 1;
    }

    &::after {
      top: 50%;
      transform: translateY(calc(-50% - 2px)) rotate(45deg);
    }
  }

  &.-open {
    .dropdown-selected-item::after {
      top: 50%;
      transform: translateY(calc(-50% - 2px)) rotate(225deg);
    }
  }
}
