@import 'styles/settings';

@mixin arrow($color) {
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 8px;
    height: 8px;
    border: 2px solid $color;
    border-top: 0;
    border-left: 0;
    transform: translate(-15%, -75%) rotate(45deg);
  }
}

@mixin caret($color) {
  &::after {
    content: '';
    width: 0;
    height: 0;
    margin: 0 0 0 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $color;
    border-bottom: none;
    transform: none;
  }
}

.c-dropdown-component {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;

  &.-open {

    .dropdown-menu {
      visibility: visible;
    }

    .dropdown-selected-item {
      &::after {
        transform: translate(-15%, -25%) rotate(225deg);
      }

      &.-caret {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }

  .dropdown-selected-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 20px;
    text-align: center;
    cursor: pointer;

    @include arrow($strong-pink);

    &.-caret {
      @include caret($strong-pink);
    }
  }

  .dropdown-menu {
    min-width: 100%;
    max-width: calc(100vw - 20px);
    cursor: pointer;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: $white;
    box-shadow: 0 3px 6px 0 rgba($black, .16), 0 3px 6px 0 rgba($black, .23);
    z-index: $z-above;
    visibility: hidden;

    &[data-placement="top"],
    &[data-placement="top-start"],
    &[data-placement="top-end"] {
      margin: 0 0 10px 0;
    }

    &[data-placement="bottom"],
    &[data-placement="bottom-start"],
    &[data-placement="bottom-end"] {
      margin: 10px 0 0 0;
    }

    &[data-placement="left"],
    &[data-placement="left-start"],
    &[data-placement="left-end"] {
      margin: 0 0 0 10px;
    }

    &[data-placement="right"],
    &[data-placement="right-start"],
    &[data-placement="right-end"] {
      margin: 0 10px 0 0;
    }
  }

  .dropdown-menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: $charcoal-grey;
    letter-spacing: 0.5px;

    &.-highlighted {
      background-color: $manilla;
    }

    &.-separator {
      height: 1px;
      padding: 0;
      background: $pinkish-grey;
    }

    &:first-child {
      margin: 0;
    }

    &:hover {
      background-color: $manilla;
    }

    .dropdown-menu-item-icon {
      fill: $charcoal-grey-faded;
      height: 10px;
      width: 10px;
      margin: 0 10px 0 0;
    }
  }

  &.v-sentence {
    display: inline-flex;
    margin-right: 10px;
    text-align: left;
    width: fit-content;
    padding-right: 15px;
    margin-bottom: 0;

    .dropdown-menu-item {
      .item-label {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .dropdown-menu-item-icon {
        fill: $strong-pink;
      }
    }

    .dropdown-selected-item {
      .dropdown-label {
        display: none;
      }

      .dropdown-value {
        line-height: 1;
      }
    }
  }

  &.v-nav {
    padding: 0 18px 0 0;
    border-left: solid 1px $charcoal-grey-faded-a-lot;

    .dropdown-menu {
      margin: 0;
    }

    .dropdown-selected-item {
      height: 100%;
      padding: 0 30px 0 18px;

      &::after {
        border-color: $charcoal-grey-faded;
        top: calc(50% + 10px);
        right: 18px;
        transform: translate(-15%, calc(-75% - 5px)) rotate(45deg);
      }
    }
  }

  &.color-white {
    .dropdown-selected-item {
      color: $white;
      font-weight: $font-weight-regular;
    }
  }

  &.text-align-center {
    .dropdown-menu-item {
      justify-content: center;
    }
  }

  &.-read-only {
    .dropdown-menu-item {
      cursor: default;

      &:hover {
        background-color: initial;
      }
    }
  }
}
