@import 'styles/settings';

.c-dropdown-component.v-column {
  width: 100%;
  background-color: $white;
  box-shadow: $box-shadow;
  border-radius: 4px;
  padding: 12px 16px;
  white-space: nowrap;

  .dropdown-selected-item {
    &::after {
      border-color: $charcoal-grey-faded;
    }
  }

  .dropdown-menu-item {
    display: flex;
    align-items: center;
    padding: 10px;

    &.-highlighted {
      background-color: $green-200;
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 10px !important;
    left: 16px !important;
  }
}
