@import 'styles/settings';

.c-dropdown-component.v-column {
  width: 100%;
  background-color: $white;
  box-shadow: $box-shadow;
  border-radius: 4px;
  padding: 7px 5px;

  .dropdown-selected-item {
    &::after {
      border-color: $charcoal-grey-faded;
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
  }
}
