@import 'styles/settings';

.c-dropdown-component.v-nav {
  padding: 0 18px 0 0;
  border-left: solid 1px $charcoal-grey-faded-a-lot;

  .dropdown-menu {
    margin: 0;
  }

  .dropdown-menu-item {
    padding: 10px 18px;
  }

  .dropdown-selected-item {
    height: 100%;
    padding: 0 30px 0 18px;
    max-width: 16vw; // has to be 1/8 of the screen because we have 8 items in the filters-nav
    overflow: hidden;

    &::after {
      border-color: $charcoal-grey-faded;
      top: calc(50% + 10px);
      right: 10px;
    }

    .dropdown-value {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
