@import 'styles/settings';

.c-dropdown-component.v-panel {
  display: inline-block;
  width: 180px;
  margin-left: 15px;

  .dropdown-selected-item {
    border: 2px solid $charcoal-grey-faded;
    border-radius: 5px;
    height: 40px;
    display: inline-block;
    padding: 5px 20px;

    &:after {
      right: 22px;
      border-color: $gray-500;
    }
  }

  .dropdown-value {
    font-size: $font-size-x-regular;
  }
}
