@import 'styles/settings';

@mixin arrow($color) {
  &::after {
    content: '';
    position: absolute;
    top: calc(50% + 12px);
    right: 0;
    width: 8px;
    height: 8px;
    border: 2px solid $color;
    border-top: 0;
    border-left: 0;
    transform: translateY(calc(-50% - 4px)) rotate(45deg);
  }
}

@mixin caret($color) {
  &::after {
    content: '';
    width: 0;
    height: 0;
    margin: 0 0 0 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $color;
    border-bottom: none;
    transform: none;
  }
}

.c-dropdown-component {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;

  &.-open {

    .dropdown-menu {
      visibility: visible;
    }

    .dropdown-selected-item {
      &::after {
        transform: translateY(calc(-50% - 4px)) rotate(225deg);
      }

      &.-caret {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }

  .dropdown-selected-item {
    position: relative;
    width: 100%;
    min-width: 20px;
    cursor: pointer;
    padding: 0 20px 0 0;

    @include arrow($strong-pink);

    &.-caret {
      @include caret($strong-pink);
    }

    .dropdown-label,
    .dropdown-value {
      display: block;
    }
  }

  .dropdown-menu {
    min-width: 100%;
    max-width: calc(100vw - 20px);
    cursor: pointer;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: $white;
    box-shadow: 0 3px 6px 0 rgba($black, .16), 0 3px 6px 0 rgba($black, .23);
    z-index: $z-veil-below-nav;
    visibility: hidden;

    &[data-placement="top"],
    &[data-placement="top-start"],
    &[data-placement="top-end"] {
      margin: 0 0 10px 0;
    }

    &[data-placement="bottom"],
    &[data-placement="bottom-start"],
    &[data-placement="bottom-end"] {
      margin: 10px 0 0 0;
    }

    &[data-placement="left"],
    &[data-placement="left-start"],
    &[data-placement="left-end"] {
      margin: 0 0 0 10px;
    }

    &[data-placement="right"],
    &[data-placement="right-start"],
    &[data-placement="right-end"] {
      margin: 0 10px 0 0;
    }
  }

  .dropdow-menu-separator {
    height: 1px;
    padding: 0;
    background: $pinkish-grey;
  }

  .dropdown-menu-item {
    display: flex;
    align-items: center;
    padding: 10px;

    &.-highlighted {
      background-color: $manilla;
    }

    &.-disabled {
      opacity: 0.3;
      cursor: default;

      &.-highlighted {
        background-color: $medium-gray;
      }
    }

    &:first-child {
      margin: 0;
    }

    .item-label {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .dropdown-menu-item-icon {
      fill: $charcoal-grey-faded;
      height: 10px;
      width: 10px;
      margin: 0 10px 0 0;
    }
  }

  &.text-align-center {
    .dropdown-menu-item {
      justify-content: center;
    }
  }

  &.-read-only {
    .dropdown-menu-item {
      cursor: default;

      &:hover {
        background-color: initial;
      }
    }
  }

  &.-disabled {
    .dropdown-selected-item {
      cursor: default;
      &::after {
        display: none;
      }
    }

    .dropdown-menu {
      visibility: hidden;
    }
  }
}
