@import 'styles/settings';

$featured-cards-height: 171px;
$max-rows: 3;
$row-height: 50;
$explore-mobile-dropdowns: 100px;
$explore-heading: 66px;

.c-explore {
  overflow: hidden;
  background-color: $light-gray;

  @media screen and (min-width: $breakpoint-tablet), (orientation: landscape) {
    overflow: auto;
  }

  .explore-selector {
    position: relative;
    margin-top: $nav-height;
    height: calc(100vh - #{$nav-height});
    padding-bottom: 0;

    @media screen and (min-width: $breakpoint-tablet),
    (orientation: portrait) {
      padding-bottom: $featured-cards-height;
    }
  }

  @mixin row-dependant-height {
    height: calc(100vh - #{$featured-cards-height} - #{$nav-height} - #{$explore-heading});

    @for $i from 1 through $max-rows {
      &.rows#{$i} {
        height: calc(
          100vh -
            #{$featured-cards-height} -
            #{$nav-height} -
            #{$i *
            $row-height}px -
            #{$explore-heading}
        );
      }
    }

    transition: height 0.3s;

    @media screen and (max-width: $breakpoint-tablet) {
      height: calc(
        100vh - #{$featured-cards-height} - #{$nav-height} - #{$explore-mobile-dropdowns} - #{$explore-heading}
      );
    }
  }

  .map-section {
    @include row-dependant-height();
  }

  .map-container {
    position: relative;
    @include row-dependant-height();
  }

  .map-centering {
    // Still able to scroll the map in very short screens
    margin-bottom: 0;

    @media screen and (min-width: $breakpoint-tablet), (orientation: landscape) {
      margin-bottom: $featured-cards-height;
    }

    @media (min-height: 700px) {
      display: flex;
      align-items: center;
      height: 100%;
      margin-bottom: 0;
    }
  }

  .quick-facts {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 155px;
    display: none;

    @media screen and (min-width: $breakpoint-tablet) {
      display: flex;
    }

    .bubble-container {
      // Fix bubbles overlaping explore grid on very short screens
      @media (min-height: 700px) {
        min-height: 400px;
      }

      @media (max-height: 480px) {
        display: none;
      }
    }

    .bubble {
      width: 155px;
      height: 155px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 50%;
      margin-top: 20px;
      background-color: $yellow-gray;
    }

    .quick-facts-value {
      margin-top: 26px;
    }
  }

  .explore-grid-container {
    display: flex;
    margin: 30px auto 0;
    max-width: 900px;

    .explore-grid {
      display: flex;
      margin: 0 auto;
      flex-wrap: wrap;
      height: 0px;
      transition: height 0.3s;

      &.rows1 {
        justify-content: center;
      }

      @for $i from 1 through $max-rows {
        &.rows#{$i} {
          height: calc(#{$i * $row-height}px);
        }
      }
    }
  }

  .c-grid-list-item {
    width: 120px;
  }

  .country-dropdown-container {
    margin-top: 20px;
  }
}
