@import 'styles/settings';

$top-cards-height: 156px;

.c-explore {
  .explore-selector {
    position: relative;
    margin-top: $nav-height;
    padding-bottom: $top-cards-height;
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{$nav-height});
  }

  .map-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .explore-grid-container {
    display: flex;
    margin: 30px auto 0;
    max-width: 900px;
    min-height: 50px;

    .explore-grid {
      display: flex;
      margin: 0 auto;
      flex-wrap: wrap;
    }
  }

  .c-grid-list-item {
    width: 120px;
  }
}