@import 'styles/settings';

$top-cards-height: 156px;

.c-explore {
  .explore-selector {
    position: relative;
    margin-top: $nav-height;
    padding-bottom: $top-cards-height;
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{$nav-height});
  }

  .map-container {
    height: 100%;
  }

  .explore-grid-container {
    display: flex;
    margin: 30px auto 0;
    max-width: 900px;

    .explore-grid {
      &.first-step {
        height: 100px;
        @media screen and (max-width: $breakpoint-tablet) {
          height: 150px;
        }
      }

      display: flex;
      margin: 0 auto;
      flex-wrap: wrap;
      height: 50px;
      transition: height 0.5s;
    }
  }

  .c-grid-list-item {
    width: 120px;
  }
}