@import 'styles/settings';

$top-cards-height: 156px;

$explore-grid-height-1-row: 50px;
$explore-grid-height-1-row-tablet: 100px;
$explore-grid-height-2-rows: 100px;
$explore-grid-height-2-rows-tablet: 150px;

$explore-heading: 66px;

.c-explore {
  .explore-selector {
    position: relative;
    margin-top: $nav-height;
    padding-bottom: $top-cards-height;
    height: calc(100vh - #{$nav-height});
  }

  @mixin row-dependant-height {
    height: calc(100vh - #{$top-cards-height} - #{$nav-height} - #{$explore-heading});

    &.rows1 {
      height: calc(100vh - #{$top-cards-height} - #{$nav-height} - #{$explore-grid-height-1-row} - #{$explore-heading});

      @media screen and (max-width: $breakpoint-tablet) {
        height: calc(100vh - #{$top-cards-height} - #{$nav-height} - #{$explore-grid-height-1-row-tablet} - #{$explore-heading});
      }
    }

    &.rows2 {
      height: calc(100vh - #{$top-cards-height} - #{$nav-height} - #{$explore-grid-height-2-rows} - #{$explore-heading});

      @media screen and (max-width: $breakpoint-tablet) {
        height: calc(100vh - #{$top-cards-height} - #{$nav-height} - #{$explore-grid-height-2-rows-tablet} - #{$explore-heading});
      }
    }

    transition: height 0.3s;
  }

  .map-section {
    @include row-dependant-height();
  }

  .map-container {
    @include row-dependant-height();
  }

  .quick-facts {
    max-height: 100%;

    // Fix bubbles overlaping explore grid on very short screens
    @media (min-height: 700px) {
      min-height: 400px;
    }

    .bubble {
      width: 155px;
      height: 155px;
      padding-top: 55px;
      border-radius: 50%;

      &:not(.empty) {
        background-color: $light-gray;
      }

      &:not(:first-child) {
        margin-top: 20px;
      }
    }

    .quick-facts-value {
      margin-top: 26px;
    }
  }

  .explore-grid-container {
    display: flex;
    margin: 30px auto 0;
    max-width: 900px;

    .explore-grid {
      display: flex;
      margin: 0 auto;
      flex-wrap: wrap;
      height: 0px;
      transition: height 0.3s;

      &.rows1 {
        height: $explore-grid-height-1-row;
        @media screen and (max-width: $breakpoint-tablet) {
          height: $explore-grid-height-1-row-tablet;
        }
      }

      &.rows2 {
        height: $explore-grid-height-2-rows;
        @media screen and (max-width: $breakpoint-tablet) {
          height: $explore-grid-height-2-rows-tablet;
        }
      }
    }
  }

  .c-grid-list-item {
    width: 120px;
  }
}