.c-dashboard-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: $light-gray;
  overflow: hidden;
  height: 100%;

  .dashboard-panel-content {
    flex: 1;
    overflow: auto;
    padding: 20px 25px 0;
  }

  .dashboard-panel-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 10px 0 20px;
    background-color: $light-gray;
  }

  .dashboard-panel-title {
    font-size: 20px;
    margin: 0 0 20px 0;
  }

  .dashboard-panel-block-switch {
    margin: 0 0 30px 0;
  }

  .dashboard-panel-search {
    height: 40px;
    width: 300px;
    margin: 0 0 25px 0;

    .search-input-bar {
      flex-direction: row-reverse;
      padding: 2px 0 0 16px;
      box-shadow: none;
      border: 1px solid $charcoal-grey-faded;
    }
  }

  .dashboard-panel-text {
    color: $charcoal-grey-faded;
    font-family: $font-family-2;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    margin: 0 0 25px 0;
  }

  .dashboard-panel-footer-text {
    color: $charcoal-grey;
    font-family: $font-family-2;
    font-weight: $font-weight-light;
    line-height: 1.9;
    letter-spacing: -0.4px;
  }

  .panel-footer-item {
    display: inline-flex;
    position: relative;
    align-items: center;
    height: 30px;
    padding: 0 13px 0 0;
    font-size: 20px;
    font-weight: $font-weight-bold;
    text-transform: capitalize;

    .panel-footer-item-remove-arrow {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      svg {
        fill: $strong-pink;
      }
    }
  }
}
