<% layers.forEach(function(layer) { %>
<li class="map-sidebar-group-item map-contextual-layer-item js-map-context-item">
  <%= layer.title %>
  <div class="actions">
    <% if (layer.tooltipText) { %>
    <svg class="icon icon-layer-info js-tooltip" data-tooltip-text="<%= layer.tooltipText %>">
      <use xlink:href="#icon-layer-info"></use>
    </svg>
    <% } %>
    <div
      class="c-switcher"
      data-layer-slug="<%= layer.id %>">
    </div>
  </div>
</li>
<% }); %>
