@import 'styles/settings';

.c-cta {
  position: absolute;
  z-index: $z-above-hero;
  padding: 30px;
  width: 100%;
  text-align: center;
  background: $green-light-gray-gradient;
  margin-top: $nav-height * 2;

  @media screen and (min-width: $breakpoint-foundation-medium) {
    margin-top: $nav-height;
    height: 130px;
  }

  .close-button {
    position: absolute;
    fill: $gray-600;
    top: 20px;
    right: 5%;
    border: none;

    > svg {
      height: 60px;
      width: 60px;
    }
  }

  .release-notes-text,
  .cta-main-text,
  .cta-text {
    display: block;
    text-align: center;
    line-height: $line-height-lg;

    @media screen and (min-width: $breakpoint-foundation-medium) {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      line-height: $line-height-regular;
    }


    a {
      display: inline-block;

      @media screen and (min-width: $breakpoint-foundation-medium) {
        display: block;
      }
    }
  }

  .cta-main-text {
    padding: 20px 0;

    @media screen and (min-width: $breakpoint-foundation-medium) {
      padding: 0 0 20px;
    }
  }

  .cta-main-text-fixed  {
    padding: 20px 0;

    @media screen and (min-width: $breakpoint-foundation-medium) {
      padding: 0 0 10px;
    }
  }

  .link-text {
    margin-left: 5px;
  }

  .with-margin-left {
    margin-left: 5px;
  }
}