@import 'styles/settings';

.c-profile-selector {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 670px;

  @media screen and (min-width: $breakpoint-laptop) {
    min-width: $breakpoint-laptop;
    width: initial;
  }

  background-color: $light-gray;

  .profile-content {
    flex: 1;
    overflow: auto;
    margin: 20px 0;
  }
}
