@import 'styles/settings';

$profile-footer-max-height: 165px;

.c-profile-selector {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 670px;

  @media screen and (min-width: $breakpoint-laptop) {
    min-width: $breakpoint-laptop;
    width: initial;
  }

  background-color: $light-gray;

  .profile-content {
    height: calc(90vh - #{$profile-footer-max-height});
    flex: 1;
    overflow: auto;
    margin: 20px 0;

    &.-with-sentence {
      height: calc(90vh - #{$profile-footer-max-height + 35});
    }
  }
}
