@import 'styles/settings';

.c-dashboard-widget-legend {
  border-bottom: solid 1px rgba($white, 0.13);
  padding: 31px 42px;
  max-height: 130px;
  overflow: hidden;
}

.dashboard-widget-key-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .column {
    margin-top: 0;
  }

  &:last-child {
    margin: 0;
  }

  span {
    height: 4px;
    width: 22px;
  }

  p {
    font-family: $font-family-1;
    font-size: 13px;
    font-weight: $font-weight-bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: -0.8px;
    color: $white;
    text-transform: uppercase;
    margin: 0 0 0 8px;
  }

  .key-item-value {
    text-transform: none;
  }
}
