@import 'styles/components/shared/search';

.c-tool-search {
  .c-search.-tool {
    .c-nodes-titles {
      padding: 8px 0;

      .c-node-title:first-child {
        margin-left: 8px;
      }
    }

  }

  .icon-search,
  .icon-search-condensed {
    height: 24px;
    width: 24px;
    vertical-align: text-top;
  }
}
