@import 'styles/settings';

.c-choropleth-legend {
  position: relative;

  .bucket {
    position: relative;
    text-align: center;

    @each $item, $color in $choropleth-colors {
      &.#{$item} {
        background-color: $color;
      }
    }

    span {
      position: absolute;
      top: 22px;
      right: 0;
      transform: translateX(50%);
      margin: auto;
      font-size: 10px;
      line-height: normal;
      letter-spacing: -1px;
      white-space: nowrap;
      color: rgba($charcoal-grey, .5);
      font-family: $font-family-1;
    }

    &.-highlighted {
      &::after {
        content: '';
        border: 2px solid $white;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 99;
        margin-left: -50%;
      }
    }

    &.ch-red-0, &.ch-blue-0, &.recolorby-linear-red-blue-3, &.recolorby-percentual-green-red-5, &.recolorby-linear-yellow-green-0 {
      &::after {
        border-color: $charcoal-grey;
      }
    }
  }

  .bucket-container {
    position: relative;
    border-bottom: 1px solid rgba($charcoal-grey, .2);

    .bucket-names {
      display: flex;
    }

    .bucket-legend {
      border: 1px solid #6C787D;
    }

    .bucket-legend > .bucket-item,
    .bucket-legend > .bucket-item > .bucket {
      height: 100%;
    }

    .layer-name {
      font-family: $font-family-1;
      font-size: 11px;
      letter-spacing: -1.1px;
      color: $charcoal-grey;
      text-transform: uppercase;
    }

    .unidimensional-legend-arrow {
      display: block;
      position: absolute;
      width: 45%;
      right: 10px;
      bottom: 15px;
    }

    .icon-bidimensional-legend-arrows {
      display: none;
      position: absolute;
      top: 53px;
      left: 0px;
      right: 0;
      margin: auto;
      width: 140px;
      height: 49px;
    }

    &.-horizontal {
      padding: 9px 0 24px 0;
      text-align: right;

      .bucket-names {
        justify-content: flex-end;
        padding: 0 9px;
      }

      .bucket-legend {
        display: inline-flex;
        justify-content: flex-end;
        height: 14px;
        margin: 4px 10px 0 0;
        width: 45.2%;

        .bucket-item {
          flex: 1;
        }
      }

      > .icon-legend-arrow {
        display: none;
      }
    }

    &.-wide {
      .bucket-legend {
        width: 65.5%;
      }

      .unidimensional-legend-arrow {
        width: 65.5%;
      }
    }

    &.-bidimensional {
      height: 106px;
      padding: 11px 0;

      .bucket-names {
        justify-content: space-between;
        padding: 0 6px;
      }

      .bucket-legend {
        position: absolute;
        margin: auto;
        top: 18px;
        left: 0px;
        right: 0px;
        width: 66px;
        height: 66px;
        transform: rotateZ(-135deg);
        display: flex;
        flex-wrap: wrap;

        > .bucket-item {
          flex-basis: calc(100% / 4);
          height: calc(100% / 4);
        }
      }

      .layer-name {
        max-width: 37%;

        &:last-child {
          text-align: right;
        }
      }

      .unidimensional-legend-arrow {
        display: none;
      }

      .icon-bidimensional-legend-arrows {
        display: block;
      }
    }
  }

  .bullets {
    position: absolute;
    left: 6px;
    bottom: 6px;

    li {
      line-height: 100%;
    }
  }

  .bucket-values {
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    margin: auto;
    width: 127px;
    height: 60px;

    li {
      position: absolute;
      font-family: $font-family-1;
      font-size: 10px;
      line-height: normal;
      letter-spacing: -1px;
      color: rgba($charcoal-grey, 0.5);

      &:nth-child(1) {
        bottom: 28px;
        right: 116px;
      }

      &:nth-child(2) {
        bottom: 16px;
        right: 104px;
      }

      &:nth-child(3) {
        bottom: 4px;
        right: 92px;
      }

      &:nth-child(4) {
        bottom: 28px;
        left: 116px;
      }

      &:nth-child(5) {
        bottom: 16px;
        left: 104px;
      }

      &:nth-child(6) {
        bottom: 4px;
        left: 92px;
      }
    }
  }
}
