@import 'styles/settings';

.c-legend {
  position: absolute;
  bottom: 23px;
  z-index: $z-leaflet-above-panes;
  width: 319px;
  background-color: $white;

  &.-hidden {
    height: 0;
    padding: 0;
  }

  .legend-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 8px;
    height: 30px;
    width: 100%;
    background-color: $charcoal-grey;
    overflow: hidden;

    &:hover {
      background-color: lighten($charcoal-grey, 2%);
    }
  }

  .legend-layers-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    cursor: pointer;

    .icon {
      fill: $white;
      margin: 0 8px 0 0;
      height: 16px;
      width: 16px;
    }
  }

  .legend-container {
    padding: 0;
    background-color: $white;

    .bullets {
      color: rgba($charcoal-grey, .5);
      font-family: $font-family-1;
      font-size: 11px;
      line-height: normal;
      letter-spacing: -1.1px;
      text-transform: uppercase;
      text-align: left;

      li {
        margin-right: 15px;
        line-height: 150%;
      }

      .bullet {
        display: inline-block;
        width: 10px;
        height: 10px;
        position: relative;
        top: 1px;
        margin-right: 2px;
        border: solid 1px $charcoal-grey;
        text-align: center;

        span {
          position: absolute;
          top: 11px;
          left: 0;
          right: 0;
          margin: auto;
          font-size: 10px;
          line-height: normal;
          letter-spacing: -1px;
          white-space: nowrap;
        }

        &.-highlighted {
          border: solid 2px $charcoal-grey;
        }

        &.-color-white {
          background-color: $white;
        }

        &.-color-gray {
          background-color: $gray;
        }
      }

    }

    .map-legend-contextual {
      .cartodb-legend {
        padding: 5px 6px 3px 6px;
        border-bottom: 1px solid $charcoal-grey-faded-a-lot;

        &.choropleth {
          padding-bottom: 14px;

          .bullet {
            width: 20px;

            &:first-child {
              border-right: 0;
              margin-right: 0;
            }

            &:not(:first-child):not(:last-child) {
              border-right: 0;
              border-left: 0;
              margin-right: 0;
            }

            &:last-child {
              border-left: 0;
            }
          }
        }
      }

      .bullets li {
        display: inline-block;
      }
    }
  }
}
