@import '../../settings';
@import '../../mixins';

.c-area-table {
  padding: 56px 0 42px 0;

  > .title {
    margin: 0 0 24px;
  }

  table {
    width: 100%;

    > thead {
      > .table-row {
        border-bottom: 2px solid $charcoal-grey;
      }

      > .table-row > .header-cell {
        padding: 0 0 8px;

        color: $charcoal-grey;
        font-family: $font-family-1;
        font-size: $font-size-x-regular;
        font-weight: $font-weight-bold;
        letter-spacing: -.6px;
        line-height: 1.23;
        text-align: left;
        text-transform: uppercase;
        vertical-align: middle;
      }
    }

    > tbody {
      > .table-row {

        &:not(:last-child) {
          border-bottom: 1px solid rgba($charcoal-grey, .2);
        }

        > .cell-name,
        > .cell-score {
          color: $charcoal-grey;
          font-family: $font-family-1;
          font-size: $font-size-xx-regular;
          letter-spacing: -.8px;
          line-height: 2.5;
        }

        > .cell-name {
          position: relative;
          line-height: $font-size-xx-regular;

          > .node-name {
            display: inline-block;
            max-width: 80%;

            text-overflow: ellipsis;
            white-space: nowrap;

            opacity: 1;
            overflow: hidden;
            vertical-align: bottom;
          }

          > .node-link {
            display: inline-flex;
            position: absolute;
          }

          > .node-link > .icon {
            margin: 0 0 0 8px;
            cursor: pointer;
            fill: rgba($charcoal-grey, .2);

            &:hover {
              fill: $charcoal-grey;
            }
          }
        }

        > .cell-score  {
          position: relative;

          > .unit {

            &::after {
              position: absolute;
              top: 0;

              color: rgba($charcoal-grey, .6);
              content: attr(data-unit);
            }
          }
        }
      }
    }
  }

  .icon-check {
    fill: rgba($charcoal-grey, 0.2);
  }

  .c-area-table-container {
    overflow-x: auto;
  }

  .c-area-table-switcher {
    display: flex;
    margin-bottom: 31px;
    font-family: $font-family-1;
    font-size: $font-size-x-regular;
    font-weight: bold;
    line-height: 1.23;
    letter-spacing: -0.6px;
    color: $charcoal-grey;
    text-transform: uppercase;

    span {
      margin-right: 20px;
    }

    li {
      position: relative;
      opacity: 0.3;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 21px;
      }

      &.selected {
        opacity: 1;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 2px;
          background-color: $medium-pink;
        }
      }
    }
  }

  .c-area-table-dropdown-switcher {
    display: inline-block;
    margin-bottom: 20px;

    .c-dropdown {

      > .dropdown-label {
        font-size: $font-size-x-regular;
      }

      > .dropdown-title {
        font-size: $font-size-xx-regular;
        text-transform: uppercase;
        padding-right: 20px;

        &::after {
          @include arrow(8px, 2px, $medium-pink, 'down');
          transform: translate(-50%, -75%) rotate(45deg);
        }
      }

      &.-active {
        cursor: pointer;

        > .dropdown-title {
          &::after {
            content: '';
          }
        }

        > .dropdown-list {
          top: 100%;
        }
      }
    }
  }
}
