@import '../../settings';
@import '../../mixins';

.c-area-table {
  padding: 56px 0 42px 0;

  > .title {
    margin: 0 0 24px;
  }

  table {
    width: 100%;

    > thead {
      > .table-row {
        border-bottom: 2px solid $charcoal-grey;
      }

      > .table-row > .header-cell {
        padding: 0 0 8px;

        color: $charcoal-grey;
        font-family: $font-family-1;
        font-size: $font-size-x-regular;
        font-weight: $font-weight-bold;
        letter-spacing: -.6px;
        line-height: 1.23;
        text-align: left;
        text-transform: uppercase;
        vertical-align: middle;
      }
    }

    > tbody {
      > .table-row {

        &:not(:last-child) {
          border-bottom: 1px solid rgba($charcoal-grey, .2);
        }

        > .cell-name,
        > .cell-score {
          color: $charcoal-grey;
          font-family: $font-family-1;
          font-size: $font-size-xx-regular;
          letter-spacing: -.8px;
          line-height: 2.5;

          @media screen and (max-width: $breakpoint-foundation-small) {
            font-size: $font-size-x-regular;
          }
        }

        > .cell-name {
          position: relative;
          line-height: $font-size-xx-regular;

          > .node-name {
            display: inline-block;
            max-width: 90%;

            text-overflow: ellipsis;
            white-space: nowrap;

            opacity: 1;
            overflow: hidden;
            vertical-align: bottom;
          }

          > .node-link {
            display: inline-flex;
            position: absolute;
          }

          > .node-link > .icon {
            margin: 0 0 0 8px;
            cursor: pointer;
            fill: rgba($charcoal-grey, .2);

            &:hover {
              fill: $charcoal-grey;
            }
          }

          @media screen and (max-width: $breakpoint-foundation-small) {
            line-height: $font-size-x-regular;
          }
        }

        > .cell-score  {
          position: relative;
          min-width: 70px;

          > .unit {

            &::after {
              position: absolute;
              top: 0;

              color: rgba($charcoal-grey, .6);
              content: attr(data-unit);
            }
          }
        }
      }
    }
  }

  .icon-check {
    fill: rgba($charcoal-grey, 0.2);
  }

  .c-area-table-container {
    overflow-x: auto;
  }
}
