@import '../../settings';

.c-overall-info {
  .summary-sticky-group {
    &.sticky {
      width: 100vw;
      padding: 0 40px;
      transform: translate(-20px, 0);
      position: relative;
      background: $egg-shell;
    }
  }

  .stat-item {
    display: inline-block;
    margin-top: 36px;
    margin-right: 20px;

    >.legend {
      margin-bottom: 5px;
    }

    @media screen and (max-width: $breakpoint-foundation-small) {
      margin-top: 15px;
    }
  }

  .summary {
    margin-top: 24px;
    margin-bottom: 40px;

    @media screen and (max-width: $breakpoint-foundation-small) {
      font-size: $font-size-x-regular;
    }
  }
}