@import '../../settings';

.c-overall-info {

  .stat-item {
    display: inline-block;
    margin-top: 36px;
    margin-right: 20px;

    > .legend {
      margin-bottom: 5px;
    }

    > .value {
      display: inline-block;
      color: $charcoal-grey;
      font-family: $font-family-1;
      font-size: $font-size-medium;
      letter-spacing: -1px;
    }

    > .unit {
      display: inline-block;
      color: rgba($charcoal-grey, .6);
      font-family: $font-family-1;
      font-size: $font-size-medium;
    }

    @media screen and (max-width: $breakpoint-foundation-small) {
      margin-top: 15px;
    }
  }

  .summary {
    margin-top: 24px;
    margin-bottom: 40px;

    @media screen and (max-width: $breakpoint-foundation-small) {
      font-size: $font-size-x-regular;
    }
  }
}
