@import '../../settings';

.c-overall-info {

  .stat-item {
    display: inline-block;
    margin-top: 36px;
    margin-right: 20px;

    > .legend {
      margin-bottom: 5px;
    }

    @media screen and (max-width: $breakpoint-foundation-small) {
      margin-top: 15px;
    }
  }

  .summary {
    margin-top: 24px;
    margin-bottom: 40px;
    font-family: $font-family-2;
    font-size: $font-size-xx-regular;
    font-weight: 300;
    line-height: 2;
    color: $charcoal-grey;

    @media screen and (max-width: $breakpoint-foundation-small) {
      font-size: $font-size-x-regular;
    }
  }
}
