@import '../../settings';

.c-overall-info {

  .dropdown-element {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 41px;
    }

    .c-dropdown {

      > .dropdown-label {
        margin-bottom: 0 !important;
        font-size: $font-size-x-regular;
        line-height: 1em;
      }

      > .dropdown-title {
        font-size: $font-size-huge;
        line-height: 1.2em;
        padding-right: 31px;

        &:after {
          content: normal;
        }
      }
    }

    .c-dropdown.-active {
      cursor: pointer;

      > .dropdown-title {
        &::after {
          content: '';
          width: 14px;
          height: 14px;
          border: 3px solid $medium-pink;
        }
      }

      > .dropdown-list {
        top: 100%;
        min-width: 140px;
      }
    }
  }

  .stat-item {
    display: inline-block;
    padding-top: 36px;
    margin-right: 20px;

    > .legend {
      color: $charcoal-grey;
      font-family: $font-family-1;
      font-size: $font-size-x-regular;
      font-weight: $font-weight-bold;
      letter-spacing: -.6px;
      text-transform: uppercase;
    }

    > .value {
      display: inline-block;
      color: $charcoal-grey;
      font-family: $font-family-1;
      font-size: $font-size-medium;
      letter-spacing: -1px;
    }

    > .unit {
      display: inline-block;
      color: rgba($charcoal-grey, .6);
      font-family: $font-family-1;
      font-size: $font-size-medium;
    }
  }

  .summary {
    margin-top: 24px;
    font-family: $font-family-2;
    font-size: $font-size-xx-regular;
    font-weight: 300;
    line-height: 2;
    color: $charcoal-grey;
  }
}
