@import '../../settings';

.c-scatterplot {
  padding: 53px 0 63px 0;


  .title {
    margin-bottom: 46px;
  }

  path {
    stroke: none;
    fill: none;
  }

  .axis {

    line {
      fill: none;
      stroke: $charcoal-grey;
      stroke-opacity: .1;
    }

    text {
      font-family: $font-family-1;
      font-size: $font-size-x-regular;
      line-height: 0.92;
      letter-spacing: -1px;
      fill: rgba($charcoal-grey, .6);
    }

    path {
      stroke: $charcoal-grey;
      stroke-opacity: .1;
      stroke-width: 1px;
    }

    &.axis-line path {
      stroke: $charcoal-grey;
      stroke-width: 2px;
      stroke-opacity: 1;
    }
  }

  .dot {
    fill: $charcoal-grey;
    stroke: $egg-shell;
    stroke-width: 2;
    transition: opacity 150ms linear;

    &:hover {
      fill: $medium-pink;
    }

    &.current {
      fill: $medium-pink;
      stroke: rgba($medium-pink, .4);
      stroke-width: 16px;
    }

    &.-hidden {
      opacity: 0;
    }
  }

  .c-scatterplot-switcher {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: 28px;
    padding-top: 14px;

    li {
      flex: 1 100%;
      font-family: $font-family-1;
      font-size: $font-size-x-regular;
      font-weight: bold;
      line-height: 1.23;
      letter-spacing: -0.6px;
      color: rgba($charcoal-grey, .3);
      text-transform: uppercase;
      cursor: pointer;
      padding-right: 8px;

      span {
        position: relative;
      }

      &.selected {
        color: $charcoal-grey;

        & span:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -1px;
          width: 100%;
          height: 2px;
          background-color: $medium-pink;
        }

        &.unit span:after {
          content: '(' attr(data-unit) ')';
          font-weight: normal;
          letter-spacing: -1.3px;
          text-transform: none;
          color: rgba($charcoal-grey, .5);
          margin-left: 2px;
        }
      }
    }
  }
}
