@import '../../settings';

.c-scatterplot {
  padding: 53px 0 63px 0;


  .title {
    margin-bottom: 23px;
  }

  path {
    stroke: none;
    fill: none;
  }

  .axis {

    line {
      fill: none;
      stroke: $charcoal-grey;
      stroke-opacity: .1;
    }

    text {
      font-family: $font-family-1;
      font-size: $font-size-x-regular;
      line-height: 0.92;
      letter-spacing: -1px;
      fill: rgba($charcoal-grey, .6);
    }

    path {
      stroke: $charcoal-grey;
      stroke-opacity: .1;
      stroke-width: 1px;
    }

    &.axis-line path {
      stroke: $charcoal-grey;
      stroke-width: 2px;
      stroke-opacity: 1;
    }
  }

  .dot {
    fill: $charcoal-grey;
    stroke: $egg-shell;
    stroke-width: 2;
    transition: opacity 150ms linear;

    &:hover {
      fill: $medium-pink;
    }

    &.current {
      fill: $medium-pink;
      stroke: rgba($medium-pink, .4);
      stroke-width: 16px;
    }

    &.-hidden {
      opacity: 0;
    }
  }
}

.axis-legend-x {
  display: block;
}
