@import '../../../settings';

.c-map {

  .leaflet-vectorMain-pane {
    opacity: 1;

    path {
      pointer-events: auto;

      &.-disabled {
        cursor: not-allowed;
      }

      &.ch-zero { fill: $ch-zero; };
    }
  }

  .leaflet-vectorBelow-pane {
    path {
      pointer-events: auto;
    }
  }

  .leaflet-vectorOutline-pane {
    pointer-events: none;

    path {
      fill: none;
      stroke-opacity: 1;

      &.-highlighted {
        stroke-width: 3px;
        stroke: $white;
      }

      &.-selected {
        stroke: $charcoal-grey;
        stroke-width: 2.5px;
      }
    }

    &.-pointData {
      path {
        &.-selected {
          fill: $egg-shell;
          fill-opacity: 1;
        }

        &.-highlighted {
          fill: $white;
          fill-opacity: 1;
          stroke: $charcoal-grey;
        }
      }
    }
  }
}
