@import '../../../settings';

.map-contextual-layer-item {
  justify-content: space-between;

  .actions {
    .icon-layer-info {
      margin-top: -1px;
      margin-right: 8px;
    }
  }

  .c-switcher {
    width: 29px;
    height: 12px;
    background-color: rgba($charcoal-grey, .2);

    &::before {
      left: -3px;
      width: 16px;
      height: 16px;
    }

    &.-enabled {
      background-color: $medium-pink;

      &::before {
        right: -3px;
        left: 0;
        transform: translate(100%, -50%);
      }
    }
  }
}
