<% items.forEach(function(item) { %>
  <li>
    <span><%= item.name %></span>
    <div class="c-radio-btn -red <%= item.noSelfCancel ? '-no-self-cancel' : '' %>" data-group="<%= item.group %>" value="<%= item.id %>"></div>
  </li>
<% }) %>
