@import 'styles/settings';

.c-title-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;

  .title-group-element-container {
    display: inline-flex;
    margin-bottom: 10px;

    &:not(:last-child) {
      margin-right: 41px;
    }

    @media screen and (max-width: $breakpoint-foundation-small) {
      &:first-child {
        width: 100%;
      }

      &:not(:last-child) {
        margin-right: 21px;
      }
    }
  }

  .title-group-element {
    &:not(:last-child) {
      margin-right: 41px;
    }

    .title-group-label {
      display: block;
    }

    .title-group-content {
      display: block;
    }

    @media screen and (min-width: $breakpoint-foundation-small) {
      .title-group-content {
        margin-top: 3px;
        font-size: $font-size-big;
      }
    }
  }
}
