<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Google Analytics start -->
  <script>
    window.ga = window.ga || function () {
      (ga.q = ga.q || []).push(arguments)
    };
    ga.l = +new Date;
    ga('create', <%= htmlWebpackPlugin.options.GOOGLE_ANALYTICS_KEY ? htmlWebpackPlugin.options.GOOGLE_ANALYTICS_KEY : "''" %>, 'auto');
    ga('send', 'pageview');
  </script>
  <!-- User Report start -->
  <script type="text/javascript">
    window._urq = window._urq || [];
    _urq.push(['initSite', <%= htmlWebpackPlugin.options.USER_REPORT_KEY ? htmlWebpackPlugin.options.USER_REPORT_KEY : "''" %>]);
    (function () {
      var ur = document.createElement('script');
      ur.type = 'text/javascript';
      ur.async = true;
      ur.src = ('https:' === document.location.protocol ? 'https://cdn.userreport.com/userreport.js' : 'http://cdn.userreport.com/userreport.js');
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ur, s);
    })();
  </script>
  <!-- User Report end -->
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- Google Analytics end -->
  <title>Trase</title>
</head>
<body>
  <div class="ie-splash">
    <div class="row align-center">
      <div class="column small-12 medium-3">
        <div class="logo-container">
          <img class="logo" src="/images/logos/new-logo-trase.svg" alt="TRASE" />
        </div>
      </div>
    </div>
    <div class="row column">
      <h1 class="notice">
        You're visiting us from an unsupported browser. Please switch to a more modern one.
      </h1>
    </div>
    <div class="row align-center">
      <div class="column small-12 medium-3">
        <a class="browser-box" href="https://www.google.com/chrome/">
          <span class="browser-title">Chrome</span>
          <img class="browser-logo" src="/images/browsers/chrome.svg" />
        </a>
      </div>
      <div class="column small-12 medium-3">
        <a class="browser-box" href="https://www.mozilla.org/en-US/firefox/new/">
          <span class="browser-title">Firefox</span>
          <img class="browser-logo" src="/images/browsers/firefox.svg" />
        </a>
      </div>
      <div class="column small-12 medium-3">
        <a class="browser-box" href="https://www.microsoft.com/en-us/windows/microsoft-edge">
          <span class="browser-title">Edge</span>
          <img class="browser-logo" src="/images/browsers/edge.svg" />
        </a>
      </div>
    </div>
    <div class="row column">
      <p class="feedback">
        If you are unable to use a more modern browser, please <button class="feedback-button" onclick="_urq.push(['Feedback_Open']);">contact us</button>.
      </p>
    </div>
  </div>
</body>
  <script type="text/javascript" src="//cdn.transifex.com/live.js"></script>
</html>
