<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<%= htmlWebpackPlugin.options.icons %>
<body>
<div id="app-root-container"></div>
</body>
<script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,Array.prototype.find,Array.prototype.findIndex,Array.prototype.includes,Object.keys,fetch"></script>
</html>
