<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<%= htmlWebpackPlugin.options.icons %>

<body>
<div id="app-root-container"></div>
</body>
<script type="text/javascript" src="//cdn.transifex.com/live.js"></script>
<!-- Rangetouch to fix <input type="range"> on touch devices (see https://rangetouch.com) -->
<script src="https://cdn.rangetouch.com/1.0.5/rangetouch.js"></script>
</html>
