<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<%= htmlWebpackPlugin.options.icons %>

<body>
<div id="app-root-container"></div>
</body>
<script type="text/javascript" src="//cdn.transifex.com/live.js"></script>
<script>
  (function() {
    if('serviceWorker' in navigator) {
      setTimeout(
        function() { navigator.serviceWorker.register('/service-worker.js'); },
        5000
      );
    }
  })();
</script>
</html>
