@import 'styles/settings';

.c-heading {
  text-align: left;

  &.mono {
    font-family: $font-family-1;
    letter-spacing: $letter-spacing-x-narrow;
    text-transform: uppercase;
  }

  &.sans {
    font-family: $font-family-3;
  }

  &.serif {
    line-height: 1.75;
    font-family: $font-family-2;
  }

  &.size-xs {
    font-size: $font-size-regular;
  }

  &.size-sm {
    font-size: $font-size-x-regular;
  }

  &.size-rg {
    font-size: $font-size-xx-regular;
  }

  &.size-md {
    font-size: $font-size-medium;
  }

  &.size-lg {
    font-size: $font-size-big;
  }

  &.size-xlg {
    font-size: $font-size-x-big;
  }

  &.size-xlg {
    font-size: $font-size-x-big;
  }

  &.color-white {
    color: $white;
  }

  &.color-grey-faded {
    color: $charcoal-grey-faded;
  }

  &.color-grey {
    color: $charcoal-grey;
  }

  &.color-gray-700 {
    color: $gray-700;
  }

  &.color-pink {
    color: $strong-pink;
  }

  &.text-align-center {
    text-align: center;
  }

  &.weight-light {
    font-weight: $font-weight-light;
  }

  &.weight-regular {
    font-weight: $font-weight-regular;
  }

  &.weight-bold {
    font-weight: $font-weight-bold;
  }

  &.transform-uppercase {
    text-transform: uppercase;
  }

  &.transform-capitalize {
    text-transform: capitalize;
  }
}
