swagger: '2.0'
info:
  description: Trase API V3
  version: 3.0.0
  title: Trase API
  termsOfService: 'https://trase.earth/terms-of-use.html'
  contact:
    email: info@trase.earth
  license:
    name: MIT License
host: trase.earth
basePath: /api/v3
tags:
  - name: context
  - name: flow
  - name: node
schemes:
  - https
paths:
  /contexts:
    get:
      tags:
        - context
      summary: ''
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Context'
  /nodes/search:
    get:
      tags:
        - node
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: query
          in: query
          required: true
          type: integer
          description: 'Search string to use'
        - name: context_id
          in: query
          required: false
          type: integer
          description: 'If provided, limit results to nodes of a given context'
        - name: profile_only
          in: query
          type: boolean
          description: 'If provided, only show results that have a profile type defined'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                mainId:
                  type: integer
                name:
                  type: string
                nodeType:
                  type: string
                  example: 'EXPORTER'
                contextId:
                  type: integer
                profile:
                  type: string
                  example: 'actor'
  '/context/{context_id}/columns':
    get:
      tags:
        - context
      summary: ''
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Column'
  '/context/{context_id}/map_layers':
    get:
      tags:
        - context
      summary: ''
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          required: true
          type: integer
        - name: start_year
          in: query
          required: true
          type: integer
        - name: end_year
          in: query
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/MapGroup'
  '/context/{context_id}/download_attributes':
    get:
      tags:
        - context
      summary: ''
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              indicators:
                type: array
                items:
                  $ref: '#/definitions/DownloadAttribute'
  '/context/{context_id}/flows':
    get:
      tags:
        - flow
      summary: ''
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
        - name: include_columns
          in: query
          description: List of node type ids
          required: true
          type: array
          items:
            type: integer
        - name: flow_quant
          in: query
          description: Name of quant for resizing
          required: true
          type: string
        - name: flow_ind
          in: query
          description: Name of ind for recoloring
          required: false
          type: string
        - name: flow_qual
          in: query
          description: Name of qual for recoloring
          required: false
          type: string
        - name: selected_nodes
          in: query
          description: List of selected node ids
          required: false
          type: array
          items:
            type: integer
        - name: biome_filter_id
          in: query
          description: Id of biome to filter by
          required: false
          type: integer
        - name: start_year
          in: query
          description: Year range start
          required: true
          type: integer
        - name: end_year
          in: query
          description: Year range end (defaults to start)
          required: false
          type: integer
        - name: n_nodes
          in: query
          description: Number of top nodes (defaults to 100)
          required: false
          type: integer
        - name: locked_nodes
          in: query
          description: Ids of nodes to keep selected even if they are out of range of current selection
          required: false
          type: array
          items:
            type: integer
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/FlowResult'
        '400':
          description: bad request
          schema:
            type: object
            properties:
              error:
                type: string
  '/context/{context_id}/nodes':
    get:
      tags:
        - node
      summary: 'All nodes for a context'
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Node'
  '/context/{context_id}/nodes/attributes':
    get:
      tags:
        - node
      summary: ''
      description: 'Aggregated values of inds and quants for all nodes in context'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
        - name: start_year
          in: query
          required: true
          type: integer
        - name: end_year
          in: query
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/NodeAttribute'
        '400':
          description: bad request
          schema:
            type: object
            properties:
              error:
                type: string
  '/context/{context_id}/nodes/{id}/actor':
    get:
      deprecated: true
      tags:
        - node
      summary: 'Data for actor profile'
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
        - name: id
          in: path
          description: ''
          required: true
          type: integer
        - name: year
          in: query
          type: integer
          description: 'Defaults to context default year'
          required: false
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                type: object
                $ref: '#/definitions/ActorNode'

  '/context/{context_id}/actors/{id}/basic_attributes':
    get:
      tags:
        - node
        - actor
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
        - name: id
          in: path
          description: ''
          required: true
          type: integer
        - name: year
          in: query
          type: integer
          description: 'Defaults to context default year'
          required: false
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/ActorBasicAttributes'

  '/context/{context_id}/actors/{id}/top_countries':
    get:
      tags:
        - node
        - actor
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
        - name: id
          in: path
          description: ''
          required: true
          type: integer
        - name: year
          in: query
          type: integer
          description: 'Defaults to context default year'
          required: false
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/ActorTopCountries'

  '/context/{context_id}/actors/{id}/top_sources':
    get:
      tags:
        - node
        - actor
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
        - name: id
          in: path
          description: ''
          required: true
          type: integer
        - name: year
          in: query
          type: integer
          description: 'Defaults to context default year'
          required: false
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/ActorTopSources'

  '/context/{context_id}/actors/{id}/sustainability':
    get:
      tags:
        - node
        - actor
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
        - name: id
          in: path
          description: ''
          required: true
          type: integer
        - name: year
          in: query
          type: integer
          description: 'Defaults to context default year'
          required: false
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/ActorSustainability'

  '/context/{context_id}/actors/{id}/exporting_companies':
    get:
      tags:
        - node
        - actor
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
        - name: id
          in: path
          description: ''
          required: true
          type: integer
        - name: year
          in: query
          type: integer
          description: 'Defaults to context default year'
          required: false
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/ActorExportingCompanies'

  '/context/{context_id}/nodes/{id}/place':
    get:
      deprecated: true
      tags:
        - node
      summary: 'Data for place profile'
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
        - name: id
          in: path
          description: ''
          required: true
          type: integer
        - name: year
          in: query
          type: integer
          description: 'Defaults to context default year'
          required: false
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/PlaceNode'

  '/context/{context_id}/places/{id}/basic_attributes':
    get:
      tags:
        - node
        - place
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          required: true
          type: integer
        - name: id
          in: path
          required: true
          type: integer
        - name: year
          in: query
          type: integer
          description: 'Defaults to context default year'
          required: false
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/PlaceBasicAttributes'

  '/context/{context_id}/places/{id}/top_consumer_actors':
    get:
      tags:
        - node
        - place
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          required: true
          type: integer
        - name: id
          in: path
          required: true
          type: integer
        - name: year
          in: query
          type: integer
          description: 'Defaults to context default year'
          required: false
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/PlaceTopConsumerActors'

  '/context/{context_id}/places/{id}/top_consumer_countries':
    get:
      tags:
        - node
        - place
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          required: true
          type: integer
        - name: id
          in: path
          required: true
          type: integer
        - name: year
          in: query
          type: integer
          description: 'Defaults to context default year'
          required: false
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/PlaceTopConsumerCountries'

  '/context/{context_id}/places/{id}/indicators':
    get:
      tags:
        - node
        - place
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          required: true
          type: integer
        - name: id
          in: path
          required: true
          type: integer
        - name: year
          in: query
          type: integer
          description: 'Defaults to context default year'
          required: false
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/PlaceIndicators'

  '/context/{context_id}/places/{id}/trajectory_deforestation':
    get:
      tags:
        - node
        - place
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          required: true
          type: integer
        - name: id
          in: path
          required: true
          type: integer
        - name: year
          in: query
          type: integer
          description: 'Defaults to context default year'
          required: false
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/PlaceTrajectoryDeforestation'

  '/context/{context_id}/nodes/{id}/linked_nodes':
    get:
      tags:
        - node
      summary: ''
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
        - name: id
          in: path
          description: ''
          required: true
          type: integer
        - name: year
          in: query
          type: integer
          description: 'Defaults to context default year'
          required: false
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/LinkedNode'
  /newsletter_subscriptions:
    post:
      tags:
        - newsletter_subscription
      summary: Adds a new email to the subscriptions list
      consumes:
        - application/json
      parameters:
        - in: body
          name: email
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation

  '/context/{context_id}/download':
    get:
      tags:
        - context
      summary: 'Download selected flow attributes as csv / json'
      produces:
        - text/csv
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
        - name: years
          description: 'Years'
          in: query
          type: array
          items:
            type: integer
        - name: e_ids
          description: 'Exporters ids'
          in: query
          type: array
          items:
            type: integer
        - name: i_ids
          description: 'Importers ids'
          in: query
          type: array
          items:
            type: integer
        - name: c_ids
          description: 'Countries ids'
          in: query
          type: array
          items:
            type: integer
        - name: filters
          description: 'Filters, e.g. filters[][name]=FOB&filters[][op]=lt&filters[][val]=2'
          in: query
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        '200':
          description: successful operation
  '/context/{context_id}/top_nodes':
    get:
      tags:
        - flow
      summary: 'Top nodes of given node type per context'
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
        - name: column_id
          in: query
          description: Node type id
          required: true
          type: integer
        - name: start_year
          in: query
          description: Start year (defaults to context default year)
          required: false
          type: integer
        - name: end_year
          in: query
          description: End year (defaults to start year)
          required: false
          type: integer
        - name: n_nodes
          in: query
          description: Number of top nodes (defaults to 10)
          required: false
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                type: object
                $ref: '#/definitions/TopNodes'
  '/dashboards/commodities':
    get:
      tags:
        - dashboards
      summary: 'Commodities matching selected filters'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/dashboards_countries_ids"
        - $ref: "#/parameters/dashboards_sources_ids"
        - $ref: "#/parameters/dashboards_companies_ids"
        - $ref: "#/parameters/dashboards_destinations_ids"
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/DashboardsCommodity'

  '/dashboards/countries':
    get:
      tags:
        - dashboards
      summary: 'Countries matching selected filters'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/dashboards_commodities_ids"
        - $ref: "#/parameters/dashboards_sources_ids"
        - $ref: "#/parameters/dashboards_companies_ids"
        - $ref: "#/parameters/dashboards_destinations_ids"
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/DashboardsCountry'

  '/dashboards/sources':
    get:
      tags:
        - dashboards
      summary: 'Sources matching selected filters'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/dashboards_countries_ids"
        - $ref: "#/parameters/dashboards_commodities_ids"
        - $ref: "#/parameters/dashboards_companies_ids"
        - $ref: "#/parameters/dashboards_destinations_ids"
        - $ref: "#/parameters/page"
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/DashboardsSource'

  '/dashboards/companies':
    get:
      tags:
        - dashboards
      summary: 'Companies matching selected filters'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/dashboards_countries_ids"
        - $ref: "#/parameters/dashboards_commodities_ids"
        - $ref: "#/parameters/dashboards_sources_ids"
        - $ref: "#/parameters/dashboards_destinations_ids"
        - $ref: "#/parameters/page"
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/DashboardsCompany'

  '/dashboards/destinations':
    get:
      tags:
        - dashboards
      summary: 'Destinations matching selected filters'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/dashboards_countries_ids"
        - $ref: "#/parameters/dashboards_commodities_ids"
        - $ref: "#/parameters/dashboards_sources_ids"
        - $ref: "#/parameters/dashboards_companies_ids"
        - $ref: "#/parameters/page"
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/DashboardsDestination'

parameters:
  dashboards_countries_ids:
    name: countries_ids
    in: query
    description: 'String with comma-separated numeric ids'
    required: false
    type: string
  dashboards_commodities_ids:
    name: commodities_ids
    in: query
    description: 'String with comma-separated numeric ids'
    required: false
    type: string 
  dashboards_sources_ids:
    name: sources_ids
    in: query
    description: 'String with comma-separated numeric ids'
    required: false
    type: string
  dashboards_companies_ids:
    name: companies_ids
    in: query
    description: 'String with comma-separated numeric ids'
    required: false
    type: string
  dashboards_destinations_ids:
    name: destinations_ids
    in: query
    description: 'String with comma-separated numeric ids'
    required: false
    type: string
  page:
    name: page
    in: query
    description: 'Number of page for paginated responses'
    required: false
    type: integer
    
definitions:
  DashboardsCommodity:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
  DashboardsCountry:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
  DashboardsSource:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      nodeType:
        type: string
  DashboardsCompany:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      nodeType:
        type: string
  DashboardsDestination:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      nodeType:
        type: string
  Context:
    type: object
    properties:
      id:
        type: integer
        format: int64
      isDefault:
        type: boolean
      isDisabled:
        type: boolean
      years:
        type: array
        items:
          type: integer
      defaultYear:
        type: integer
      countryId:
        type: integer
      commodityId:
        type: integer
      countryName:
        type: string
      commodityName:
        type: string
      defaultBasemap:
        type: string
      defaultContextLayers:
        type: array
        items:
          type: string
      map:
        type: object
        properties:
          latitude:
            type: number
          longitude:
            type: number
          zoom:
            type: integer
      worldMap:
        type: object
        properties:
          mapColumnId:
            type: integer
            description: 'Id of column to use as parameter to top nodes for top destination countries (world map)'
          listColumnId:
            type: integer
            description: 'Id of column to use as parameter to top nodes for top exporters (world map - list)'
      recolorBy:
        type: array
        items:
          $ref: '#/definitions/RecolorBy'
      resizeBy:
        type: array
        items:
          $ref: '#/definitions/ResizeBy'
      filterBy:
        type: array
        items:
          $ref: '#/definitions/FilterBy'
  RecolorBy:
    type: object
    properties:
      isDefault:
        type: boolean
      isDisabled:
        type: boolean
      groupNumber:
        type: integer
      position:
        type: integer
      legendType:
        type: string
      legendColorTheme:
        type: string
      intervalCount":
        type: integer
      minValue:
        type: string
      maxValue:
        type: string
      divisor:
        type: number
      type:
        type: string
        enum:
          - ind
          - qual
          - quant
      name:
        type: string
      years:
        type: array
        items:
          type: integer
      label:
        type: string
      description:
        type: string
      nodes:
        type: array
        items:
          type: string
  ResizeBy:
    type: object
    properties:
      isDefault:
        type: boolean
      isDisabled:
        type: boolean
      groupNumber:
        type: integer
      position:
        type: integer
      name:
        type: string
      years:
        type: array
        items:
          type: integer
      label:
        type: string
      description:
        type: string
  DownloadAttribute:
    type: object
    properties:
      name:
        type: string
      unit:
        type: string
      unitType:
        type: string
      frontendName:
        type: string
      indicatorType:
        type: string
        enum:
          - Ind
          - Qual
          - Quant
      years:
        type: array
        items:
          type: integer
        description: null when all years
      filterOptions:
        type: object
        properties:
          ops:
            type: array
            items:
              type: string
              enum:
                - eq
                - gt
                - lt
            description: Operators available for advanced filter
          values:
            type: array
            items:
              type: string
            description: For quals, enumeration of possible values
  FilterBy:
    type: object
    properties:
      name:
        type: string
      nodes:
        type: array
        items:
          type: object
          properties:
            nodeId:
              type: integer
            name:
              type: string
  FlowResult:
    type: object
    properties:
      data:
        type: array
        items:
          type: object
          properties:
            path:
              type: array
              description: Array of node ids
              items:
                type: integer
            quant:
              type: number
            ind:
              type: number
            qual:
              type: string
            height:
              type: number
      include:
        type: object
        properties:
          nodeHeights:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                height:
                  type: number
                quant:
                  type: number
          quant:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              unit:
                type: string
          ind:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              unit:
                type: string
          qual:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
  Node:
    type: object
    properties:
      id:
        type: integer
      mainNodeId:
        type: integer
      name:
        type: string
      type:
        type: string
        description: 'e.g. BIOME'
      columnId:
        type: integer
        description: 'node type id'
      geoId:
        type: string
        description: 'e.g. BR for Brazil (country), BR1 for Amazonia (biome), BR5107925 for Sorriso (municipality), can be null'
      isDomesticConsumption:
        type: boolean
      isUnknown:
        type: boolean
      profileType:
        type: string
        description: 'actor or place'
      isAggregated:
        type: boolean
        description: "true for OTHER nodes"
  LinkedNode:
    type: object
    properties:
      id:
        type: integer
        format: int64
  NodeAttribute:
    type: object
    properties:
      node_id:
        type: integer
        format: int64
      attribute_id:
        type: integer
        format: int64
      attribute_type:
        type: string
        enum:
          - ind
          - qual
          - quant
      value:
        type: number
      dual_layer_bucket:
        type: integer
      single_layer_bucket:
        type: integer
  Column:
    type: object
    properties:
      data:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            position:
              type: string
            group:
              type: string
            isDefault:
              type: boolean
            isGeo:
              type: boolean
            isChoroplethDisabled:
              type: boolean
            profileType:
              type: string
  MapGroup:
    type: object
    properties:
      dimensionGroups:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              format: int64
            name:
              type: string
      dimensions:
        type: array
        items:
          $ref: '#/definitions/Dimension'
      contextualLayers:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            title:
              type: string
            identifier:
              type: string
              example: 'landcover'
            tooltipText:
              type: string
            isDefault:
              type: boolean
            legend:
             type: string
            cartoLayers:
              type: array
              items:
                type: object
                properties:
                  identifier:
                    type: string
                    example: 'landcover2015'
                  years:
                    type: array
                    items:
                      type: integer
                  rasterUrl:
                    type: string
  Attribute:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      type:
        type: string
  NewsletterSubscription:
    type: object
    properties:
      email:
        type: string
  Dimension:
    type: object
    properties:
      aggregateMethod:
        type: string
      dual_layer_buckets:
        type: array
        items:
          type: number
          format: float
      single_layer_buckets:
        type: array
        items:
          type: number
          format: float
      colorScale:
        type: string
      description:
        type: string
      id:
        type: integer
        format: int64
      is_default:
        type: boolean
      layerAttributeId:
        type: integer
        format: int64
      name:
        type: string
      unit:
        type: string
      years:
        type: array
        items:
          type: integer

  PlaceNode:
    type: object
    properties:
      data:
        type: object
        properties:
          column_name:
            type: string
            description: 'e.g. MUNICIPALITY'
          country_name:
            type: string
          country_geo_id:
            type: string
            description: 'e.g. BR'
          summary:
            type: string
          municipality_name:
            type: string
          municipality_geo_id:
            type: string
          state_name:
            type: string
          state_geo_id:
            type: string
          biome_name:
            type: string
          biome_geo_id:
            type: string
          area:
            type: number
          soy_production:
            type: number
          soy_area:
            type: string
          soy_farmland:
            type: number
          top_consumer_actors:
            type: object
            properties:
              name:
                type: string
              indicators:
                type: string
              unit:
                type: string
              targetNodes:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    height:
                      type: number
                    value:
                      type: number
                    is_domestic_consumption:
                      type: boolean
          top_consumer_countries:
            type: object
            properties:
              name:
                type: string
              indicators:
                type: string
              unit:
                type: string
              targetNodes:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    height:
                      type: number
                    value:
                      type: number
                    is_domestic_consumption:
                      type: boolean
          indicators:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                included_columns:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      unit:
                        type: string
                      tooltip:
                        type: string
                rows:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      have_unit:
                        type: boolean
                      values:
                        type: array
                        items:
                          type: number
          trajectory_deforestation:
            type: object
            properties:
              included_years:
                type: array
                items:
                  type: integer
              unit:
                type: string
              lines:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    legend_name:
                      type: string
                    legend_tooltip:
                      type: string
                    type:
                      type: string
                    style:
                      type: string
                    values:
                      type: array
                      items:
                        type: number

  PlaceBasicAttributes:
    type: object
    properties:
      data:
        type: object
        properties:
          column_name:
            type: string
            description: 'e.g. MUNICIPALITY'
          country_name:
            type: string
          country_geo_id:
            type: string
            description: 'e.g. BR'
          summary:
            type: string
          municipality_name:
            type: string
          municipality_geo_id:
            type: string
          state_name:
            type: string
          state_geo_id:
            type: string
          biome_name:
            type: string
          biome_geo_id:
            type: string
          area:
            type: number
          soy_production:
            type: number
          soy_area:
            type: string
          soy_farmland:
            type: number

  PlaceTopConsumerActors:
    type: object
    properties:
      data:
        type: object
        properties:
          name:
            type: string
          indicators:
            type: string
          unit:
            type: string
          targetNodes:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                height:
                  type: number
                value:
                  type: number
                is_domestic_consumption:
                  type: boolean

  PlaceTopConsumerCountries:
    type: object
    properties:
      data:
        type: object
        properties:
          name:
            type: string
          indicators:
            type: string
          unit:
            type: string
          targetNodes:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                height:
                  type: number
                value:
                  type: number
                is_domestic_consumption:
                  type: boolean

  PlaceIndicators:
    type: object
    properties:
      data:
        type: array
        items:
          type: object
          properties:
            name:
              type: string
            included_columns:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  unit:
                    type: string
                  tooltip:
                    type: string
            rows:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  have_unit:
                    type: boolean
                  values:
                    type: array
                    items:
                      type: number

  PlaceTrajectoryDeforestation:
    type: object
    properties:
      data:
        type: object
        properties:
          included_years:
            type: array
            items:
              type: integer
          unit:
            type: string
          lines:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                legend_name:
                  type: string
                legend_tooltip:
                  type: string
                type:
                  type: string
                style:
                  type: string
                values:
                  type: array
                  items:
                    type: number

  ActorNode:
    type: object
    properties:
      data:
        type: object
        properties:
          node_name:
            type: string
          column_name:
            type: string
          country_name:
            type: string
          country_geo_id:
            type: string
          zero_deforestation_link:
            type: string
          supply_change_link:
            type: string
          rtrs_member:
            type: string
          zero_deforestation:
            type: string
          supply_change:
            type: string
          soy_:
            type: number
          forest_500:
            type: number
          summary:
            type: string
          top_countries:
            type: object
            properties:
              included_years:
                type: array
                items:
                  type: integer
              buckets:
                type: array
                items:
                  type: integer
              lines:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    geo_id:
                      type: string
                    values:
                      type: array
                      items:
                        type: number
                    value9:
                      type: number
              unit:
                type: string
              style:
                type: object
                properties:
                  type:
                    type: string
                  style:
                    type: string
          top_sources:
            type: object
            properties:
              included_years:
                type: array
                items:
                  type: integer
              buckets:
                type: array
                items:
                  type: integer
              municipality:
                type: object
                properties:
                  lines:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        geo_id:
                          type: string
                        values:
                          type: array
                          items:
                            type: number
                        value9:
                          type: number
                  unit:
                    type: string
                  style:
                    type: object
                    properties:
                      type:
                        type: string
                      style:
                        type: string
              biome:
                type: object
                properties:
                  lines:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        geo_id:
                          type: string
                        values:
                          type: array
                          items:
                            type: number
                        value9:
                          type: number
                  unit:
                    type: string
                  style:
                    type: object
                    properties:
                      type:
                        type: string
                      style:
                        type: string
              state:
                type: object
                properties:
                  lines:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        geo_id:
                          type: string
                        values:
                          type: array
                          items:
                            type: number
                        value9:
                          type: number
                  unit:
                    type: string
                  style:
                    type: object
                    properties:
                      type:
                        type: string
                      style:
                        type: string
          sustainability:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                included_columns:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      unit:
                        type: string
                      tooltip:
                        type: string
                rows:
                  type: array
                  items:
                    type: object
                    properties:
                      values:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            value:
                              type: string
          companies_sourcing:
            type: object
            properties:
              dimension_y:
                type: object
                properties:
                  name:
                    type: string
                  unit:
                    type: string
              dimensions_x:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    unit:
                      type: string
              companies:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    id:
                      type: integer
                    y:
                      type: number
                    x:
                      type: array
                      items:
                        type: number

  ActorBasicAttributes:
    type: object
    properties:
      data:
        type: object
        properties:
          node_name:
            type: string
          column_name:
            type: string
          country_name:
            type: string
          country_geo_id:
            type: string
          zero_deforestation_link:
            type: string
          supply_change_link:
            type: string
          rtrs_member:
            type: string
          zero_deforestation:
            type: string
          supply_change:
            type: string
          soy_:
            type: number
          forest_500:
            type: number
          summary:
            type: string

  ActorTopCountries:
    type: object
    properties:
      data:
        type: object
        properties:
          included_years:
            type: array
            items:
              type: integer
          buckets:
            type: array
            items:
              type: integer
          lines:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                geo_id:
                  type: string
                values:
                  type: array
                  items:
                    type: number
                value9:
                  type: number
          unit:
            type: string
          style:
            type: object
            properties:
              type:
                type: string
              style:
                type: string

  ActorTopSources:
    type: object
    properties:
      data:
        type: object
        properties:
          included_years:
            type: array
            items:
              type: integer
          buckets:
            type: array
            items:
              type: integer
          municipality:
            type: object
            properties:
              lines:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    geo_id:
                      type: string
                    values:
                      type: array
                      items:
                        type: number
                    value9:
                      type: number
              unit:
                type: string
              style:
                type: object
                properties:
                  type:
                    type: string
                  style:
                    type: string
          biome:
            type: object
            properties:
              lines:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    geo_id:
                      type: string
                    values:
                      type: array
                      items:
                        type: number
                    value9:
                      type: number
              unit:
                type: string
              style:
                type: object
                properties:
                  type:
                    type: string
                  style:
                    type: string
          state:
            type: object
            properties:
              lines:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    geo_id:
                      type: string
                    values:
                      type: array
                      items:
                        type: number
                    value9:
                      type: number
              unit:
                type: string
              style:
                type: object
                properties:
                  type:
                    type: string
                  style:
                    type: string

  ActorSustainability:
    type: object
    properties:
      data:
        type: array
        items:
          type: object
          properties:
            name:
              type: string
            included_columns:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  unit:
                    type: string
                  tooltip:
                    type: string
            rows:
              type: array
              items:
                type: object
                properties:
                  values:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        value:
                          type: string

  ActorExportingCompanies:
    type: object
    properties:
      data:
        type: object
        properties:
          dimension_y:
            type: object
            properties:
              name:
                type: string
              unit:
                type: string
          dimensions_x:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                unit:
                  type: string
          companies:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                id:
                  type: integer
                y:
                  type: number
                x:
                  type: array
                  items:
                    type: number

  TopNodes:
    type: object
    properties:
      data:
        type: object
        properties:
          context_id:
            type: integer
          indicator:
            type: string
            description: 'e.g. Trade volume'
          unit:
            type: string
            description: 'e.g. Tn'
          target_nods:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                height:
                  type: number
                value:
                  type: number
