swagger: '2.0'
info:
  description: Trase API V3
  version: 3.0.0
  title: Trase API
  termsOfService: 'https://trase.earth/terms-of-use.html'
  contact:
    email: info@trase.earth
  license:
    name: MIT License
host: trase.earth
basePath: /api/v3
tags:
  - name: context
  - name: flow
  - name: node
schemes:
  - https
paths:
  /contexts:
    get:
      tags:
        - context
      summary: ''
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Context'
  '/context/{context_id}/columns':
    get:
      tags:
        - context
      summary: ''
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Column'
  '/context/{context_id}/map_groups':
    get:
      tags:
        - context
      summary: ''
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/MapGroup'
  '/context/{context_id}/download_attributes':
    get:
      tags:
        - context
      summary: ''
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Attribute'
  '/context/{context_id}/flows':
    get:
      tags:
        - flow
      summary: ''
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
        - name: include_columns
          in: query
          description: List of node type ids
          required: true
          type: array
          items:
            type: integer
        - name: flow_quant
          in: query
          description: Name of quant for resizing
          required: true
          type: string
        - name: flow_ind
          in: query
          description: Name of ind for recoloring
          required: false
          type: string
        - name: flow_qual
          in: query
          description: Name of qual for recoloring
          required: false
          type: string
        - name: selected_nodes
          in: query
          description: List of selected node ids
          required: false
          type: array
          items:
            type: integer
        - name: biome_filter_id
          in: query
          description: Id of biome to filter by
          required: false
          type: integer
        - name: year_start
          in: query
          description: Year range start
          required: true
          type: integer
        - name: year_end
          in: query
          description: Year range end (defaults to start)
          required: false
          type: integer
        - name: n_nodes
          in: query
          description: Number of top nodes (defaults to 100)
          required: false
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/FlowResult'
  '/context/{context_id}/nodes':
    get:
      tags:
        - node
      summary: 'All nodes for a context'
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Node'
  '/context/{context_id}/nodes/attributes':
    get:
      tags:
        - node
      summary: ''
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/NodeAttribute'
  '/context/{context_id}/nodes/{id}/actor':
    get:
      tags:
        - node
      summary: ''
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
        - name: id
          in: path
          description: ''
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Node'
  '/context/{context_id}/nodes/{id}/place':
    get:
      tags:
        - node
      summary: 'Data for place profile'
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
        - name: id
          in: path
          description: ''
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              data:
                type: object
                $ref: '#/definitions/PlaceNode'
  '/context/{context_id}/nodes/{id}/linked_nodes':
    get:
      tags:
        - node
      summary: ''
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: context_id
          in: path
          description: ''
          required: true
          type: integer
        - name: id
          in: path
          description: ''
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/LinkedNode'
  /newsletter_subscriptions:
    post:
      tags:
        - newsletter_subscription
      summary: Adds a new email to the subscriptions list
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
      responses:
        '200':
          description: successful operation
  /download:
    get:
      tags:
        - download
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: successful operation
definitions:
  Context:
    type: object
    properties:
      id:
        type: integer
        format: int64
      isDefault:
        type: boolean
      isDisabled:
        type: boolean
      years:
        type: array
        items:
          type: integer
      defaultYear:
        type: integer
      countryId:
        type: integer
      commodityId:
        type: integer
      countryName:
        type: string
      commodityName:
        type: string
      defaultBasemap:
        type: string
      defaultContextLayers:
        type: array
        items:
          type: string
      map:
        type: object
        properties:
          latitude:
            type: number
          longitude:
            type: number
          zoom:
            type: integer
      recolorBy:
        type: array
        items:
          $ref: '#/definitions/RecolorBy'
      resizeBy:
        type: array
        items:
          $ref: '#/definitions/ResizeBy'
      filterBy:
        type: array
        items:
          $ref: '#/definitions/FilterBy'
  RecolorBy:
    type: object
    properties:
      isDefault:
        type: boolean
      isDisabled:
        type: boolean
      groupNumber:
        type: integer
      position:
        type: integer
      legendType:
        type: string
      legendColorTheme:
        type: string
      intervalCount":
        type: integer
      minValue:
        type: string
      maxValue:
        type: string
      divisor:
        type: number
      type:
        type: string
        enum:
          - ind
          - qual
          - quant
      name:
        type: string
      label:
        type: string
      description:
        type: string
      nodes:
        type: array
        items:
          type: string
  ResizeBy:
    type: object
    properties:
      isDefault:
        type: boolean
      isDisabled:
        type: boolean
      groupNumber:
        type: integer
      position:
        type: integer
      name:
        type: string
      label:
        type: string
      description:
        type: string
  FilterBy:
    type: object
    properties:
      name:
        type: string
      nodes:
        type: array
        items:
          type: object
          properties:
            nodeId:
              type: integer
            name:
              type: string
  FlowResult:
    type: object
    properties:
      data:
        type: array
        items:
          type: object
          properties:
            path:
              type: array
              description: Array of node ids
              items:
                type: integer
            quant:
              type: number
            ind:
              type: number
            qual:
              type: string
            height:
              type: number
      include:
        type: object
        properties:
          nodeHeights:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                height:
                  type: number
                quant:
                  type: number
          quant:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              unit:
                type: string
          ind:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              unit:
                type: string
          qual:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
  Node:
    type: object
    properties:
      id:
        type: integer
      mainNodeId:
        type: integer
      name:
        type: string
      type:
        type: string
        description: 'e.g. BIOME'
      columnId:
        type: integer
        description: 'node type id'
      geoId:
        type: string
        description: 'e.g. BR for Brazil (country), BR1 for Amazonia (biome), BR5107925 for Sorriso (municipality), can be null'
      isDomesticConsumption:
        type: boolean
      isUnknown:
        type: boolean
      profileType:
        type: string
        description: 'actor or place'
      isAggregated:
        type: boolean
        description: "true for OTHER nodes"
  LinkedNode:
    type: object
    properties:
      id:
        type: integer
        format: int64
  NodeAttribute:
    type: object
    properties:
      node_id:
        type: integer
        format: int64
      attribute_id:
        type: integer
        format: int64
      attribute_type:
        type: string
        enum:
          - Ind
          - Qual
          - Quant
  Column:
    type: object
    properties:
      dimensionGroups:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              format: int64
            name:
              type: string
      dimensions:
        type: array
        items:
          $ref: '#/definitions/Dimension'
  MapGroup:
    type: object
    properties:
      id:
        type: integer
        format: int64
  Attribute:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      type:
        type: string
  NewsletterSubscription:
    type: object
    properties:
      email:
        type: string
  Dimension:
    type: object
    properties:
      aggregateMethod:
        type: string
      bucket3:
        type: array
        items:
          type: number
          format: float
      bucket5:
        type: array
        items:
          type: number
          format: float
      colorScale:
        type: string
      description:
        type: string
      id:
        type: integer
        format: int64
      is_default:
        type: boolean
      layerAttributeId:
        type: integer
        format: int64
      name:
        type: string
      unit:
        type: string
      years:
        type: array
        items:
          type: integer
  PlaceNode:
    type: object
    properties:
      data:
        type: object
        properties:
          column_name:
            type: string
            description: 'e.g. MUNICIPALITY'
          country_name:
            type: string
          country_geo_id:
            type: string
            description: 'e.g. BR'
          summary:
            type: string
          municipality_name:
            type: string
          municipality_geo_id:
            type: string
          state_name:
            type: string
          state_geo_id:
            type: string
          biome_name:
            type: string
          biome_geo_id:
            type: string
          area:
            type: number
          soy_production:
            type: number
          soy_area:
            type: string
          soy_farmland:
            type: number
          top_traders:
            type: object
            properties:
              actors:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    value:
                      type: number
                    is_domestic_consumption:
                      type: boolean
              municipalities:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
              matrix:
                type: array
                items:
                  type: array
                  items:
                    type: number
          top_consumers:
            type: object
            properties:
              countries:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    value:
                      type: number
                    is_domestic_consumption:
                      type: boolean
              municipalities:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
              matrix:
                type: array
                items:
                  type: array
                  items:
                    type: number
          indicators:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                included_columns:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      unit:
                        type: string
                rows:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      have_unit:
                        type: boolean
                      values:
                        type: array
                        items:
                          type: number
          trajectory_deforestation:
            type: object
            properties:
              included_years:
                type: array
                items:
                  type: integer
              unit:
                type: string
              lines:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    legend_name:
                      type: string
                    type:
                      type: string
                    style:
                      type: string
                    values:
                      type: array
                      items:
                        type: number
