@import '../../../../styles/settings';
@import '../../shared/help-tooltip/help-tooltip';

.tooltip-react.filter-tooltip {
  margin-right: 5px;
  width: 16px;
  height: 16px;

  &.-selected {
    .icon {
      opacity: 1;
    }
  }

  .icon {
    color: $charcoal-grey;
    font-size: 16px;
    cursor: pointer;
  }

  .tooltip-content {
    display: none;
  }
}

.tooltip.filter-tooltip {
  padding: 0;
  max-width: 500px;
  font-family: $font-family-1;
  background-color: $white;
  color: $charcoal-grey;
  pointer-events: auto;
  z-index: $z-above-veil;

  .tooltip-arrow {
    border-top-color: $white;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }

  .tooltip-content {
    > .title {
      height: 40px;
      padding: 0px 16px;
      background-color: #fff4d4;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .clear-filter {
        cursor: pointer;

        .icon {
          margin-left: 5px;
          color: $charcoal-grey;
          vertical-align: text-top;
        }
      }
    }

    > .content {
      padding: 16px;
      font-size: $font-size-x-regular;
      color: rgba($charcoal-grey, .6);
      line-height: 1.23;

      .c-dropdown {
        margin-left: 5px;
        display: inline-block;
        color: $charcoal-grey;

        .dropdown-title {
          padding-right: 17px;
          font-family: $font-family-1;
          font-size: $font-size-x-regular;
          font-weight: normal;
        }

        .dropdown-item {
          padding: 5px 10px;
          white-space: nowrap;
          font-family: $font-family-1;
          font-size: $font-size-x-regular;
          font-weight: normal;
        }

        .dropdown-list {
          position: absolute;
          top: 20px;
        }
      }

      input {
        font-family: $font-family-1;
        font-size: $font-size-regular;
        text-align: right;
      }
    }
  }
}
