@import 'styles/settings';

.c-featured-cards {
  position: fixed;
  width: 100%;
  bottom: 0;

  .featured-cards-title {
    display: inline;
    margin-right: 20px;
  }

  .featured-cards-container {
    margin-top: 5px;
    background-color: $mid-light-gray;
    width: 100%;
    height: 120px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .mobile-featured-cards {
    width: 880px;
  }

  .back-button {
    cursor: pointer;
  }
}

.mobile-card {
  display: inline-block;
  vertical-align: top;
  width: 180px;
  margin: 0 20px;
}

.animated-card {
  margin: 10px 0 10px;
}

.c-featured-card {
  height: 100px;
  width: 100%;
  border-radius: 5px;
  background-color: $white;
  cursor: pointer;
  padding: 20px;

  .featured-card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
