@import 'styles/settings';

$cards-side-margin: 16px;
$card-min-width: 180px;

.c-featured-cards {
  position: fixed;
  width: 100%;
  bottom: 0;

  .featured-cards-title {
    display: inline;
    margin-right: 20px;
  }

  .featured-cards-back {
    color: $strong-pink;
  }

  .featured-cards-container {
    padding: 5px 0;
    background-color: $white;
    width: 100%;
    height: 120px;

    &.-mobile {
      display: flex;
      align-items: center;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  .back-button {
    cursor: pointer;
  }

  .animated-cards-container {
    height: 200px;
    position: relative;
    overflow-x: auto;
  }

  .mobile-card {
    display: inline-block;
    vertical-align: top;
    width: $card-min-width;
    margin: 0 20px;
    flex-shrink: 0;
  }

  .desktop-card {
    position: absolute;
    width: calc(25% - (#{$cards-side-margin} * 2));
    min-width: $card-min-width;
  }
}

.c-featured-card {
  margin: 10px 0 10px;
  background-color: $strong-pink;
  border-radius: 5px;

  .featured-card-button {
    height: 100px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    padding: 30px 20px;
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .featured-card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
