$search-breakpoint-medium: 806px;
$search-breakpoint-large: 911px;
$search-box-shadow: 0 1px 3px 0 rgba($black, 0.1), 0 1px 2px 0 rgba($black, 0.2);
$search-height-small: 45px;
$search-height-large: 55px;


.c-profile-search {
  position: relative;

  .profile-search-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $search-height-large;
    padding: 2px 16px 0 0;
    background-color: $white;
    box-shadow: $search-box-shadow;
    border-radius: 4px;
    z-index: $z-base;
    cursor: text;

    .icon-search {
      height: 20px;
      width: 20px;
      fill: $charcoal-grey;
      flex: none;
    }

    &.-loading {
      background-color: $white;
      .profile-search-input {
        background-color: $white;
        &::placeholder {
          color: $charcoal-grey-faded-a-lot;
        }
      }
    }
  }

  .profile-search-input {
    flex: 1;
    padding: 0 5px 0 20px;
    font-family: $font-family-1;
    font-size: 18px;
    letter-spacing: -0.8px;
    text-align: left;
    color: $charcoal-grey;
    outline: none;
    min-width: 0;

    &::placeholder {
      transition: color 150ms ease-out;
    }
  }

  .profile-search-results {
    position: absolute;
    background: $white;
    overflow-y: auto;
    width: 100%;
    max-height: 345px;
    box-shadow: $search-box-shadow;
  }

}
