@import '../../mixins';

.c-profile-search-result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 14px 15px;
  cursor: pointer;
  border-bottom: solid 1px $pale-grey;
  overflow: hidden;

  &:hover,
  &[aria-selected='true'],
  &.-highlighted {
    background: $egg-shell;
    color: $charcoal-grey;
  }
}

.profile-search-node-name {
  left: -1px;
  font-family: $font-family-1;
  font-size: 17px;
  letter-spacing: -0.5px;
  color: $charcoal-grey;
  text-transform: uppercase;
}

.profile-search-node-type {
  @include smallcaps;
  display: block;
}

mark {
  background: $egg-shell;
}
