.c-profile-root {

  .profile-root-search-container {
    padding: 90px 0;

    @media only screen and (max-width: $breakpoint-foundation-small) {
      padding: 60px 0;
    }
  }

  .profile-root-heading-container {
    display: flex;
    justify-content: center;
    align-items: baseline;

    .profile-root-heading-wrapper {
      flex-shrink: 0;

      .title {
        font-size: 24px;

        @media only screen and (min-width: $breakpoint-foundation-small) {
          font-size: 48px;
        }
      }
    }

    @media only screen and (max-width: $breakpoint-foundation-small) {
      justify-content: left;
    }
  }

  .profile-root-explanatory-text {
    color: $charcoal-grey-faded;
    font-family: $font-family-2;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-align: center;
    margin: 10px 0 0;
  }

  .profile-root-mock {
    width: 100%;
    vertical-align: bottom
  }

  .profile-search {
    height: 55px;

    .search-input-results {
      max-height: 345px;
      z-index: 0;
    }

    .profile-search-result {
      padding: 14px 15px;

      .search-input-item-name {
        font-size: 17px;
      }
    }
  }
}
