$search-breakpoint-medium: 806px;
$search-breakpoint-large: 911px;
$search-box-shadow: 0 1px 3px 0 rgba($black, 0.1), 0 1px 2px 0 rgba($black, 0.2);
$search-height-small: 45px;
$search-height-large: 55px;
$spinner-height-small: 35px;
$spinner-height-large: 40px;


.c-profile-search {
  position: relative;

  .profile-search-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $search-height-large;
    padding: 2px 8px 0 0;
    background-color: $white;
    box-shadow: $search-box-shadow;
    z-index: $z-above;
    cursor: text;

    .icon-search {
      height: 20px;
      width: 20px;
      fill: $charcoal-grey;
      flex: none;
    }

    &.-loading {
      background-color: $white;
      .profile-search-input {
        background-color: $white;
        &::placeholder {
          color: $charcoal-grey-faded-a-lot;
        }
      }
    }
  }

  .profile-search-input {
    flex: 1;
    padding: 0 5px 0 15px;
    font-family: $font-family-1;
    font-size: 18px;
    letter-spacing: -0.8px;
    text-align: left;
    color: $charcoal-grey;
    outline: none;
    min-width: 0;

    &::placeholder {
      transition: color 150ms ease-out;
    }

    @media only screen and (min-width: $search-breakpoint-large) {
      padding: 0 5px 0 20px;
    }
  }

  .profile-search-spinner {
    position: relative;
    height: $spinner-height-large;
    width: $spinner-height-large;
    background-color: transparent;

    &::after {
      content: '';
      position: absolute;
      top: $spinner-height-large - 30px;
      left: $spinner-height-large - 30px;
      width: $spinner-height-large - 20px;
      height: $spinner-height-large - 20px;
      border: 2px solid $charcoal-grey;
      border-radius: 99px;
      clip: rect(0, 20px, 13px, 0);

      animation: rotate 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  .profile-search-results {
    position: absolute;
    background: $white;
    overflow-y: auto;
    width: 100%;
    max-height: 345px;
    box-shadow: $search-box-shadow;
  }

}
