@import 'styles/settings';

.c-logistics-map-legend {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 355px;
  overflow: hidden;
}

.logistics-map-legend-title {
  background-color: $charcoal-grey;
  display: flex;
  padding: 6px 18px;
  min-height: 32px;
  box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;

  .logistics-map-legend-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    font-size: $font-size-xx-regular;
    text-transform: capitalize;
    flex: 1;
    border: none;
    background-color: transparent;
    text-align: left;
    padding: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &::after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-bottom: 5px solid $white;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      transform: rotate(180deg);
      transition: transform 0.2s ease-out;
    }
  }

  &.-closed .logistics-map-legend-toggle::after {
    transform: rotate(0deg);
  }
}

.logistics-map-legend-list {
  background-color: $background-white;
  display: block;
  width: 100%;
  min-height: 24px;
  padding: 12px 18px;

  &.-closed {
    display: none;
  }

  .logistics-map-legend-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
  }

  .logistics-map-legend-item-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 60px;
  }
}
