@import 'styles/settings';

.c-units-tooltip {
  position: absolute;
  box-shadow: $box-shadow-big;
  font-family: $font-family-1;
  background-color: $white;
  color: $charcoal-grey;
  z-index: $z-above-veil-below-nav;

  .units-tooltip-text {
    font-family: $font-family-1;
    font-size: $font-size-regular;
    line-height: 1;
    letter-spacing: -0.6px;
    min-height: 32px;
    padding: 12px 8px;
    background-color: $egg-shell;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .units-tooltip-value {
    padding: 10px 8px;

    .units-tooltip-title {
      font-family: $font-family-1;
      font-size: $font-size-small;
      letter-spacing: -0.5px;
      opacity: 0.6;
      text-transform: uppercase;
      line-height: 1;
    }

    .units-tooltip-data {
      font-family: $font-family-1;
      font-size: 18px;
      letter-spacing: -0.9px;
      line-height: 1;
      padding-top: 2px;
      white-space: nowrap;

      span {
        opacity: 0.6;
        font-size: 16px;
        letter-spacing: -0.8px;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid $metal-grey;
    }

    .units-tooltip-unit {
      color: rgba($charcoal-grey, .5);
    }
  }
}
