@import 'styles/settings';

.c-units-tooltip {
  position: absolute;
  box-shadow: $box-shadow-big;
  font-family: $font-family-1;
  background-color: $white;
  color: $charcoal-grey;
  z-index: $z-above-veil-below-nav;
  pointer-events: none;

  .units-tooltip-text {
    min-height: 32px;
    padding: 12px 8px;
    background-color: $egg-shell;
    white-space: nowrap;
  }

  .units-tooltip-value {
    padding: 10px 8px;

    .units-tooltip-data {
      white-space: nowrap;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $metal-grey;
    }

    .units-tooltip-unit {
      color: rgba($charcoal-grey, .5);
    }
  }

  p {
    margin: 0 !important;
  }
}
