@import 'styles/settings';

.c-units-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: $box-shadow-big;
  font-family: $font-family-1;
  background: $green-light-gray-gradient;
  color: $charcoal-grey;
  z-index: $z-above-veil-below-nav;
  pointer-events: none;

  min-width: 166px;

  .units-tooltip-text {
    min-height: 20px;
    padding: 14px 10px;
    white-space: nowrap;
  }

  .units-tooltip-unit {
    margin-bottom: 5px;
  }

  .units-tooltip-value {
    padding: 0 8px 8px;

    .units-tooltip-data {
      white-space: nowrap;
    }
  }

  p {
    margin: 0;
  }
}
