@import 'styles/settings';

.c-team-member {

  .team-member-profile-picture-container {
    height: 290px;
    width: 100%;

    .c-team-profile-picture {
      margin: 10px 0 0;
    }
  }

  .team-member-details {
    margin: 18px 0 0;
  }

  .team-member-bio {
    margin-top: 20px;
  }
}