@import 'styles/settings';
@import 'styles/mixins';

.c-map {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;

  border-right: solid 1px rgba($charcoal-grey, .7);
  border-bottom: solid 1px rgba($charcoal-grey, .7);
  transform: translate(0, 0);
  transition: transform 1s ease;
  z-index: $z-base;

  .overlays {
    z-index: $z-nav;
  }

  .navigation-control {
    margin: 28px 10px 8px 30px;
    width: 32px;
    z-index: $z-nav;
    box-shadow: $box-shadow !important;
  }

  .mapboxgl-ctrl-attrib-inner {
    display: none;
  }

  .mapboxgl-ctrl-icon {
    margin: auto;
  }

  > .c-map-legend {
    display: initial;
    position: absolute;
    bottom: 20px;
    width: 319px;
    z-index: 1001;
    transition: width 1s ease;

    &.-hidden {
      height: 0;
      padding: 0;
    }
  }

  .c-map-attribution {
    display: initial;
    position: absolute;
    bottom: 0;
    width: 319px;
    padding: 6px 30px;
    background: $white;
    color: $gray-500;
    font-family: $font-family-1;
    font-size: 11px;
    z-index: 1001;
    border-top: 1px solid $gray-100;

    a,
    span {
      color: rgba($charcoal-grey, .5);
    }
  }

  .btn-map {
    display: flex;
    align-items: center;
    justify-content: center;

    width: $map-btn-height;
    height: $map-btn-height;

    border-radius: 4px;
    background-color: $white;
    box-shadow: $box-shadow;

    cursor: pointer;
    z-index: $z-leaflet-above-panes;

    &.-map-layers {
      display: flex;
      position: absolute;
      top: 0;
      left: 8px;
      transform: translateY(calc(-100% - 7px));

      > .icon-layers {
        margin-left: 0;
        width: 16px;
        height: 16px;
        fill: $charcoal-grey;
      }

      &:hover, &:active {
        background-color: $light-gray;
      }
    }

    &.-toggle-map {
      position: absolute;
      top: 0;
      bottom: 0;
      right: - ($map-btn-height / 2);
      margin: auto;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      background-color: $charcoal-grey;
      box-shadow: $box-shadow;
      color: $light-gray;

      @include simple-arrow($white);

      &::after {
        top: 50%;
        left: calc(50% - 4px);
        transform: translate(-1px, -50%) rotateZ(-45deg);
      }
    }

    .icon-dragger_dots {
      height: 34px;
    }
  }

  // map modifiers
  &.-moved {
    transform: translate(100%, 0);
  }

  &.-fullscreen {
    .c-map-legend,
    .c-map-attribution {
      width: $map-width;
      border-right: 1px solid rgba($charcoal-grey, .2);
    }
  }

  &.-minimized  {
    .c-map-legend,
    .c-map-attribution,
    .leaflet-control-container {
      display: none;
    }
  }

  &:not(.-minimized) {
    .leaflet-control-container {
      display: initial;
    }
  }
}
