@import 'styles/settings';

$line-margin: 23px;

.c-top {
  width: 100%;

  .top-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 16px;

    &:not(:first-child) {
      margin-top: $line-margin;
    }

    .node-name,
    .item-value {
      color: $charcoal-grey;
      font-family: $font-family-1;
      font-size: 13px;
      letter-spacing: -.6px;
    }

    .item-name {
      display: flex;
      align-items: flex-end;
      max-width: 70%;
      height: 16px;

      .node-name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .item-value {
      position: relative;
      color: rgba($charcoal-grey, .6);

      &::after {
        color: rgba($charcoal-grey, .6);
        content: attr(data-unit);
      }

      &.-toggable {
        cursor: pointer;
      }
    }
  }

  .outside-link {
    display: inline-flex;
  }

  .icon-outside-link {
    margin: 0 0 0 8px;

    cursor: pointer;
    fill: rgba($charcoal-grey, .2);

    &:hover {
      fill: $charcoal-grey;
    }
  }

  .placeholder-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:first-child) {
      margin-top: $line-margin;
    }
  }

  .top-placeholder {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 350px;

    .top-placeholder-paragraph {
      display: flex;
      flex-direction: column;

      .top-placeholder-line-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &:not(:first-child) {
          margin: $line-margin 0 0;
        }

        > .top-placeholder-line {
          margin: 0;
        }
      }

      .top-placeholder-line {
        display: flex;
        align-items: center;
        height: 16px;

        &:not(:first-child) {
          margin: $line-margin 0 0;
        }
      }

      .top-placeholder-word {
        width: 20px;
        height: 65%;
        background-color: rgba($charcoal-grey, 0.8);

        &:not(:last-child) {
          margin-right: 8px;
        }

        &.small {
          width: 20px;
        }

        &.xsmall {
          width: 35px;
        }

        &.medium {
          width: 45px;
        }

        &.large {
          width: 60px;
        }

        &.xlarge {
          width: 100px;
        }
      }

      &:last-child {
        margin: 0 0 0 8px;

        .top-placeholder-line {
          justify-content: flex-end;
        }

        .top-placeholder-word {
          background-color: $charcoal-grey-faded-a-lot;

          &.small {
            width: 20px;
          }

          &.medium {
            width: 40px;
          }

          &.large {
            width: 60px;
          }
        }
      }
    }
  }
}
