@import 'styles/settings';

.c-chart-error {
  max-width: 600px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  gap: 20px;
  border: 1px solid rgba($gray-100, 0.5);

  .error-text {
    max-width: 300px;
  }
}