@import 'styles/settings';

.c-locale-selector {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: default;

  &.-open {
    .locale-selector-selected-item {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .locale-selector-selected-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 20px;
    line-height: 1em;
    text-align: center;
    cursor: pointer;

    &::after {
      content: '';
      width: 0;
      height: 0;
      margin: 0 0 0 5px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $black;
    }
  }

  .locale-selector-menu {
    position: absolute;
    top: calc(50% + 8px);
    margin: 10px 0 0;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    background-color: $white;
    box-shadow: 0 3px 6px 0 rgba($black, 0.16), 0 3px 6px 0 rgba($black, 0.23);
  }

  .locale-selector-menu-item {
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    opacity: 1;
    color: $charcoal-grey;

    &:hover {
      background-color: $egg-shell;
    }

    &:not(:first-child) {
      border-top: solid 1px rgba($charcoal-grey, 0.2);
    }
  }
}
