@import 'styles/settings';

.c-locale-selector {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: default;

  &.-open {
    .locale-selector-selected-item {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .locale-selector-selected-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 20px;
    line-height: 1em;
    text-align: center;
    cursor: pointer;

    &::after {
      content: '';
      width: 0;
      height: 0;
      margin: 0 0 0 5px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $black;
    }
  }

  .locale-selector-menu {
    position: absolute;
    top: calc(50% + 8px);
    margin: 10px 0 0;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
  }

  .locale-selector-menu-item {
    margin: 10px 0 0;
    opacity: 0.6;

    &:first-child {
      margin: 0;
    }

    &:hover {
      opacity: 1;
    }
  }
}
