@import 'styles/settings';
@import 'styles/mixins';

.icon {
  margin-left: 5px;

  &.color-white {
    fill: $white;
  }

  &.color-grey {
    color: $charcoal-grey;
  }

  &.color-pink {
    color: $strong-pink;
  }

  max-height: 18px;

  &.size-lg {
    height: 28px;
    max-height: 28px;
    width: 28px;
  }
}

.icon-arrow,
.icon-arrow-up {
  position: absolute;
  top: 0;
  left: 7px;
  @include simple-arrow($strong-pink);

  &.color-white {
    @include simple-arrow($white);
  }

  &.color-elephant {
    @include simple-arrow($elephant);
  }

  &.direction-up {
    &::after {
      transform: translateY(calc(-50%)) rotate(225deg);
    }
  }
}