@import 'styles/settings';

$desktop-nav-min-width: 1060px;
$desktop-nav-sides-margin: 20px;

$navMenuPadding: 20px;
$menuOffset: 15vh;

.c-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: $nav-height;
  font-family: $font-family-3;
  background-color: $white;
  z-index: $z-nav;
  transition: all 150ms ease-in;

  .nav-menu {
    padding: 0 $navMenuPadding;
    border-bottom: 1px solid $gray-200;
  }

  .nav-tabs-container {
    position: relative;
    max-height: calc(100vh - 60px);
    .-backdrop {
      background: rgba($black, 0.3);
      position: absolute;
      height: 100vh;
      top: 0;
      left: 0;
      width: 100vw;
      z-index: -1;
    }
  }

  .-desktop-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    background: $white;
    z-index: 1;
    height: 100%;
  }

  .left-section {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    align-items: center;
    > :first-child {
      margin-right: 24px;
    }
  }

  .top-nav-toggle-btn {
    width: 24px;
    height: 24px;
    cursor: pointer;
    > svg {
      width: inherit;
      height: inherit;
      margin: 0;
      max-height: none;
    }
  }

  .top-nav-logo {
    width: 113px;
  }

  .nav-tab-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: $white;

    .-navigation-block {
      flex: 1;
      .scroll-indicator {
        display: inline-block;
        position: relative;
        margin: 30px 0 0 0;
        color: $orange-500;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        font-size: 12px;
      }

      li {
        line-height: 2.2em;
      }

      a {
        color: $gray-700;
        font-weight: $font-weight-bold;
        font-size: 27px;
        line-height: 1.1em;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .-tab-contents {
      flex: 0 0 70%;
      padding: 15px 0;
      overflow-y: scroll;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }

      .tab-contents-cards {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
      }
    }
  }

  .top-nav-card {
    flex: 0 0 260px;
    height: calc(100vh - 190px);
    max-height: 400px; // set max height so on larger screens cards don't go crazy long
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0px 5px 9px 0 rgba(0, 0, 0, 0.23);
    background: linear-gradient(#b9fde7, #fff 80%);
    border-bottom: 4px solid $gray-400;

    &:nth-child(even) {
      margin: 0 25px;
    }

    .card-image {
      flex: 1;
      height: 240px;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transform: translateX(90px);
    }

    .card-contents {
      display: flex;
      justify-content: center;
      flex-flow: column;
      padding: 15px;
      background: $white;
    }

    .card-summary {
      font-family: $font-family-1;
      font-size: $font-size-xx-regular;
      color: $gray-400;
      font-size: 12px;
      height: 46px;
      text-overflow: ellipsis;
    }

    // For now, just override our heading class with this value
    // As we migrate things forward we need a designer to review font sizes
    .c-heading {
      font-size: 30px;
      margin: 0 0 10px 0;
    }
  }
}
