@import 'styles/settings';

$desktop-nav-min-width: 1060px;
$desktop-nav-sides-margin: 20px;

.c-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: $nav-height;
  font-family: $font-family-3;
  background-color: $white;
  z-index: $z-nav;
  transition: all 150ms ease-in;

  .nav-menu {
    padding: 0 20px;
    border-bottom: 1px solid $gray-200;
  }

  .nav-tabs-container {
    position: relative;
    max-height: calc(100vh - 60px);
    .-backdrop {
      background: rgba($black, 0.3);
      position: absolute;
      height: 100vh;
      top: 0;
      left: 0;
      width: 100vw;
      z-index: -1;
    }
  }

  .-desktop-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    background: $white;
    z-index: 1;
    height: 100%;
  }

  .left-section {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    align-items: center;
    > :first-child {
      margin-right: 24px;
    }
  }

  .top-nav-toggle-btn {
    width: 24px;
    height: 24px;
    cursor: pointer;
    > svg {
      width: inherit;
      height: inherit;
      margin: 0;
      max-height: none;
    }
  }

  .top-nav-logo {
    width: 113px;
  }

  .nav-tabs {
    display: flex;
    align-items: center;
    li,
    button {
      height: 100%;
    }
    button {
      padding: 0 27px;
      cursor: pointer;
      font-size: $font-size-xx-regular;
      color: rgba($gray-500, 0.5);
      font-weight: $font-weight-bold;
      border-bottom: 4px solid transparent;
      transition: all 150ms ease-in;
      &:hover,
      &.-active {
        color: rgba($gray-500, 1);
        border-bottom: 4px solid $orange-500;
      }
    }
  }

  .nav-tab-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: $white;

    .-navigation-block {
      flex: 1;
      .scroll-indicator {
        display: inline-block;
        position: relative;
        margin: 30px 0 0 0;
        color: $orange-500;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        font-size: 12px;
      }
    }

    .-tab-contents {
      flex: 0 0 70%;
      overflow-y: scroll;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
      .tab-contents-cards {
        display: flex;
        flex-flow: row;
        > * {
          flex: 0 0 330px;
          margin-right: 30px;
        }
      }
    }

    .nav-tab-hero {
      color: $gray-700;
      font-weight: $font-weight-bold;
      font-size: 48px;
      line-height: 1.1em;
      > span {
        display: block;
      }
    }
  }
}
