@import '../../../../../styles/settings';

.c-nodes-titles {
  padding-bottom: 8px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.c-node-title {
  display: inline-flex;
  align-items: center;
  height: 48px;
  padding: 0 7px 4px;
  margin-right: 8px;
  border-radius: 4px;

  &.-link {
    cursor: pointer;

    &:hover {
      .icon-link svg * {
        fill: $charcoal-grey;
      }
    }
  }

  .node-title-column {
    display: inline-block;
    margin-right: 7px;

    &:last-child {
      margin-right: 4px;
    }
  }

  .column-title {
    margin-left: 1px;
    color: rgba($charcoal-grey, .6);
    font-family: $font-family-1;
    font-size: $font-size-small;
    letter-spacing: -.5px;
    text-transform: uppercase;
  }

  .column-content {
    position: relative;
    color: $charcoal-grey;
    font-family: $font-family-1;
    font-size: 17px;
    letter-spacing: -.8px;
  }

  .unit {
    display: inline-block;
    max-width: 110px;
    color: rgba($charcoal-grey, .5);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
  }

  .value {
    display: inline-block;
    vertical-align: bottom;
  }

  .icon-link {
    position: relative;
    top: 2px;
    width: 12px;
    height: 10px;
    color: rgba($charcoal-grey, .4);
    margin-right: 1.5px;
  }

  .icon-close {
    width: 12px;
    height: 18px;
    margin-top: 1px;
    margin-left: 6px;
    color: rgba($charcoal-grey, .5);
    cursor: pointer;
  }

  &:not(.-flow--1) {
    background-color: $white;
  }

  @for $i from 1 through length($recolorgroup-colors) {
    &.#{nth($recolorgroup-colors-names, $i)} {
      box-shadow: 0 1px 3px 0 rgba($black, .1), 0 1px 2px 0 rgba($black, .2), inset 0 -6px 0 0 #{nth($recolorgroup-colors, $i)};
    }
  }

  &.-recolorgroup--1 {
    box-shadow: 0 1px 3px 0 rgba($black, .1), 0 1px 2px 0 rgba($black, .2);
  }
}
