@import 'styles/settings';

.c-edit-filter {
  display: flex;
  flex-direction: column;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;

  .edit-title {
    .edit-subtitle {
      margin: 0 0 0 5px;
    }
    line-height: 1.35;
  }

  @media screen and (min-width: $breakpoint-tool-bar) {
    .edit-title {
      margin: 0 12px 0 0;
    }
  }

  &.-hovered {
    background-color: $green-200;

    .options-menu-label,
    .title-text {
      color: $gray-500;
    }
  }

  .options-menu-label {
    display: block;
    color: $gray-300;
    margin-top: 7px;
  }
}
