@import 'styles/settings';

.c-edit-filter {
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;

  .edit-title {
    .edit-subtitle {
      margin: 0 0 0 5px;
    }
  }

  .edit-button {
    display: none;
  }

  @media screen and (min-width: $breakpoint-tool-bar) {
    .edit-title {
      margin: 0 12px 0 0;
    }

    .edit-button {
      display: inline-flex;
    }
  }
}
