@import '../../../../../styles/settings';

.c-edit-filter {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;

  .edit-title {
    margin: 0 12px 0 0;

    .edit-subtitle {
      margin: 0 0 0 5px;
    }
  }
}
