@import 'styles/settings';

.c-top-cards {
  position: absolute;
  width: 100%;
  bottom: 0;

  .top-cards-title {
    display: inline;
    margin-right: 20px;
  }

  .top-cards-container {
    margin-top: 5px;
    background-color: $mid-light-gray;
    width: 100%;
    height: 120px;
    overflow: hidden;
  }

  .back-button {
    cursor: pointer;
  }
}

.animated-card {
  margin: 10px 0 20px;
}

.c-top-card {
  height: 100px;
  width: 100%;
  border-radius: 5px;
  background-color: $white;
  cursor: pointer;
}