@import 'styles/settings';

.tooltip-react-icon {
  opacity: .3;
  font-size: 12px;
}

.c-help-tooltip {
  &.size-rg {
    .tooltip-react-icon {
      font-size: initial;
    }
  }

  &.size-sm {
    font-size: $font-size-regular;
  }

  @media print {
    display: none;
  }
}
