@import 'styles/settings';

.c-title-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;

  &.-sticky {
    margin-top: initial;
  }

  .title-group-element-container {
    display: inline-flex;
    margin-bottom: 10px;

    &:not(:last-child) {
      margin-right: 40px;
    }

    @media screen and (max-width: $breakpoint-foundation-small) {
      &:first-child {
        width: 100%;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .title-group-element {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}
