@import 'styles/settings';

.c-simple-modal {
  position: absolute;
  background: transparent;
  z-index: $z-above-veil;
  overflow: hidden;
  outline: none;
  max-height: calc(100% - 40px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;

  .simple-modal-content {
    position: relative;
    background-color: $light-gray;
    pointer-events: all;

    .simple-modal-close {
      position: absolute;
      top: 20px;
      right: 30px;
      z-index: $z-above;

      button {
        cursor: pointer;
        display: flex;
        align-items: center;

        span {
          font-family: $font-family-1;
          font-size: $font-size-x-regular;
          padding-right: 8px;
          letter-spacing: $letter-spacing-x-narrow;
          text-align: center;
          color: $gray-500;
          font-weight: $font-weight-bold;
          vertical-align: bottom;
          text-transform: uppercase;
        }

        svg {
          display: block;
          width: 9px;
          height: 9px;
        }
      }
    }
  }
}

.c-simple-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba($main-dark-blue, 0.9);
  z-index: $z-veil;
}

.ReactModal__Body--open {
  overflow: hidden;
}
