@import 'styles/settings';

.c-legacy-explore {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - #{$nav-height});
  background-color: $light-gray;
  padding: 30px 0;

  @media screen and (min-width: $breakpoint-foundation-small) {
    justify-content: center;
  }

  > .row {
    width: 100%;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}

.explore-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;

  &.-right {
    align-items: flex-end;
  }
}

.explore-map-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex: 1;
}

.sentence-selector-container {
  min-height: 74px;
}

.explore-map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  margin: 15px -1.25rem 0 -1.25rem;
  width: 100%;

  &.-loading {
    background-color: $charcoal-grey-faded-a-lot;
    border-radius: 4px;

    .explore-world-map {
      visibility: hidden;
    }
  }


  @media screen and (min-width: $breakpoint-foundation-small) {
    margin: 15px 0 0 0;
  }
}

.explore-table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  .explore-table-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .c-dropdown {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &.-uppercase-title {
      .dropdown-title {
        text-transform: uppercase;
      }
    }

    &.table-unit-dropdown {
      .dropdown-list {
        transform: translateX(-50%);
      }
    }

    .dropdown-title {
      font-family: $font-family-1;
      font-size: 13px;
      letter-spacing: -0.6px;
      padding-right: 15px;
      margin: 0 0 25px;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        border-color: $strong-pink;
        transform: translateY(-1px) rotate(45deg);
      }
    }

    .dropdown-list {
      top: 15px;
      > .dropdown-item {
        color: $charcoal-grey;
        font-size: 13px;
      }
    }
  }

  .explore-table-fallback {

    * {
      color: $charcoal-grey;
      font-family: $font-family-2;
      font-size: $font-size-xx-regular;
      line-height: 2;
    }

    &-button {
      font-weight: $font-weight-bold;
      cursor: pointer;
    }

  }
}

.explore-footer-text {
  font-family: $font-family-2;
  font-size: 12px;
  font-weight: $font-weight-light;
  line-height: 1.3;
  color: $charcoal-grey-faded;
  padding-bottom: 13px;
  margin-top: 15px;
  text-align: center;

  @media screen and (min-width: $breakpoint-foundation-small) {
    text-align: left;
  }
}

.explore-footer-button-container {
  text-align: center;

  @media screen and (min-width: $breakpoint-foundation-small) {
    text-align: right;
  }

  .explore-footer-fake-button {
    display: inline-block;
    padding: 16px 24px 13px;
    border-radius: 4px;
    border-color: transparent;
    background-color: $gray;
    color: $charcoal-grey;
    line-height: 1.3;
    text-align: center;
    white-space: normal;
    text-transform: uppercase;

    @media screen and (min-width: $breakpoint-foundation-medium) {
      display: none;
    }
  }

  .explore-link-to-tool {
    display: none;
    @media screen and (min-width: $breakpoint-foundation-medium) {
      display: inline-flex;
    }
  }
}
