
.l-about {
  position: relative;
  padding: 88px 0 104px ;
  background-color: $egg-shell;

  > .wrap {
    position: relative;

    > .c-anchor-list {
      position: absolute;
      top: 80px;
      width: $anchor-list-max-width;
    }

    .title {
      margin: 0 0 16px;

      &:not(:first-child) {
        margin: 56px 0 16px;
      }
    }

    > .content {
      max-width: $content-max-width;
      margin: 0 0 0 $content-width;

      h2.-anchor::before {
        content:"";
        display:block;
        height:90px; /* fixed header height*/
        margin:-90px 0 0; /* negative fixed header height */
      }

      ul {
        margin: 32px 0;
        padding-left: 24px;
      }

      > .logo-list {
        display: flex;
        align-items: center;
        margin: 24px 0;

        > .logo-item {
          display: inline-block;

          & + .logo-item {
            margin: 0 0 0 50px;
          }

          &.-sei > a > img {
            width: 167px;
            height: 30px;
          }

          &.-gcp > a > img {
            width: 170px;
          }

          &.-vizzuality > a > img {
            width: 119px;
            height: 29px;
          }

          &.-efi > a > img {
            width: 72px;
            height: 78px;
          }

          &.-nature-conservancy > a > img {
            width: 131px;
            height: 38px;
          }

          &.-moore > a > img {
            width: 117px;
            height: 47px;
          }

          &.-formas > a > img {
            width: 53px;
            height: 86px;
          }

          &.-dfid > a > img {
            width: 108px;
            height: 75px;
          }

          &.-european-union > a > img {
            width: 81px;
            height: 51px;
          }

          &.-uk > a > img {
            width: 51px;
            height: 56px;
          }

          &.-sida > a > img {
            width: 116px;
            height: 46px;
          }

        }
      }
    }
  }
}
