@import 'styles/settings';

$medium-line-chart-width: 490px;
$large-line-chart-width: 840px;

.l-profile-actor {
  position: relative;
  min-height: 100vh;
  padding-top: calc(44px + #{$nav-height});
  background-color: $green-100;

  &.-error {
    position: relative;
    min-height: 100vh;
  }

  @media print {
    padding: 0;
    background-color: $white;

    .c-dropdown-component {
      .dropdown-selected-item::after {
        content: none;
      }
    }

    .c-tabs {
      .tab {
        display: none;
      }
    }
  }

  section:nth-of-type(2n-1) {
    background-color: rgba($white, 0.3);
  }

  .top-logo {
    display: none;
    margin-bottom: 30px;

    @media print {
      display: block;
    }
  }

  .c-overall-info {
    .stat-item {
      .value {
        margin-top: 5px;

        .icon {
          width: 16px;
          height: 17px;
          margin-left: 0;
          margin-top: 5px;
        }
      }
    }

    .forest-500-score {
      .icon:not(:last-child) {
        margin-right: 6px;
      }
    }

    .icon-check-circle {
      margin-left: 0 0 0 5px;
    }

    .stats-text {
      margin-left: 5px;
      vertical-align: text-top;
    }
  }

  .c-links-widget {
    padding-top: 40px;
    padding-bottom: 40px;

    .links-widget-title {
      margin-bottom: 20px;
    }

    @media print {
      display: none;
    }
  }

  .c-top-map,
  .c-top-municipalities {
    padding: 52px 0;

    .title {
      margin-bottom: 10px;
    }

    @media print {
      padding: 20px 0;

      > .row:first-child {
        align-items: center;
      }
    }

    @media (min-width: $breakpoint-foundation-small) and (max-width: $breakpoint-foundation-medium) {
      > .row .columns:not(:last-child) {
        padding-right: 0;
      }
    }
  }

  .legend-title {
    display: inline;
    text-transform: uppercase;
    color: $main-dark-blue;
  }

  .legend-unit {
    display: inline;
  }

  .c-top-municipalities {
    .top-destinations-map-container {
      overflow: hidden;
      max-width: 100%;

      svg {
        @media print {
          margin-left: 0;
        }
      }
    }
  }

  .top-destinations-map-widget {
    display: none;
    @media screen and (min-width: $breakpoint-foundation-small) {
      display: block;
    }

    @media print {
      display: block;
    }
  }

  .title {
    margin: 0 0 24px;

    font-family: $font-family-1;
    font-weight: $font-weight-bold;
    letter-spacing: -0.6px;
  }

  .municipalities-table,
  .biome-table {
    margin: 24px 0 0;
  }

  .tooltip-react {
    width: 15px;
    height: 15px;

    .tooltip-react-icon {
      width: 15px;
      height: 15px;
      vertical-align: text-bottom;
    }
  }

  .c-dropdown {
    align-items: flex-start;
  }

  .top-destinations-chart-container,
  .top-destinations-chart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .top-destinations-chart-container {
    height: 100%;
    padding: 0 0 60px;

    @media screen and (min-width: $medium-line-chart-width) and (max-width: $breakpoint-foundation-small) {
      padding: 0;
    }

    @media screen and (min-width: $large-line-chart-width) {
      padding: 0;
    }
  }

  .section-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
  }
}
