@import 'styles/settings';

$small-line-chart-width: 840px;

.l-profile-actor {
  position: relative;
  min-height: 100vh;
  padding-top: calc(44px + #{$nav-height});
  background-color: $egg-shell;
  line-height: 1.5;

  &.-error {
    position: relative;
    min-height: 100vh;
  }

  @media print {
    padding: 0;
    background-color: $white;
  }

  section:nth-of-type(2n-1) {
    background-color: rgba($white, 0.3);
  }

  .top-logo {
    display: none;
    margin-bottom: 30px;

    @media print {
      display: block;
    }
  }

  .c-overall-info {

    .stat-item {
      .value {
        .icon {
          width: 16px;
          height: 17px;
          margin-top: 5px;
        }
      }
    }

    .forest-500-score {
      font-size: 0!important;

      .icon:not(:last-child) {
        margin-right: 4px;
      }
    }
  }

  .c-button-links {
    padding: 49px 0 46px;

    @media print {
      display: none;
    }

    @media screen and (min-width: $breakpoint-foundation-small)
                  and (max-width: $breakpoint-foundation-medium) {
      > .row .columns:not(:last-child) {
        padding-right: 0;
      }
    }
  }

  .c-area-table {
    @media print {
      .tab-switcher-title {
        font-size: $font-size-xx-regular;
      }
    }
  }

  .c-top-map,
  .c-top-municipalities {
    padding: 52px 0;

    .title {
      margin-bottom: 10px;
    }

    @media print {
      padding: 20px 0;

      > .row:first-child {
        align-items: center;
      }
    }

    @media (min-width: $breakpoint-foundation-small)
       and (max-width: $breakpoint-foundation-medium) {
      > .row .columns:not(:last-child) {
        padding-right: 0;
      }
    }
  }

  .c-top-municipalities {

    .top-destinations-map-container {
      overflow: hidden;
      max-width: 100%;

      svg {
        @media print {
          margin-left: 0;
        }
      }
    }
  }

  .top-destinations-map-widget {
    display: none;
    @media screen and (min-width: $breakpoint-foundation-small) {
      display: block;
    }

    @media print {
      display: block;
    }
  }

  .title {
    margin: 0 0 24px;

    font-family: $font-family-1;
    font-weight: $font-weight-bold;
    letter-spacing: -.6px;
    text-transform: uppercase;
  }

  .municipalities-table,
  .biome-table {
    margin: 24px 0 0;
  }

  .tooltip-react {
    width: 15px;
    height: 15px;

    .tooltip-react-icon {
      width: 15px;
      height: 15px;
      vertical-align: text-bottom;
    }
  }

  .c-dropdown {
    align-items: flex-start;
  }

  .top-destinations-chart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @media screen and (min-width: $small-line-chart-width) {
      padding: 0 0 60px;
    }
  }

  .spinner-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
  }
}
