@import '../settings';

.l-profile-place {
  position: relative;
  min-height: calc(100vh - #{$nav-height});
  padding-top: 54px;
  background-color: $egg-shell;

  section:nth-of-type(2n-1) {
    background-color: rgba($white, 0.3);
  }

  &.-error {
    position: relative;
    min-height: calc(100vh - #{$nav-height});

    .c-error-message {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .c-overall-map {

    > .map-list {
      display: flex;
    }

    > .map-list > .map-item {
      display: flex;
      flex-basis: calc(100% / 3);
      align-items: center;
    }
  }

  .c-overall-info {
    margin-top: 47px;
  }

  .c-anchor-buttons {
    padding: 49px 0 46px;
  }

  .title {
    font-family: $font-family-1;
    font-weight: $font-weight-bold;
    letter-spacing: -.6px;
    text-transform: uppercase;
  }

  .deforestation, .chords-container, .mini-sankey-container {
    padding: 53px 0 51px;
  }

  .deforestation {
    .c-line {
      margin-top: 15px;
    }
  }

  .score-table {
    padding: 54px 0 42px 0;
  }
}

