@import '../settings';

.l-terms-of-use {
  position: relative;
  padding: 88px 0 104px ;
  background-color: $egg-shell;

  .title {
    margin: 0 0 16px;

    &:not(:first-child) {
      margin: 56px 0 16px;
    }
  }

  .content {
    width: 60%;
    max-width: $content-max-width;
    margin: 0 auto 40px;
  }
}
