@import 'styles/settings';

.l-tool {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .tool-nav-right-column {
    display: flex;
  }

  .sankey-veil {
    z-index: $z-above;
    left: $layer-map-width;
    height: calc(100% - 62px);
  }

  .sankey-inner-veil {
    top: 48px;
    left: $map-width + $layer-map-width;
  }
}
