@import 'styles/settings';

.c-hero {
  position: relative;
  height: 600px;
  background-color: $charcoal-grey;

  &.-read-only {
    height: 400px;
    overflow: hidden;

    @media screen and (max-width: $breakpoint-foundation-small) {
      height: 190px;
    }
  }

  @media screen and (max-width: $breakpoint-foundation-small) {
    height: 360px;
  }

  .responsive-container {
    position: absolute;
    top: 0;
  }

  > .row {
    height: 100%;
    position: relative;

    @media screen and (max-width: $breakpoint-foundation-small) {
      padding-top: 50px;
    }
  }
}
