.c-logistics-map-download {
  margin: 0 auto;
  > * {
    margin: 0 0 15px 0;
  }

  .heading-container {
    display: flex;
    align-items: baseline;
    margin: 0 0 25px;

    h3 {
      margin: 0 10px 0 0;
    }

    .methods-link {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .logistics-map-download-link {
    width: 100%;
    margin: 0 0 20px 0;
  }
}
