@import 'styles/settings';

.recolor-by-item-legend-summary {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  > .color {
    flex-grow: 1;
    height: 5px;

    @each $name, $color in $recolorby-colors {
      &.-#{$name} {
        background-color: #{$color};
      }
    }

    @each $name, $color in $recolorgroup-colors {
      &.-#{$name} {
        background-color: #{$color};
      }
    }
  }
}
