@import 'styles/settings';
@import 'styles/mixins';

.c-tool-modal-button {
  height: 100%;
  padding: 0 20px;
  margin-right: 20px;
  border-left: 1px solid $charcoal-grey-faded-a-lot;
  position: relative;
  max-width: 16vh;
  cursor: pointer;

  &[disabled=""] {
    cursor: default;
  }

  .selected-item {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.-with-arrow {
      @include simple-arrow($charcoal-grey-faded);

      &:after {
        top: calc(50% + 10px);
      }
    }
  }
}
