<button class="user-report-feedback" onclick="_urq.push(['Feedback_Open']);">
  <svg class="icon" viewBox="0 0 32 32">
    <title>feedback</title>
    <path d="M16.667 0c-6.267 0-11.333 5.067-11.333 11.333s5.067 11.333 11.333 11.333c6.267 0 11.333-5.067 11.333-11.333s-5.067-11.333-11.333-11.333zM17.333 21.333v-4.4l0.8 0.8c0.133 0.133 0.267 0.133 0.533 0.133s0.4 0 0.533-0.133l2-2c0.267-0.267 0.267-0.667 0-0.933s-0.667-0.267-0.933 0l-1.6 1.6-1.467-1.467c0 0-0.133-0.133-0.267-0.133-0.133-0.133-0.4-0.133-0.533 0-0.133 0-0.133 0.133-0.267 0.133l-1.467 1.467-1.2-1.2c-0.267-0.267-0.667-0.267-0.933 0s-0.267 0.667 0 0.933l1.6 1.6c0.267 0.267 0.667 0.267 0.933 0l0.8-0.8v4.4c-5.2-0.4-9.333-4.667-9.333-10 0-5.467 4.533-10 10-10s10 4.533 10 10c0.133 5.333-4 9.6-9.2 10z"></path>
    <path d="M20 24h-6.667c-0.4 0-0.667 0.267-0.667 0.667s0.267 0.667 0.667 0.667h6.667c0.4 0 0.667-0.267 0.667-0.667s-0.267-0.667-0.667-0.667z"></path>
    <path d="M20 26.667h-6.667c-0.4 0-0.667 0.267-0.667 0.667s0.267 0.667 0.667 0.667h6.667c0.4 0 0.667-0.267 0.667-0.667s-0.267-0.667-0.667-0.667z"></path>
    <path d="M20 29.333h-6.667c-0.4 0-0.667 0.267-0.667 0.667s0.267 0.667 0.667 0.667h2.667v0.667c0 0.4 0.267 0.667 0.667 0.667s0.667-0.267 0.667-0.667v-0.667h2.667c0.4 0 0.667-0.267 0.667-0.667s-0.267-0.667-0.667-0.667z"></path>
  </svg>
  <span class="feedback-label">Feedback</span>
</button>