<div class="c-nav-tool">
  <div class="row">
    <div class="small-12 columns">
      <div class="app-nav-container">
        <div class="nav-item js-toggle-menu -no-offset">
          <div class="c-burger js-burger">
            <span class="ingredient"></span>
            <span class="ingredient"></span>
            <span class="ingredient"></span>
          </div>
        </div>
        <div class="app-nav">
          <nav>
            <div class="left-side">
              <div class="nav-item -no-offset">
                <a data-route="home" class="nav-link js-nav-link">HOME</a>
              </div>
              <div class="nav-item -selected">
                <a data-route="tool" class="nav-link js-nav-link">SUPPLY CHAIN</a>
              </div>
              <div class="nav-item">
                <a data-route="profileRoot" class="nav-link js-nav-link">PROFILES</a>
              </div>
              <div class="nav-item">
                <a data-route="data" class="nav-link js-nav-link">DOWNLOAD</a>
              </div>
              <div class="nav-item">
                <a data-route="about" class="nav-link js-nav-link">ABOUT</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="tool-nav" id="js-tool-nav-react"></div>
      <div class="tool-nav-right-column">
        <div class="tool-locale-selector nav-item" id="js-locale-selector-react"></div>
        <div id="js-search-react"></div>
      </div>
    </div>
  </div>
</div>
<div class="c-nav-spacer"></div>
