<div class="c-nav">
  <div class="row">
    <div class="small-12 columns">
      <div class="nav-item js-toggle-menu -no-offset">
        <div class="burger">
          <span class="ingredient"></span>
          <span class="ingredient"></span>
          <span class="ingredient"></span>
        </div>
      </div>
      <div class="app-nav">
        <nav>
          <div class="left-side">
            <div class="nav-item -no-offset">
              <a href="/" class="nav-link">HOME</a>
            </div>
            <div class="nav-item -selected">
              <a href="/flows" class="nav-link">TOOL</a>
            </div>
            <div class="nav-item -has-menu">
              <a href="/profiles" class="nav-link">PROFILES</a>
            </div>
            <div class="nav-item -has-menu">
              <a href="/about.html" class="nav-link">ABOUT</a>
              <ul class="nav-submenu">
                <li class="nav-submenu-item">
                  <a href="/terms-of-use" class="nav-link">TERMS OF USE</a>
                </li>
                <li class="nav-submenu-item">
                  <a href="/data-methods" class="nav-link">DATA AND METHODS</a>
                </li>
                <li class="nav-submenu-item">
                  <a href="/FAQ" class="nav-link">FAQ</a>
                </li>
              </ul>
            </div>
            <div class="nav-item">
              <a href="/data" class="nav-link">DATA</a>
            </div>
          </div>
        </nav>
      </div>
      <div class="tool-nav" id="js-tool-nav-react"></div>
      <div id="js-search-react">
        <!-- react -->
      </div>
    </div>
  </div>
</div>
<div class="c-nav-spacer"></div>
