<div class="c-search js-search is-hidden">
  <input class="js-search-input" id="search-input" placeholder="Search a producer, trader or country of import" />
  <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
  <div class="c-search__veil js-close-search"></div>
</div>
