@import 'styles/settings';

$width-small: 30px;
$width-large: 60px;

.-is-legacy-browser .c-shrinking-spinner {
  display: block;
  margin: 0;
  transform: translateY(30px);
}

.c-shrinking-spinner {
  position: relative;
  margin: 0 auto;
  width: $width-small;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &.-large {
    width: $width-large;
  }

  &.-dark {
    .shrinking-spinner-circle {
      stroke: $charcoal-grey;
    }
  }

  &.-white {
    .shrinking-spinner-circle {
      stroke: $white;
    }
  }
}

.shrinking-spinner-circle-container {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.shrinking-spinner-circle {
  stroke: $charcoal-grey-faded;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
