@import 'styles/settings';

.c-logistics-map {
  height: 100%;


  .leaflet-popup-content-wrapper {
    background: transparent;
    box-shadow: none;
  }

  .leaflet-popup-tip-container {
    display: none;
  }

  .leaflet-popup-close-button {
    display: none;
  }

  .wri_api__c-map-controls {
    left: 16px;
    right: initial;
    z-index: $z-above-veil-below-nav;
  }

  .wri_api__c-zoom-control .wri_api__zoom-control-btn {
    cursor: pointer;
    width: 30px;
    height: 30px;

    &:active {
      background-color: darken($white, 7%);
    }
  }
}
