@import 'styles/settings';
.c-sentence-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px 0 25px;

  .sentence-selector-text {
    color: $charcoal-grey;
    text-align: center;
    font-size: $font-size-xxx-regular;
    font-family: $font-family-2;
    font-weight: 300;
    line-height: 1.58;

    &.-nowrap {
      white-space: nowrap;
    }

    @media screen and (min-width: $breakpoint-foundation-small) {
      font-size: $font-size-medium;
    }

    @media screen and (min-width: $breakpoint-foundation-medium) {
      font-size: $font-size-big;
    }
  }

  .c-dropdown {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;

    @media screen and (min-width: $breakpoint-foundation-small) {
      margin: 0 7px;
    }

    .dropdown-title {
      text-align: center;
      padding: 0 18px 0 0;
      font-size: $font-size-xxx-regular;

      @media screen and (min-width: $breakpoint-foundation-small) {
        padding: 0 21px 0 0;
        font-size: $font-size-medium;
      }

      @media screen and (min-width: $breakpoint-foundation-medium) {
        padding: 0 23px 0 0;
        font-size: $font-size-big;
      }
    }

    .dropdown-title::after {
      position: absolute;
      top: 50%;
      right: 0;
      border-color: $strong-pink;
      transform: translate(-50%, calc(-50% - 1px)) rotate(45deg)
    }

    .dropdown-list {
      top: 1.5em;
      min-width: 120px;

      > .dropdown-item {
        color: $charcoal-grey;
        font-size: $font-size-xx-regular;
      }
    }
  }
}
