@import 'styles/settings';

.c-ranking-widget {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 42px 10px 0px 20px;

  .list {
    width: 100%;
  }

  .list-row {
    margin: 0 0 25px 0;

    &:last-child {
      margin: 0;
    }
  }

  .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  a {
    color: $charcoal-grey;

    &:hover {
      .item-name {
        text-decoration: underline;
      }
    }
  }

  .item-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 56px;
  }

  .item-name {
    line-height: 1.2;
    max-height: 100%;
  }

  .item-value {
    min-width: 185px;
    margin-left: 10px;
    flex-shrink: 0;
  }

  .item-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: $strong-pink;
    color: $white;
    border-radius: 100%;
    margin: 0 10px 0 0;
    flex-shrink: 0;

    .item-number {
      transform: translateY(-1px);
    }
  }
}
