@import 'styles/settings';

.c-popup {
  .popup-content {
    padding: 40px;
    z-index: $z-above-hero;
    background-color: white;
    width: 100%;
    text-align: center;
  }

  .description {
    margin: 20px 0;
  }

  .link {
    text-decoration: underline;
    cursor: pointer;
  }

  .button {
    margin-top: 30px;
  }
}

.popup-overlay {
  background-color: rgba($main-dark-blue, 0.4);
}