@import 'styles/settings';
@import 'styles/mixins';

.c-link-cards-list {
  margin: 30px 20px;
  display: flex;
  flex-wrap: wrap;
}

.c-link-card {
  background-color: $white;
  border-left: 3px solid $orange-500;
  width: 243px;
  min-height: 100px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  padding: 13px 30px 15px 33px;
  box-shadow: $box-shadow;
  margin: 0 20px 30px 0;
  text-decoration: none !important;

  .title {
    line-height: $line-height-md !important;
  }

  .round-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $orange-500;
    color: $light-gray;
  }

  .icon-pdf-arrow {
    position: relative;
    top: -4px;
    left: -9px;
    transform: rotate(-90deg);

    @include simple-arrow($white);
  }
}

.view-pdf-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
