@import '../styles/_reset.scss';
@import '../styles/_settings.scss';

.dark-container {
  background-color: $charcoal-grey;
  padding: 2px;
  margin-bottom: 2px;
}

.components-container {
  margin: 0 0 15px 0;

  &.-spaced {
    > * {
      margin: 0 10px 10px 0;
      &:last-child {
        margin: 0;
      }
    }
  }

  &.-width-200 {
    width: 200px;
  }
}

.chart-container {
  background-color: $charcoal-dark;
  width: 524px;
  padding: 30px;
}