.c-explore {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: $light-gray;
  padding: 30px;

  .subtitle {
    font-weight: $font-weight-bold;
  }
}

.explore-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.explore-map-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.explore-map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  > svg {
    transform: translateY(45px);
  }

  &.-small {
    height: 315px;
  }
}

.explore-table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;

  .dropdown-title {
    font-family: $font-family-1;
    font-size: 13px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    padding-right: 15px;
    margin: 0 0 25px;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      border-color: $strong-pink;
      transform: translateY(-1px) rotate(45deg);
    }
  }

  .dropdown-list {
    top: 15px;
    > .dropdown-item {
      color: $charcoal-grey;
      font-size: 13px;
      padding: 5px 12px;
    }
  }
}

.explore-footer-text {
  font-family: $font-family-2;
  font-size: 12px;
  font-weight: $font-weight-light;
  line-height: 1;
  color: $charcoal-grey-faded;
  padding-bottom: 13px;
}

.explore-footer-button {
  margin: 30px 0 0;
}
