@import 'styles/settings';

.c-footer {
  .row {
    max-width: none;
    padding: 0;

    @media screen and (min-width: $breakpoint-tablet) {
      padding: 0 40px;
    }
  }

  position: relative;
  z-index: $z-above;
  padding: 48px 0 36px;
  bottom: 0;
  background-color: $gray-500;
  font-family: $font-family-1;

  .section-separator {
    border-top: 1px solid $gray-400;
    margin: 50px 0 30px;
  }

  .footer-high {
    justify-content: space-between;
    flex-direction: column;

    @media screen and (min-width: $breakpoint-foundation-medium) {
      flex-direction: row;
    }
  }

  .footer-low {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin: 0 30px;
    flex-direction: column;


    @media screen and (min-width: $breakpoint-foundation-medium) {
      margin: 0;
      flex-direction: row;
      align-items: flex-end;
    }
  }

  .main-footer {
    margin: 0 30px 30px;

    @media screen and (min-width: $breakpoint-foundation-medium) {
      max-width: 395px;
      margin: 0;
    }
  }

  .footer-menu {
    display: flex;
    margin-right: 30px;

    @media screen and (min-width: $breakpoint-desktop) {
      flex: 1;
      justify-content: space-evenly;
      max-width: 700px;
      margin-right: 70px;
      margin-left: 30px;
    }
  }

  .footer-menu-item {
    margin-left: 30px;
    margin-bottom: 15px;

    &:not(:first-child) {
      margin-left: 20px;
    }

    @media screen and (min-width: $breakpoint-foundation-medium) {
      &:not(:first-child) {
        margin-left: 70px;
      }
    }
  }

  .sign-up {
    margin: 30px 30px 0;
    flex: 1;

    @media screen and (min-width: $breakpoint-foundation-medium) {
      margin: 30px 0 0;
      max-width: 235px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
      margin: 0;
    }
  }

  .sign-up-title {
    font-size: $font-size-xx-regular;
    font-weight: $font-weight-bold;
    color: $green-200;
    margin-bottom: 15px;
  }

  .logo-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
    max-width: 400px;
    min-width: 300px;


    .logo-item {
      width: 50%;
    }

    @media screen and (min-width: $breakpoint-foundation-medium) {
      flex-direction: row;
      align-items: center;
    }
  }

  .logo-item {
    margin: 0 0 30px 0;

    &.donor-logo {
      margin-left: 0;

      @media screen and (min-width: $breakpoint-foundation-medium) {
        margin-left: 20px;
      }
    }

    &:first-child {
      margin-right: 24px;
    }

    @media screen and (min-width: $breakpoint-foundation-medium) {
      margin: 0;

      &:first-child {
        margin: 0;
      }
    }
  }

  .partnership-text {
    color: $green-200;
    font-size: $font-size-regular;
    line-height: $line-height-md;

    &.presentation {
      margin-bottom: 20px;
    }

    .partnership-link {
      color: $green-200;
      text-decoration: underline;
    }
  }

  .contain-logos-footer {
    display: flex;
    width: 100%;
  }

  .logo-list-container {
    @media screen and (min-width: 880px) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    @media screen and (min-width: $breakpoint-foundation-medium) {
      display: block;
    }
  }

  .link-list-container {
    flex: 1;
    color: $green-200;
    margin-bottom: 20px;

    @media screen and (min-width: $breakpoint-foundation-medium) {
      margin: 0;

      > :first-child {
        margin-bottom: 6px;
      }
    }
  }

  .donors-logos-container {
    flex: 1;
  }

  .donors-logos {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    @media screen and (min-width: $breakpoint-foundation-medium) {
      flex-direction: row;
      margin: 0;
      align-items: flex-end;

      :not(:last-child) {
        margin-right: 36px;
      }
    }
  }

  .social-link {
    .contact-image {
      width: 38px;
    }
  }

  .social-links-list {
    display: flex;
    color: $green-200;
    margin-bottom: 10px;

    @media screen and (min-width: $breakpoint-foundation-medium) {
      margin-bottom: 0;
    }

    :not(:last-child) {
      margin-right: 8px;
    }
  }

  .separator {
    display: inline-flex;
    align-items: center;
    margin: 0 16px;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
  }

  .links-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .privacy-menu-link {
    color: $green-200;
    font-size: $font-size-x-regular;
    font-weight: $font-weight-bold;
  }

  .menu-title {
    color: $white;
    font-weight: $font-weight-bold;
    font-size: $font-size-xx-regular;
    line-height: $line-height-md;
    margin-bottom: 6px;
  }

  .menu-link {
    display: block;
    color: $white;
    font-size: $font-size-regular;
    line-height: $line-height-md;
    margin-bottom: 5px;
  }

  .gcp-logo img {
    transform: translate(0px, -10px);
    width: 100%;
  }

  .moore-logo img {
    width: 108px;
  }

  .nicfi-logo img {
    width: 200px;
  }

  .ggp-logo img {
    width: 122px;
  }

  .quadrature-logo img {
    width: 185px;
    transform: translate(0px, -4px);
  }
}
