@import 'styles/settings';

.c-footer {
  position: relative;
  z-index: $z-above;
  padding: 48px 0 56px;
  bottom: 0;
  background-color: $light-gray;

  .contain-logos-footer {
    overflow: hidden;

    .contain-logos {
      width: 100%;

      > .title {
        margin: 0 0 32px;
        color: $charcoal-grey;
      }

      .logo-list-container {
        @media screen and (min-width: 880px) {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        @media screen and (min-width: $breakpoint-foundation-medium) {
          display: block;
        }
      }

      .logo-list {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 75px;
        flex-wrap: wrap;

        &:not(:first-of-type) {
          margin: 16px 0 0;
        }

        @media screen and (min-width: 880px) {
          &:not(:first-child) {
            margin: 0 0 0 35px;
          }
        }

        @media screen and (min-width: $breakpoint-foundation-medium) {
          justify-content: flex-start;

          &:not(:first-child) {
            margin: 16px 0 0;
          }
        }


        .logo-item {
          display: inline-block;

          &:not(:first-child) {
            margin: 0 0 0 45px;
          }

          @media screen and (min-width: 880px) {
            &:not(:first-child) {
              margin: 0 0 0 35px;
            }
          }

          @media screen and (min-width: $breakpoint-foundation-medium) {
            &:not(:first-child) {
              margin: 0 0 0 45px;
            }
          }

          &.sei-logo > a > img {
            width: 112px;
          }

          &.gcp-logo > a > img {
            width: 170px;
          }

          &.vizzuality-logo > a > img {
            width: 116px;
          }

          &.efi-logo > a > img {
            width: 64px;
          }

          &.wwf-logo > a > img {
            width: 50px;
          }

          &.gef-logo > a > img {
            width: 57px;
          }

          &.eustars-logo > a > img {
            width: 80px;
          }

          &.ukaidsv-logo > a > img {
            width: 48px;
          }

          &.conservancy-logo > a > img {
            width: 120px;
          }

          &.formas-logo > a > img {
            width: 40px;
          }

          &.moore-logo > a > img {
            width: 104px;
          }

          &.nicfi-logo > a > img {
            width: 116px;
          }
        }
      }

      > .contain-text {
        margin: 16px 0 0;

        > p {
          color: rgba($charcoal-grey, .5);
        }
      }
    }
  }

  .contain-link-list {
    margin-top: 54px;
    overflow: hidden;

    .links-list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .separator {
        display: inline-flex;
        align-items: center;
        margin: 0 8px;

        color: $charcoal-grey;
      }

      .link-item {
        flex-shrink: 0;
      }
    }
  }
}
