@import 'styles/settings';

.c-profile-panel {
  width: 560px;

  @media screen and (min-width: $breakpoint-tablet) {
    width: 1000px;
  }

  padding: 30px 0;

  .profile-panel-switch {
    margin-top: 20px;
  }
}