@import 'styles/settings';

.c-profile-panel-footer {
  border-top: 1px solid $medium-gray;
  padding: 20px 0 20px;
  margin-bottom: 20px;
  text-align: center;

  .profile-panel-footer-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }

  .profile-panel-back-button {
    border: 0;
    padding: 15px 20px;
    color: $charcoal-grey;
    font-family: $font-family-1;
    text-transform: uppercase;
    cursor: pointer;
  }
}