@import 'styles/settings';

.c-profile-panel {
  width: 560px;

  @media screen and (min-width: $breakpoint-laptop) {
    width: 1000px;
  }

  padding: 30px 0 0;

  .profile-panel-content {
    margin-top: 20px;
    padding: 20px 35px 0;
    justify-content: center;
  }
}