@import 'styles/settings';

.c-dashboard-widget-tooltip {
  position: absolute;
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  z-index: $z-tooltip;
  box-shadow: $box-shadow-big;
  background-color: $white;
  font-family: $font-family-1;
  pointer-events: none;
  color: $charcoal-grey;


  .dashboard-widget-tooltip-header {
    font-size: $font-size-regular;
    line-height: 1;
    letter-spacing: -0.6px;
    min-height: 32px;
    padding: 12px 8px;
    background-color: $egg-shell;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dashboard-widget-tooltip-item {
    padding: 10px 8px;

    &:not(:last-child) {
      border-bottom: 1px solid $metal-grey;
    }
  }

  .dashboard-widget-tooltip-value-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
  }

  .dashboard-widget-tooltip-color-dot {
    display: inline-block;
    flex-shrink: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .dashboard-widget-tooltip-label {
    max-width: 250px;
  }
}


