@import 'activeadmin_addons/all';
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}

#index_table_posts .col-url {
  word-break: break-all;
}
#index_table_posts .col-date {
  min-width: 100px;
}

@import 'active_admin/simplemde';
@import 'activeadmin_sortable_table';

#index_table_resize_by_attributes .col-resize_by_property {
  max-width: 10em;
  word-wrap: break-word;
}

#index_table_resize_by_attributes .col-tooltip_text {
  min-width: 20em;
}

#index_table_recolor_by_attributes .col-recolor_by_property {
  max-width: 10em;
  word-wrap: break-word;
}

#index_table_recolor_by_attributes .col-tooltip_text {
  min-width: 20em;
}

.best_in_place_activator {
  cursor: pointer;
}
