@import 'styles/settings';

.c-tool-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: $nav-height 0 0;
  width: 100%;
  height: $tool-bar-height;
  background-color: $charcoal-grey;

  &.-no-margin {
    margin: 0;
  }

  .slot {
    display: flex;
    align-items: center;
    height: 100%;

    .slot-item {
      height: 100%;

      > * {
        padding: 0 24px;
      }

      &:hover {
        background-color: $carbon-gray;

        &.-no-hover {
          background-color: transparent;
        }
      }
    }

    &:first-child {
      justify-content: flex-start;

      .slot-item {
        border-right: 1px solid rgba($white, 0.4);

        &:first-child {
          border-left: 0;

          > * {
            padding: 0 24px 0 40px;
          }
        }
      }
    }

    &:last-child {
      justify-content: flex-end;

      .slot-item {
        border-left: 1px solid rgba($white, 0.4);

        &:last-child {
          border-right: 0;

          > * {
            padding: 0 40px 0 24px;
          }
        }

        &:only-child {
          border: 0;
        }
      }
    }
  }

  .toolbar-tooltip {
    padding: 6px 10px;
    margin: 10px 0 0;
    max-width: 380px;
    background-color: $carbon-gray;
    z-index: $z-tooltip;
  }
}
