@import 'styles/settings';

.c-feedback {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 8px;
  right: 0;
  z-index: 100;
  height: 45px;
  width: 135px;
  background-color: $medium-pink;
  cursor: pointer;
  transform: translateX(90px);
  transition: transform .3s ease-in-out;

  &:hover {
    transform: translateX(0);
  }

  @media print {
    display: none;
  }

  .feedback-label {
    color: $white;
    font-weight: $font-weight-bold;
    font-size: 15px;
    margin-right: 5px;
  }
}
