@import 'styles/settings';

.c-static-content {
  background: $light-gray;
  border-bottom: 1px solid $charcoal-grey-faded-a-lot;
  padding-top: $nav-height + 30px;
  padding-bottom: 132px;

  .container {
    min-height: 100vh;

    > .row {
      justify-content: center;

      @media only screen and (min-width: 850px) {
        justify-content: flex-start;
      }
    }
  }

  .not-found {
    .not-found-text {
      color: $charcoal-grey;
      font-family: $font-family-2;
      font-size: 20px;
      font-weight: $font-weight-light;
      line-height: 1.5;
      text-align: center;

      .emoji {
        font-size: 30px;
      }
    }
  }

  .markdown-content {
    h1,
    h2 {
      font-family: $font-family-3;
      line-height: 1.5;
      margin: 40px 0 0;
      color: $charcoal-grey;

      &:first-child {
        margin: 0;
      }

      @media only screen and (max-width: $breakpoint-foundation-small) {
        &:not(:first-child) {
          margin: 30px 0 0;
        }
      }
    }

    h1 {
      font-size: $font-size-x-big;

      @media only screen and (max-width: $breakpoint-foundation-small) {
        font-size: $font-size-x-regular;
      }
    }

    h2 {
      font-size: $font-size-big;
      line-height: $line-height-xl;
      padding-bottom: 26px;
    }

    h3 {
      font-family: $font-family-3;
      margin: 20px 0 0;
      font-size: $font-size-xxx-regular;
      font-weight: $font-weight-bold;
      line-height: 1.5;
      color: $charcoal-grey;

      @media only screen and (max-width: $breakpoint-foundation-small) {
        font-size: $font-size-medium;
      }

      &:first-child {
        margin: 0;
      }

      @media only screen and (max-width: $breakpoint-foundation-small) {
        &:not(:first-child) {
          margin: 10px 0 0;
        }
      }
    }

    p,
    li {
      color: $charcoal-grey;
      font-family: $font-family-4;
      font-size: $font-size-medium;
      line-height: $line-height-xl;

      &:not(:first-child) {
        margin: 16px 0 0;
      }
    }

    ul {
      margin: 32px 0;
      border-left: 2px solid $gray-400;
      padding-left: 44px;

      li {
        line-height: $line-height-lg;
        position: relative;
        padding-left: 10px;
        list-style-image: url('/images/bullet-point.svg');
      }
    }

    a {
      font-weight: $font-weight-bold;
      text-decoration: underline;
    }
  }
}
