@import 'reset';
@import 'settings';
@import 'helpers';
@import 'icons';
@import 'components/shared/user-report-button';

@font-face {
  font-family: 'DecimaMonoPro';
  font-weight: $font-weight-regular;
  src: url('/fonts/DecimaMonoPro.otf') format('embedded-opentype'),
  url('/fonts/DecimaMonoPro.otf');
}

@font-face {
  font-family: 'DecimaMonoPro';
  font-weight: $font-weight-bold;
  src: url('/fonts/DecimaMonoPro-Bold.otf') format('embedded-opentype'),
  url('/fonts/DecimaMonoPro-Bold.otf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: $font-weight-light;
  src: url('/fonts/Merriweather-Light.ttf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: $font-weight-regular;
  src: url('/fonts/Merriweather-Regular.ttf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: $font-weight-bold;
  src: url('/fonts/Merriweather-Bold.ttf');
}

body {
  &.-overflow-hidden {
    overflow: hidden;
  }
}

.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 $padding-wrap-mobile;

  @media screen and (min-width: $breakpoint-tablet) {
    padding: 0 $padding-wrap-tablet;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    padding: 0 $padding-wrap-desktop;
  }
}

.loading-wrapper { display: block; }

.row {
  &.-equal-height {
    margin-top: -1.25rem;

    div[class^=column], div[class*=column] {
      display: flex;
      flex-direction: column;
      margin-top: 1.25rem;
    }
  }
}

.responsive-container {
  width: 100%;
  height: 100%;
}
