@import 'reset';
@import 'settings';
@import 'helpers';
@import 'icons';

@font-face {
  font-family: 'DecimaMonoPro';
  font-weight: $font-weight-regular;
  src: url('/fonts/DecimaMonoPro.otf') format('embedded-opentype'),
  url('/fonts/DecimaMonoPro.otf');
}

@font-face {
  font-family: 'DecimaMonoPro';
  font-weight: $font-weight-bold;
  src: url('/fonts/DecimaMonoPro-Bold.otf') format('embedded-opentype'),
  url('/fonts/DecimaMonoPro-Bold.otf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: $font-weight-light;
  src: url('/fonts/Merriweather-Light.ttf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: $font-weight-regular;
  src: url('/fonts/Merriweather-Regular.ttf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: $font-weight-bold;
  src: url('/fonts/Merriweather-Bold.ttf');
}

.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 $padding-wrap-mobile;

  @media screen and (min-width: $breakpoint-tablet) {
    padding: 0 $padding-wrap-tablet;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    padding: 0 $padding-wrap-desktop;
  }
}

.loading-wrapper { display: block }

.user-report-feedback {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  right: 0;
  z-index: 100;
  height: 45px;
  width: 135px;
  background-color: $medium-pink;
  cursor: pointer;
  transform: translateX(90px);
  transition: transform .3s ease-in-out;

  &:hover {
    transform: translateX(0);
  }

  .icon {
    height: 28px;
    width: 28px;
    fill: $white;
  }

  .feedback-label {
    color: $white;
    font-weight: $font-weight-bold;
    font-size: 15px;
    margin-right: 5px;
  }
}
