@import 'reset';
@import 'settings';
@import 'helpers';
@import 'icons';
@import 'print';
@import 'fonts';
@import 'tooltip';

body {
  &.txlive-expanded {
    position: static !important;
  }
  &.-overflow-hidden {
    overflow: hidden;
  }
}

.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 $padding-wrap-mobile;

  @media screen and (min-width: $breakpoint-tablet) {
    padding: 0 $padding-wrap-tablet;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    padding: 0 $padding-wrap-desktop;
  }
}

.sticky {
  z-index: $z-nav;
}

.row {
  &.-equal-height {
    margin-top: -1.25rem;

    div[class^='column'],
    div[class*='column'] {
      display: flex;
      flex-direction: column;
      margin-top: 1.25rem;
    }

    &.-flex-end {
      div[class^='column'],
      div[class*='column'] {
        justify-content: flex-end;
      }
    }
  }
}

.responsive-container {
  width: 100%;
  height: 100%;
}
