@import 'reset';
@import 'settings';
@import 'helpers';
@import 'icons';

@font-face {
  font-family: 'DecimaMonoPro';
  font-weight: $font-weight-regular;
  src: url('/public/fonts/DecimaMonoPro.woff2') format('woff2'),
  url('/public/fonts/DecimaMonoPro.woff') format('woff'),
  url('/public/fonts/DecimaMonoPro.otf') format('embedded-opentype'),
  url('/public/fonts/DecimaMonoPro.otf');
}

@font-face {
  font-family: 'DecimaMonoPro';
  font-weight: $font-weight-bold;
  src: url('/public/fonts/DecimaMonoPro-Bold.woff2') format('woff2'),
  url('/public/fonts/DecimaMonoPro-Bold.woff') format('woff'),
  url('/public/fonts/DecimaMonoPro-Bold.otf') format('embedded-opentype'),
  url('/public/fonts/DecimaMonoPro-Bold.otf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: $font-weight-light;
  src: url('/public/fonts/Merriweather-Light.ttf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: $font-weight-regular;
  src: url('/public/fonts/Merriweather-Regular.ttf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: $font-weight-bold;
  src: url('/public/fonts/Merriweather-Bold.ttf');
}

.dark-container {
  background-color: $charcoal-grey;
  padding: 2px;
  margin-bottom: 2px;
}

.components-container {
  margin: 0 0 15px 0;

  &.-spaced {
    > * {
      margin: 0 10px 10px 0;
      &:last-child {
        margin: 0;
      }
    }
  }

  &.-width-200 {
    width: 200px;
  }
}

.chart-container {
  background-color: $charcoal-dark;
  padding: 30px;
}
