@font-face {
  font-family: 'DecimaMonoPro';
  font-weight: $font-weight-regular;
  font-display: swap;
  src: url('/fonts/DecimaMonoPro.woff2') format('woff2'),
  url('/fonts/DecimaMonoPro.woff') format('woff')
}

@font-face {
  font-family: 'DecimaMonoPro';
  font-weight: $font-weight-bold;
  font-display: swap;
  src: url('/fonts/DecimaMonoPro-Bold.woff2') format('woff2'),
  url('/fonts/DecimaMonoPro-Bold.woff') format('woff')
}

@font-face {
  font-family: 'Merriweather';
  font-display: swap;
  font-weight: $font-weight-light;
  src: url('/fonts/Merriweather-Light.woff2') format('woff2'),
  url('/fonts/Merriweather-Light.woff') format('woff')
}

@font-face {
  font-family: 'Merriweather';
  font-display: swap;
  font-weight: $font-weight-regular;
  src: url('/fonts/Merriweather-Regular.woff2') format('woff2'),
  url('/fonts/Merriweather-Regular.woff') format('woff')
}

@font-face {
  font-family: 'Merriweather';
  font-display: swap;
  font-weight: $font-weight-bold;
  src: url('/fonts/Merriweather-Bold.woff2') format('woff2'),
  url('/fonts/Merriweather-Bold.woff') format('woff')
}

@font-face {
  font-family: 'DM Sans';
  font-display: swap;
  font-weight: $font-weight-regular;
  src: url('/fonts/DMSans-Regular.woff2') format('woff2'),
  url('/fonts/DMSans-Regular.woff') format('woff')
}

@font-face {
  font-family: 'Crimson Pro';
  font-display: swap;
  font-weight: $font-weight-regular;
  src: url('/fonts/CrimsonPro-Regular.woff2') format('woff2'),
  url('/fonts/CrimsonPro-Regular.woff') format('woff')
}

@font-face {
  font-family: 'Crimson Pro';
  font-display: swap;
  font-weight: $font-weight-light;
  src: url('/fonts/CrimsonPro-Light.woff2') format('woff2'),
  url('/fonts/CrimsonPro-Light.woff') format('woff')
}

@font-face {
  font-family: 'Space Mono';
  font-display: swap;
  font-weight: $font-weight-bold;
  src: url('/fonts/SpaceMono-Bold.woff2') format('woff2'),
  url('/fonts/SpaceMono-Bold.woff') format('woff')
}