// Remove top google translate navbar
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}

.google-translate {
  max-width: 140px;
  margin-left: 9px;
}
