
.is-absolute {
  position: absolute;
}

.is-hidden {
  display: none !important;
}

.is-visible {
  display: block !important;
}

.is-fixed {
  position: fixed !important;
}

._text-align-right {
  text-align: right !important;
}
