@import 'settings';

.no-events {
  pointer-events: none;
}

.all-events {
  pointer-events: all;
}

.is-absolute {
  position: absolute;
}

.is-hidden {
  display: none !important;
}

.is-visible {
  display: block !important;
}

.is-fixed {
  position: fixed !important;
}

.hide-for-small {
  @media screen and (max-width: $breakpoint-foundation-small) {
    display: none !important;
  }
}

.show-for-small {
  @media screen and (min-width: $breakpoint-foundation-small) {
    display: none !important;
  }
}

._text-align-right {
  text-align: right !important;
}
