@import 'settings';

.no-events {
  pointer-events: none;
}

.all-events {
  pointer-events: all;
}

.is-absolute {
  position: absolute;
}

.is-hidden {
  display: none !important;
}

.is-visible {
  display: block !important;
}

.is-fixed {
  position: fixed !important;
}

.hide-for-small {
  @media (max-width: $breakpoint-foundation-small - 1) {
    display: none !important;
  }
}

.hide-for-tablet {
  @media (max-width: $breakpoint-tablet - 1) {
    display: none !important;
  }
}

.show-for-small {
  @media (min-width: $breakpoint-foundation-small) {
    display: none !important;
  }
}

._text-align-right {
  text-align: right !important;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}