@import 'reset';
@import 'settings';
@import 'fonts';

.ie-splash {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/images/backgrounds/ie-splash.png');
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 0;
}

.notice {
  color: $white;
  margin: 70px 0 0;
  text-align: center;
  font-family: $font-family-2;
  font-weight: $font-weight-light;
  font-size: $font-size-medium;
}

.browser-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 0 0;
  height: 150px;
  width: 100%;
  border: 1px solid rgba($light-gray, 0.6);
  border-radius: 5px;
  cursor: pointer;

  .browser-title {
    color: $white;
    font-family: $font-family-1;
    font-size: $font-size-xx-regular;
    letter-spacing: -0.8px;
    text-align: center;
    margin: 16px 0;
  }

  .browser-logo {
    height: 60px;
    width: 60px;
  }
}
