.only-for-print {
  @media not print {
    display: none;
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  @page {
    size: A4;
    margin: 1cm;
  }

  .page-break-inside-avoid {
    page-break-inside: avoid;
  }

  .page-break-after-avoid {
    page-break-after: avoid;
  }
}
