// layout
$nav-height: 64px;
$titlebar-height: 62px;
$map-width: 320px;
$map-width-closed: 30px;
$layer-map-width: 376px;
$feedback-button-closed-width: 45px;
$map-btn-height: 32px;
$content-max-width: 1040px;
$anchor-list-max-width: calc(100% / 3 - 10%);
$content-width: calc(100% / 3);
$max-width-grid: 1280px;
$nav-padding: 18px;
$sankey-x-margin: 30px;

$padding-wrap-mobile: 24px;
$padding-wrap-tablet: 80px;
$padding-wrap-desktop: 120px;

// typography
$font-family-1: 'DecimaMonoPro', 'Courier New', sans-serif;
$font-family-2: 'Merriweather', serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-small: 10px;
$font-size-regular: 12px;
$font-size-x-regular: 13px;
$font-size-xx-regular: 16px;
$font-size-xxx-regular: 18px;
$font-size-medium: 20px;
$font-size-big: 24px;
$font-size-x-big: 32px;
$font-size-huge: 48px;

// Line height
$line-height-regular: 16px;
$line-height-lg: 31px;

// Breakpoints
$breakpoint-mobile:  425px;
$breakpoint-tablet:  768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1280px;

$breakpoint-foundation-small: 640px;
$breakpoint-foundation-medium: 1024px;

// Animations
$ease-in-out-sine: cubic-bezier(.445, .05, .55, .95);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);


// z-indexes
$z-below-thumb: -1;
$z-below: 0;
$z-base: 1;
$z-above: 2;
$z-above-hero: 3;
$z-above-sidebar-mobile: 4;
$z-veil-below-nav: 88;
$z-above-veil-below-nav: 89;
$z-nav: 90;
$z-search: 91;
$z-veil: 100;
$z-above-veil: 101;
$z-tooltip: 102;
$z-leaflet-above-panes: 500;
$z-above-leaflet: 501;


// colors
$background-white: #f2f2f2;
$light-gray: #f6f6f6;
$mid-light-gray: #e5e5e5;
$medium-gray: #dddddd;
$gray-text: #515253;
$black: #000;
$charcoal-dark: #28343b;
$charcoal-extra-dark: #1B2A32;
$charcoal-grey: #34444c;
$charcoal-grey-toned-down: #536269;
$elephant: #6f7b80;
$charcoal-grey-faded: rgba($charcoal-grey, .6);
$charcoal-grey-faded-a-lot: rgba($charcoal-grey, .2);
$gray: #DFDFDF;
$medium-pink: #ea6869;
$strong-pink: #f65e6e;
$medium-pink-faded: lighten($medium-pink, 20%);
$manilla: #ffeb8b;
$egg-shell: #fff0c2;
$orange: #ffa500;
$pale-grey: #e0e4e8;
$pinkish-grey: #c7c7c7;
$medium-grey: #aaa;
$pinkish-grey-two: #cbcbcb;
$white: #fff;
$white-two: #FBFAFA;
$metal-grey: #ebebeb;


// Miscellaneous
$box-shadow: 0 1px 3px 0 rgba($black, .1), 0 1px 2px 0 rgba($black, .2);
$box-shadow-big: 0 3px 6px 0 rgba($black, .1), 0 3px 6px 0 rgba($black, .2);



// color scales
$recolorgroup-1: $medium-pink;
$recolorgroup-2: $manilla;
$recolorgroup-3: #2d586e;
$recolorgroup-4: #007d29;
$recolorgroup-5: #b4008a;
$recolorgroup-6: #06ff67;
$recolorgroup-7: #8339aa;
$recolorgroup-8: #f3fb00;
$recolorgroup-9: #7193ff;
$recolorgroup-10: #b27200;

$recolorby-qual-thematic-amazonia: #43f3f3;
$recolorby-qual-thematic-cerrado: #517fee;
$recolorby-qual-thematic-mata-atlantica: #8c28ff;
$recolorby-qual-thematic-caatinga: #ff66e5;
$recolorby-qual-thematic-pampa: #72ea28;
$recolorby-qual-thematic-pantanal: #ffb314;
$recolorby-qual-thematic-chaco-seco: #ffb314;
$recolorby-qual-thematic-chaco-humedo: #43f3f3;

$recolorby-stars-red-blue-0: #6F0119;
$recolorby-stars-red-blue-1: #a50026;
$recolorby-stars-red-blue-2: #D72F27;
$recolorby-stars-red-blue-3: #FDAE61;
$recolorby-stars-red-blue-4: #79A8D0;
$recolorby-stars-red-blue-5: #246AB6;

$recolorby-qual-thematic-company-commitment: #C2E699;
$recolorby-qual-thematic-soy-moratorium: #1D6837;
$recolorby-qual-thematic-company-ndpe-commitment: #1D6837;
$recolorby-qual-thematic-none: #e36845;

$recolorby-qual-thematic-tac: #79ae6d;
$recolorby-qual-thematic-tac-\&-g4: #1D6837;



$recolorby-linear-red-blue-7: #6F0119;
$recolorby-linear-red-blue-6: #a50026;
$recolorby-linear-red-blue-5: #D72F27;
$recolorby-linear-red-blue-4: #FDAE61;
$recolorby-linear-red-blue-3: #9FCAE1;
$recolorby-linear-red-blue-2: #79A8D0;
$recolorby-linear-red-blue-1: #5488C0;
$recolorby-linear-red-blue-0: #246AB6;

$recolorby-linear-yellow-green-0: #ffc;
$recolorby-linear-yellow-green-1: #c2e699;
$recolorby-linear-yellow-green-2: #78c679;
$recolorby-linear-yellow-green-3: #31a354;
$recolorby-linear-yellow-green-4: #006837;

$recolorby-percentual-yellow-green-0: #ffffcc;
$recolorby-percentual-yellow-green-1: #e3eebb;
$recolorby-percentual-yellow-green-2: #c6ddab;
$recolorby-percentual-yellow-green-3: #aacd9a;
$recolorby-percentual-yellow-green-4: #8ebc8a;
$recolorby-percentual-yellow-green-5: #71ab79;
$recolorby-percentual-yellow-green-6: #559a69;
$recolorby-percentual-yellow-green-7: #398a58;
$recolorby-percentual-yellow-green-8: #1c7948;
$recolorby-percentual-yellow-green-9: #006837;


$recolorby-percentual-green-red-0: #006837;
$recolorby-percentual-green-red-1: #1a9850;
$recolorby-percentual-green-red-2: #66bd63;
$recolorby-percentual-green-red-3: #a6d96a;
$recolorby-percentual-green-red-4: #d9ef8b;
$recolorby-percentual-green-red-5: #ffffbf;
$recolorby-percentual-green-red-6: #fee08b;
$recolorby-percentual-green-red-7: #fdae61;
$recolorby-percentual-green-red-8: #f46d43;
$recolorby-percentual-green-red-9: #d73027;
$recolorby-percentual-green-red-10: #a50026;
$recolorby-percentual-green-red-11: #6f001a;

$recolorby-colors:
        $recolorby-qual-thematic-pantanal,
        $recolorby-qual-thematic-cerrado,
        $recolorby-qual-thematic-amazonia,
        $recolorby-qual-thematic-mata-atlantica,
        $recolorby-qual-thematic-chaco-seco,
        $recolorby-qual-thematic-chaco-humedo,
        $recolorby-qual-thematic-pampa,
        $recolorby-qual-thematic-caatinga,
        $recolorby-stars-red-blue-0,
        $recolorby-stars-red-blue-1,
        $recolorby-stars-red-blue-2,
        $recolorby-stars-red-blue-3,
        $recolorby-stars-red-blue-4,
        $recolorby-stars-red-blue-5,
        $recolorby-qual-thematic-company-ndpe-commitment,
        $recolorby-qual-thematic-tac-\&-g4,
        $recolorby-qual-thematic-soy-moratorium,
        $recolorby-qual-thematic-tac,
        $recolorby-qual-thematic-company-commitment,
        $recolorby-qual-thematic-none,
        $recolorby-linear-red-blue-0,
        $recolorby-linear-red-blue-1,
        $recolorby-linear-red-blue-2,
        $recolorby-linear-red-blue-3,
        $recolorby-linear-red-blue-4,
        $recolorby-linear-red-blue-5,
        $recolorby-linear-red-blue-6,
        $recolorby-linear-red-blue-7,
        $recolorby-percentual-yellow-green-0,
        $recolorby-percentual-yellow-green-1,
        $recolorby-percentual-yellow-green-2,
        $recolorby-percentual-yellow-green-3,
        $recolorby-percentual-yellow-green-4,
        $recolorby-percentual-yellow-green-5,
        $recolorby-percentual-yellow-green-6,
        $recolorby-percentual-yellow-green-7,
        $recolorby-percentual-yellow-green-8,
        $recolorby-percentual-yellow-green-9,
        $recolorby-linear-yellow-green-0,
        $recolorby-linear-yellow-green-1,
        $recolorby-linear-yellow-green-2,
        $recolorby-linear-yellow-green-3,
        $recolorby-linear-yellow-green-4,
        $recolorby-percentual-green-red-0,
        $recolorby-percentual-green-red-1,
        $recolorby-percentual-green-red-2,
        $recolorby-percentual-green-red-3,
        $recolorby-percentual-green-red-4,
        $recolorby-percentual-green-red-5,
        $recolorby-percentual-green-red-6,
        $recolorby-percentual-green-red-7,
        $recolorby-percentual-green-red-8,
        $recolorby-percentual-green-red-9,
        $recolorby-percentual-green-red-10,
        $recolorby-percentual-green-red-11
;

$recolorby-colors-names:
        '-recolorby-qual-thematic-pantanal',
        '-recolorby-qual-thematic-cerrado',
        '-recolorby-qual-thematic-amazonia',
        '-recolorby-qual-thematic-mata-atlantica',
        '-recolorby-qual-thematic-chaco-seco',
        '-recolorby-qual-thematic-chaco-humedo',
        '-recolorby-qual-thematic-pampa',
        '-recolorby-qual-thematic-caatinga',
        '-recolorby-stars-red-blue-0',
        '-recolorby-stars-red-blue-1',
        '-recolorby-stars-red-blue-2',
        '-recolorby-stars-red-blue-3',
        '-recolorby-stars-red-blue-4',
        '-recolorby-stars-red-blue-5',
        '-recolorby-qual-thematic-company-ndpe-commitment',
        '-recolorby-qual-thematic-tac-\\&-g4',
        '-recolorby-qual-thematic-soy-moratorium',
        '-recolorby-qual-thematic-tac',
        '-recolorby-qual-thematic-company-commitment',
        '-recolorby-qual-thematic-none',
        '-recolorby-linear-red-blue-0',
        '-recolorby-linear-red-blue-1',
        '-recolorby-linear-red-blue-2',
        '-recolorby-linear-red-blue-3',
        '-recolorby-linear-red-blue-4',
        '-recolorby-linear-red-blue-5',
        '-recolorby-linear-red-blue-6',
        '-recolorby-linear-red-blue-7',
        '-recolorby-percentual-yellow-green-0',
        '-recolorby-percentual-yellow-green-1',
        '-recolorby-percentual-yellow-green-2',
        '-recolorby-percentual-yellow-green-3',
        '-recolorby-percentual-yellow-green-4',
        '-recolorby-percentual-yellow-green-5',
        '-recolorby-percentual-yellow-green-6',
        '-recolorby-percentual-yellow-green-7',
        '-recolorby-percentual-yellow-green-8',
        '-recolorby-percentual-yellow-green-9',
        '-recolorby-linear-yellow-green-0',
        '-recolorby-linear-yellow-green-1',
        '-recolorby-linear-yellow-green-2',
        '-recolorby-linear-yellow-green-3',
        '-recolorby-linear-yellow-green-4',
        '-recolorby-percentual-green-red-0',
        '-recolorby-percentual-green-red-1',
        '-recolorby-percentual-green-red-2',
        '-recolorby-percentual-green-red-3',
        '-recolorby-percentual-green-red-4',
        '-recolorby-percentual-green-red-5',
        '-recolorby-percentual-green-red-6',
        '-recolorby-percentual-green-red-7',
        '-recolorby-percentual-green-red-8',
        '-recolorby-percentual-green-red-9',
        '-recolorby-percentual-green-red-10',
        '-recolorby-percentual-green-red-11';

$recolorgroup-colors: $recolorgroup-1, $recolorgroup-2, $recolorgroup-3, $recolorgroup-4, $recolorgroup-5, $recolorgroup-6, $recolorgroup-7, $recolorgroup-8, $recolorgroup-9, $recolorgroup-10;

$recolorgroup-colors-names: '-recolorgroup-1', '-recolorgroup-2', '-recolorgroup-3', '-recolorgroup-4', '-recolorgroup-5', '-recolorgroup-6', '-recolorgroup-7', '-recolorgroup-8', '-recolorgroup-9', '-recolorgroup-10';



// choropleth
$ch-zero: $white;
$ch-na: #D8CCA1;

$ch-red-0: #F5B7AD;
$ch-red-1: #F28789;
$ch-red-2: #EF4F60;
$ch-red-3: #95232F;
$ch-red-4: #4F0008;

$ch-legend-0: #40B9BB;
$ch-legend-1: #6C3BC6;
$ch-legend-2: #ED4E63;
$ch-legend-3: #2D755D;
$ch-legend-4: #FFA473;

// profile choropleth
// For now we'll use the same color scheme as in the tool, when we include more buckets this has to change.
$ch-profile-n-a: $ch-na;
$ch-profile-red-0: $ch-red-0;
$ch-profile-red-1: $ch-red-1;
$ch-profile-red-2: $ch-red-2;
$ch-profile-red-3: $ch-red-3;
$ch-profile-red-4: $ch-red-4;
$ch-profile-red-5: $ch-red-4;
$ch-profile-red-6: $ch-red-4;
$ch-profile-red-7: $ch-red-4;

$choropleth-colors: (
  ch-red-0: $ch-red-0,
  ch-red-1: $ch-red-1,
  ch-red-2: $ch-red-2,
  ch-red-3: $ch-red-3,
  ch-red-4: $ch-red-4
);

$ch-profile-legend-0: $ch-legend-0;
$ch-profile-legend-1: $ch-legend-1;
$ch-profile-legend-2: $ch-legend-2;
$ch-profile-legend-3: $ch-legend-3;
$ch-profile-legend-4: $ch-legend-4;
$ch-profile-legend-5: $ch-legend-4;
$ch-profile-legend-6: $ch-legend-4;
$ch-profile-legend-7: $ch-legend-4;
