@import 'settings';

a {
  color: $charcoal-grey;
  text-decoration: none;
 }

.title {
  color: $charcoal-grey;
  font-family: $font-family-2;
  line-height: 1.5;

  &.-big {
    font-size: $font-size-huge;
  }

  &.-medium {
    font-size: $font-size-big;
  }

  &.-medium-small {
    font-size: $font-size-medium;
  }

  &.-small {
    font-size: $font-size-x-regular;
  }

  &.-pink {
    color: $medium-pink;
  }

  &.-grey {
    color: $charcoal-grey;
  }

  &.-mono-font {
    font-family: $font-family-1;
    font-size: $font-size-xx-regular;
    font-weight: $font-weight-regular;
    letter-spacing: -1.3px;
  }

  &.-light {
    font-weight: $font-weight-light;
  }

  &.-regular {
    font-weight: $font-weight-regular;
  }

  &.-white {
    color: $white;
  }
}

.subtitle {
  font-family: $font-family-1;
  font-size: 13px;
  font-weight: $font-weight-light;
  letter-spacing: $letter-spacing-x-narrow;
  text-transform: uppercase;
  color: $strong-pink;

  &.-white {
    color: $white;
  }

  &.-gray {
    color: $charcoal-grey-faded;
  }

  &.-dark {
    color: $charcoal-grey;
  }

  // for overriding scenarios
  &.-pink {
    color: $strong-pink;
  }
}

.-light {
  font-weight: $font-weight-light;
}

strong,
.-bold {
  font-weight: $font-weight-bold;
}

.-center {
  text-align: center;
}

sup,
sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

.axis-legend {
  font-family: $font-family-1;
  font-size: $font-size-x-regular;
  color: rgba($charcoal-grey, .6);
}

.content-link {
  color: $charcoal-grey;
  font-weight: $font-weight-bold;
}
