// entry point to homepage styles
@import
'base',
'texts',
'mixins',
'foundation',

'layouts/l-about',

'components/shared/button',

'components/shared/nav',
'components/shared/anchor-list',
'components/shared/hero',
'components/shared/footer',

'components/about/about';
