@import
'base',
'texts',
'mixins',
'foundation',

'layouts/l-dashboard-element',

'components/shared/top-nav',
'components/shared/footer',
'components/shared/burger',
'components/shared/locale-selector',
'components/shared/simple-modal',
'components/shared/button',
'components/shared/search-input',
'components/shared/block-switch',
'components/shared/grid-list-item',
'components/shared/tabs',

'components/dashboard-element/dashboard-modal-footer',
'components/dashboard-element/dashboard-panel',
'components/dashboard-element/dashboard-welcome',
'components/dashboard-element/dashboard-element'
;
