// entry point to homepage styles
@import
'base',
'texts',
'mixins',
'foundation',

'layouts/l-homepage',

'components/shared/button',
'components/shared/locale-selector',

'components/shared/top-nav',
'components/shared/footer',
'components/shared/selector',
'components/shared/hero',
'components/shared/newsletter',
'components/shared/animated-flows',
'components/shared/world-map',
'components/shared/units-tooltip',
'components/shared/card',
'components/shared/quote-card',

'components/homepage/slider-section',
'components/homepage/author-footer',
'components/homepage/twitter-feed',
'components/homepage/home-video',
'components/homepage/sentence-selector',
'components/homepage/entrypoints',
'components/homepage/homepage';
