@import 'base',
  'texts',
  'foundation',
  'layouts/l-profile-root',
  'components/shared/top-nav',
  'components/shared/spinner',
  'components/shared/footer',

  'components/profiles/error-message',

  'components/profile-root/profile-root',
  'components/profile-root/profile-search',
  'components/profile-root/profile-search-result'
;
