// entry point to homepage styles
@import
'base',
'texts',
'foundation',

'components/shared/button',
'components/shared/nav-sidebar',
'components/shared/nav',
'components/shared/hero',
'components/shared/footer',
'components/shared/newsletter',
'components/static-content/static-content';
