@import 'styles/settings';

.c-dashboard-root {
  position: relative;
  z-index: $z-above;
  padding: 60px 0;

  .dashboard-root-title {
    color: $white;
    font-size: $font-size-big;
    font-family: $font-family-2;
    font-weight: $font-weight-light;
    text-align: center;
    margin: 0 0 60px;

    @media screen and (min-width: $breakpoint-foundation-medium){
      font-size: 40px;
    }
  }

  .dashboard-root-grid {
    min-height: 470px;

    .dashboard-root-item {
      margin: 0 0 40px;
    }
  }
}
