@import 'css/settings';

.c-chart-tooltip {
  padding: 10px 20px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
  background-color: $color-white;
  color: $color-gray-1;
  border-radius: 2px;
  font-size: $font-size-default;

  .data-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &.right {
      justify-content: flex-end;
      text-align: right;
    }
  }

  .data-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 20px;
  }

  .break-label {
    font-size: 14px;
    font-style: italic;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .data-color {
    width: 12px;
    height: 12px;
    min-height: 12px;
    min-width: 12px;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 5px;
  }
}