.c-dashboards-root {
  padding: 60px 0;

  .title {
    margin: 0 0 60px;
    color: $white;
    font-size: 46px;
    font-weight: 300;
    line-height: 1.22;
    text-align: center;
    letter-spacing: -1px;
  }

  .dashboards-root-grid {
    .dashboard-root-item {
      margin: 0 0 40px;
    }
  }
}
