@import 'styles/settings';

.c-ranking-widget {
  font-size: 12px;
  color: $charcoal-grey;

  .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  a {
    color: $charcoal-grey;

    &:hover {
      .item-name {
        text-decoration: underline;
      }
    }
  }

  .item-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .item-value {
    margin-left: 10px;
  }

  .item-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: $strong-pink;
    color: $white;
    border-radius: 50%;
    margin-right: 10px;

    .item-number {
      margin-top: -3px;
    }
  }
}
