@import 'styles/settings';

$desktop-nav-min-width: 960px;
$desktop-nav-sides-margin: 20px;

.c-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 0 20px;
  height: $nav-height;
  font-family: $font-family-1;
  background-color: transparent;
  z-index: $z-nav;
  transition: all 150ms ease-in;

  &.-has-background {
    background-color: $light-gray;
    box-shadow: 0 10px 20px 0 rgba($charcoal-grey, 0.2);

    .top-nav-link,
    .top-nav-toggle-btn {
      color: $charcoal-grey;
    }

    .locale-selector-selected-item,
    .locale-selector-menu-item {
      color: $charcoal-grey;
    }
  }

  &:not(.-has-background) {
    .top-nav-link {
      &.-hide-when-on-top {
        display: none;
      }
    }

    .top-nav-search {
      .icon-search {
        color: $white;
      }
    }
  }

  &.-light {
    .top-nav-link,
    .top-nav-toggle-btn {
      color: $charcoal-grey;
    }

    .locale-selector-selected-item,
    .locale-selector-menu-item {
      color: $charcoal-grey;
    }

    .top-nav-search {
      .icon-search {
        color: $charcoal-grey;
      }
    }
  }

  @media print {
    display: none;
  }

  .top-nav-bar {
    height: $nav-height;
  }

  .top-nav-search {
    .icon-search {
      margin: 0 10px 0 10px;
      width: 24px;
      height: 24px;
    }
  }

  .-desktop-menu {
    display: none;
  }

  @media screen and (min-width: $desktop-nav-min-width) {
    .-desktop-menu {
      display: flex;
    }

    .-mobile-menu {
      display: none;
    }
  }
}

.top-nav-item-list-container {
  display: flex;
  height: 100%;
  align-items: center;

  &.-flex-end {
    justify-content: flex-end;
  }
}

.top-nav-item-list {
  display: inline-flex;
  height: $nav-height;
}

.top-nav-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin: 0 6px;
  font-size: 16px;
  font-weight: $font-weight-bold;
  letter-spacing: 0.5px;
  cursor: pointer;

  &:first-child {
    margin: 0 6px 0 0;

    .top-nav-link {
      padding: 0 10px 0 0;
    }
  }

  &:hover {
    .top-nav-link::after {
      width: 100%;
    }
  }

  &.-no-margin {
    margin: 0;
  }

  .icon-download-pdf {
    height: 25px;
    transform: translateY(1px);
  }

  .top-nav-logo-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-transform: lowercase;
    font-size: $font-size-medium;
    width: 135px;
    height: 100%;
  }
}

.top-nav-link {
  padding: 0 10px;
  color: $white;
  text-align: center;
  text-transform: uppercase;

  &::after {
    display: block;
    position: absolute;
    content: '';
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: $strong-pink;
    transition: width 150ms ease-in;
  }

  &.-active {
    &::after {
      width: 100%;
    }
  }

  &.-logo {
    &::after {
      content: none;
    }

    img {
      width: 60px;
    }
  }

  &.-new-logo {
    &::after {
      content: none;
    }

    img {
      width: 135px;
    }
  }
}

.locale-selector-selected-item,
.locale-selector-menu-item {
  color: $white;
  font-family: $font-family-1;
  font-size: 16px;
  font-weight: $font-weight-bold;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;

  &::after {
    content: none;
  }
}

.top-nav-item .c-locale-selector .locale-selector-selected-item {
  &::after {
    border-top-color: $strong-pink;
  }
}

.top-nav-toggle-btn {
  position: fixed;
  right: 24px;
  color: $white;
  cursor: pointer;

  .icon {
    width: 22px;
    height: 22px;
  }
}

.top-nav-collapse {
  background-color: $background-white;
  box-shadow: $box-shadow;

  .top-nav-item-list-collapse {
    padding: 28px 0px;
  }

  .top-nav-item-collapse {
    display: block;
    padding: 12px 0px;
    font-size: 16px;
    font-weight: $font-weight-bold;
    letter-spacing: 0.5px;

    .c-locale-selector {
      display: block;

      .locale-selector-selected-item {
        width: auto;

        &::after {
          border-top-color: $strong-pink;
        }
      }

      .locale-selector-menu {
        min-width: auto;
      }
    }
  }

  .top-nav-link-collapse {
    display: inline-block;
    padding: 0;
    color: $charcoal-grey;
    text-align: center;
    text-transform: uppercase;

    &::after {
      display: block;
      content: '';
      height: 3px;
      width: 0;
      background-color: $strong-pink;
      transition: width 150ms ease-in;
    }

    &.-active {
      &::after {
        width: auto;
      }
    }
  }
}
