@import 'styles/settings';

.c-new-cookie-banner {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  background-color: $white;

  padding: 20px;

  z-index: $z-above-veil;
  box-shadow: $box-shadow;
  animation: appear 300ms 2s forwards;

  @keyframes appear {
    0% { transform: translateY(100%) }
    100% { transform: translateY(0) }
  }

  .cookie-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
  }

  .cookie-text {
    margin-right: 20px;
  }
}
