@import 'styles/settings';

.c-accordion {
  color: $charcoal-grey;
  margin-bottom: 30px;

  .button {
    cursor: pointer;
  }

  .seeMore {
    padding: 0 5px;
  }

  .content {
    margin-top: 10px;
  }
}