@import 'styles/settings';

.c-team {

  .team-group {
    padding: 40px 0 0;

    &:first-child {
      padding: 0;
    }
  }

  .team-list {
    padding: 20px 0 0;
    margin-left: -1.25rem;
    margin-right: -1.25rem;

    @media screen and (min-width: $breakpoint-foundation-small) {
      margin: 0;
    }
  }

  .team-list-item {
    flex: 1;
    &:hover {
      .team-list-item-subtitle {
        opacity: 1;
      }
    }
  }

  .team-list-item-title {
    margin-top: 10px;
  }

  .team-list-item-subtitle {
    opacity: 1;
    transition: opacity 300ms ease-in-out;

    @media screen and (min-width: $breakpoint-foundation-small) {
      opacity: 0;
    }
  }
}

