.c-team {
  .team-list {
    margin: 0 0 -20px;
  }
  .team-list-item {
    margin: 42px 0 0;

    &:hover {
      .team-list-item-subtitle {
        opacity: 1;
      }
    }
  }

  .team-list-item-subtitle {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
}

.c-team-member {

  .team-member-profile-picture-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 290px;
    width: 100%;
  }
}

.c-team-profile-picture {
  height: 260px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
