@import 'styles/settings';

.c-team-profile-picture {
  height: 260px;
  width: 100%;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;

  &.-placeholder {
    background-color: $charcoal-grey-faded-a-lot;
  }
}