.c-team {

  .team-group {
    padding: 40px 0 0;

    &:first-child {
      padding: 0;
    }
  }

  .team-list {
    padding: 20px 0 0;
    margin-left: -1.25rem;
    margin-right: -1.25rem;

    @media screen and (min-width: $breakpoint-foundation-small) {
      margin: 0;
    }
  }

  .team-list-item {
    flex: 1;
    &:hover {
      .team-list-item-subtitle {
        opacity: 1;
      }
    }
  }

  .team-list-item-title {
    margin-top: 10px;
  }

  .team-list-item-subtitle {
    opacity: 1;
    transition: opacity 300ms ease-in-out;

    @media screen and (min-width: $breakpoint-foundation-small) {
      opacity: 0;
    }
  }
}

.c-team-member {

  .team-member-profile-picture-container {
    height: 290px;
    width: 100%;

    .c-team-profile-picture {
      margin: 10px 0 0;
    }
  }

  .team-member-details {
    margin: 18px 0 0;
  }

  .team-member-bio {
    margin-top: 20px;
  }
}

.c-team-profile-picture {
  height: 260px;
  width: 100%;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;

  &.-placeholder {
    background-color: $charcoal-grey-faded-a-lot;
  }
}
