@import 'styles/settings';

.c-sentence-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sentence-selector-text {
    color: $charcoal-grey;
    text-align: center;
    font-family: $font-family-2;
    font-weight: 300;
    line-height: 1.58;

    &.-nowrap {
      white-space: nowrap;
    }
  }

  .sentence-selector-text,
  .dropdown-value {
    font-size: $font-size-xxx-regular;
    @media screen and (min-width: $breakpoint-foundation-small) {
      font-size: $font-size-medium;
    }

    @media screen and (min-width: $breakpoint-foundation-medium) {
      font-size: $font-size-big;
    }
  }

  .sentence-selector-is-faded {
    opacity: 0.3;
  }
}
