@import 'styles/settings';

.c-block-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .block-switch-element {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 150px;

    @media screen and (min-width: $breakpoint-laptop) {
      width: 300px;
    }

    height: 80px;
    padding: 0 10px 0 20px;
    border: solid 2px rgba($main-dark-blue, 0.2);
    border-radius: 5px;
    margin: 0 15px 0 0;
    cursor: pointer;

    &:hover {
      border: solid 2px rgba($main-dark-blue, 0.5);
    }

    &:last-child {
      margin: 0;
    }

    &.-active {
      background-color: $main-dark-blue;
    }
  }

  .block-switch-image {
    height: 50px;
    width: 60px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
