@import 'styles/settings';

.c-dashboard-welcome {
  padding: 40px 30px;
  overflow: auto;
  max-height: 100%;

  .title {
    margin: 0 0 45px;
    font-family: $font-family-2;
    font-size: $font-size-huge;
    font-weight: $font-weight-light;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.79;
    letter-spacing: -1px;
    text-align: center;
    color: $charcoal-grey;
  }

  .dashboard-welcome-container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $breakpoint-laptop) {
      flex-direction: row;
    }
    margin: 15px 0 0;
  }

  .dashboard-welcome-card {
    font-family: $font-family-2;
    width: 300px;
    margin: 0 25px 0 0;

    &:last-child {
      margin: 0;
    }

    h3 {
      font-size: $font-size-medium;
      font-weight: $font-weight-bold;
      font-style: normal;
      line-height: 1.6;
      letter-spacing: normal;
      color: $charcoal-grey;
      margin-bottom: 10px;
      height: 28px;
    }

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100% - 28px);
    }

    .dashboard-welcome-card-text {
      font-size: 15px;
      font-weight: $font-weight-light;
      line-height: 1.9;
      letter-spacing: normal;
      color: $charcoal-grey;
    }

    .dashboard-welcome-card-image {
      height: 170px;
      max-height: 170px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .dashboard-welcome-button-container {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }
}
