name: Front end checks

on:
  push:
    branches-ignore:
      - master
      - develop
jobs:
  lint_and_tests:
    name: Front end code quality tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2.5.1
        with:
          node-version: '12.16.3'
      - name: Install modules
        run: yarn
      - name: Verify Linting
        run: yarn ci:lint
      - name: Run tests
        run: yarn test
  build:
    name: Verify build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2.5.1
        with:
          node-version: '12.16.3'
      - name: Install modules
        run: yarn install
      - name: Run build
        run: yarn build