@import 'styles/settings';

.c-context-selector {
  cursor: pointer;

  .dropdown-title {

    &.-label {
      text-align: center;
    }
  }

  .context-selector-content {
    position: absolute;
    top: $nav-height;
    left: 0;
    background-color: $white;
    box-shadow: $box-shadow-big;
    z-index: $z-above;
    max-width: calc(100vw - 3rem);

    @media screen and (min-width: $breakpoint-foundation-medium) {
      max-width: none;
    }
  }

  .context-selector-featured-header {
    position: relative;
    height: 125px;
    width: 100%;
    background-color: $charcoal-grey;
    background-image: url('/images/backgrounds/featured-context.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 25px;

    .icon {
      position: absolute;
      height: 14px;
      width: 14px;
      right: 10px;
      top: 10px;
      color: $white;
    }

    span {
      display: block;
    }

    .featured-header-title {
      font-family: $font-family-1;
      font-size: $font-size-small;
      font-weight: normal;
      letter-spacing: .5px;
      text-transform: uppercase;
      color: $white;
    }

    .featured-header-new-context-name {
      margin-top: 2px;
      height: 20px;
      font-family: $font-family-2;
      font-size: $font-size-xx-regular;
      font-weight: normal;
      letter-spacing: .5px;
      text-transform: capitalize;
      color: $white;
    }
  }

  .context-list-tabs {
    display: flex;

    .tab {
      margin-left: 25px;
      height: 40px;
      line-height: 40px;
      font-family: $font-family-1;
      font-size: $font-size-x-regular;
      font-weight: normal;
      letter-spacing: -.8px;
      text-transform: uppercase;
      color: $charcoal-grey;
      opacity: .5;
      cursor: pointer;

      &.-selected {
        opacity: 1;
        border-bottom: solid 2px $medium-pink;
      }
    }
  }

  .dimension-container {
    display: flex;
    border-top: 1px solid $pale-grey;

    .dimension-list {
      padding: 5px 0;
      width: 210px;
      overflow: auto;
      border-right: 1px solid $pale-grey;
      cursor: default;

      &:last-child {
        border-left: 0;
      }
    }

    .dimension-list-item {
      padding: 12px 25px;
      color: $charcoal-grey;
      text-transform: capitalize;
      font-family: $font-family-2;
      font-size: $font-size-xx-regular;
      font-weight: normal;
      cursor: pointer;

      &:hover {
        background-color: $green-200;
      }

      &.-selected {
        background-color: $green-200;
      }

      &.-disabled {
        color: rgba($charcoal-grey, .5);
        background-color: transparent;
        cursor: default;
      }
    }
  }

  .context-selector-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    background-color: $background-white;
    cursor: default;

    @media screen and (min-width: $breakpoint-foundation-small) {
      height: 25px;
    }

    .context-selector-footer-text {
      font-family: $font-family-1;
      font-size: $font-size-x-regular;
      font-weight: 500;
      color: $charcoal-grey-faded;
      letter-spacing: -.5px;
      text-align: center;
      text-transform: uppercase;

      @media screen and (min-width: $breakpoint-foundation-small) {
        font-size: $font-size-small;
      }
    }
  }
}
